<%= div_for invite do %>
	<table>
		<tr>
	<% if u = User.find_by_email(invite.email) %>
		<td><%= raster_profile_picture(u) %></td>
		<td><%= u.name %></td>
	<% else %>
		<td width="54" height="50"></td>
	  <td><%= invite.email %></td>
	<% end %>
		<tr>
	</table>
<% end %>
