<div>
<% provide(:title, ' | About') %>
	<div class="text part">
		<h1>What we believe</h1>
		<p>
			We believe the best life is full of creative adventures with friends
		</p>

		<h1>The Goal</h1>
		<p>
			We're working to make it hassle-free to coordinate creative social 
			activities with friends.
		</p>

		<h1>The Team</h1>
		<p><strong>Michael Fenchel</strong><p>

		<p>
			Mike loves learning and creativity, especially if it involves playing 
			and/or good ol' fashioned competition (challenge him to something.. 
			anything). He's done a few start-ups before, but none as exciting 
			as hoos.in, which started as a personal project to use with friends. 
			Mike shares in design/development, leads user acquisition and 
			Feedback Fiestas, dreams up features, sweeps the floors and holds 
			down the fort. 
		</p>
<br>
		<p><strong>Adam Braus</strong></p>
		<p>
			Adam is a globe trotter and an tech dork. He has lived and worked 
			and even started businesses on three continents and brings that 
			experience to hoos.in. Along with leading UX development, Adam 
			shares in design/dev, negotiates partnership opportunities (via 
			bike-ride), takes out the trash and keeps things exciting and 
			scholarly.
		</p>
<br>
		<p><strong>Alex Offerdahl</strong></p>
		<p>

		</p>

		<p>reach us at info@hoos.in</p>
	</div>
</div>