<div>
<% provide(:title, ' | About') %>
	<div class="text">
		<p><strong>hoos.in's mission is to make it easy to lead a social, fun, and adventurous lifestyle.</strong></p>

		<p> We're working to make it hassle-free to coordinate creative social activities by broadcasting your ideas to friends' social calendars and automatically tracking and updating hoo's in. Basically, with hoos.in, you spend less time planning and more time mountain-climbing. </p><br>


		<p><strong>What's Next</strong><br>
		We're adapting quickly to make our site as awesome for our users as we think it can be. We have a lot of ideas, but what we need is your feedback. We're devoting time every night to adding fixes/features solely from user input. View the (hoos.in user- link) to be invited to our weekly Feedback Fiesta, or send us an (email -link) and help make living a kickass lifestyle easy!

		<h1>The Team</h1>
		<p><strong>Michael Fenchel</strong><p>
		<p>Mike loves learning and creativity, especially if it involves playing and/or good ol' fashioned competition (challenge him to something.. anything). He's done a few start-ups before, but none as exciting as hoos.in, which started as a personal project to use with friends. Mike shares in design/development, leads user acquisition and Feedback Fiestas, dreams up features, sweeps the floors and holds down the fort. Contact Mike. </p>

		<p><strong>Adam Braus</strong></p>
		<p>Adam is a globe trotter and an tech dork. He has lived and worked and even started businesses on three continents and brings that experience to hoos.in. Along with leading UX development, Adam shares in design/dev, negotiates partnership opportunities (via bike-ride), takes out the trash and keeps things exciting and scholarly. Contact Adam.</p>
	</div>
</div>