<div>
<% provide(:title, ' | about') %>
	<div class="text part">
		<h1>
			We believe <br> the best life is full of <br> creative adventures <br> with friends, colleagues, and family
		</h1>
		
		<p><strong>Michael Fenchel</strong><p>

		<p>
			Mike loves learning and creativity, especially if it involves playing and/or good old fashioned competition (challenge him to something...anything). He's done a few start-ups before, but none as exciting as hoos.in, which started as a personal project to use with friends. Mike shares in design/development, leads user acquisition and Feedback Fiestas, dreams up features, sweeps the floors, and holds down the fort. 
		</p>
<br>
		<%= image_tag 'train_snow.jpg', width:'40%', style:"float:left;" %>
		<p><strong>Adam Braus</strong></p>
		<p>
			Adam is a globetrotter and a tech dork. He has lived, worked, and even started businesses on three continents and brings that experience to hoos.in. Along with leading UX development, Adam shares in design/dev, negotiates partnership opportunities (via bike ride), takes out the trash, and keeps things exciting and scholarly. 
		</p>
<br>
<% if false %>
		<p><strong>Alex Offerdahl</strong></p>
		<p>
			Alex is a ball of energy. She's writing her life story, one creative experience at a time. Alex learns through adventure and thinks in color. Attracted to discovery, Alex is always having interesting and insightful conversations (feel free to strike up a convo with her). She likes to be challenged and uses her competitive upbringing to her advantage. She has worked with a few other startups but nothing as rewarding as hoos.in. Alex specializes in social media and marketing, with a background in digital studies.
		</p>

		<br>
		<% end %>

		<p><strong>The Train</strong></p>
		<p>The hoos.in office is on the yellow locomotive at the Historic Train Depot in Madison, Wisconsin. 640 W. Washington Ave, Train Car E, to be exact.</p>
		<br>
		<p>drop by the train, drop us a post card, or reach us at info@hoos.in</p>
		<br>
		<p>~ the hoos.in team</p>
		<br>
	</div>
</div>