<% provide(:title, ' | Careers') %>
<div class="text part">
	<h1>Team Members Wanted</h1>
	<p><strong>We're a young company based in Madison, WI looking for talented individuals to join our team.</strong></p> 
	<p>We enable our users to lead the social, adventurous lifestyle they want- and we make that the highest priority for team members as well. We keep it simple: if you have the talent, the personality, the experience and/or willingness to learn and the drive to excel, we want you on our team. If that sounds like you and you think you'd absolutely rock one of the following roles, send a letter of intent, resume and any relevant links to info@hoos.in.</p>

	<h2>Marketing/Communications Intern</h2>
	<p>
		Looking for up to 3 students/recent graduates to run our Marketing efforts. Interns will have the opportunity to be involved with decision making and strategy on all levels and given the freedom and resources to execute their own ideas. Social media, ground marketing, event promotion, event organizing, PR experience a plus. Apply.
	</p>
	<h2>Frontend Developer</h2>
	<p>
		Should have a portfolio of projects demonstrating excellence in the design of the user experience and its implementation in javascript and CSS. CoffeeScript a plus.
	</p>

	<h2>Backend Developer</h2>
	<p>
		Should have a portfolio of projects demonstrating mastery of at least one major backend language and at least some experience with Ruby on Rails. Heroku a big plus.
	</p>

	<h2>iOS Mobile Developer</h2>
	<p>
		Should . . . you get the idea :o)
	</p>
	<h2>Designer</h2>
	<p>
		Should have a portfolio of projects demonstrating mastery of photoshop and illustrator or equivalents as well as a flexible style or a style amenable to hoos.in.
	</p>

</div>