<% provide(:title, ' | Careers') %>
<%= render 'layouts/logo' %>
<div class="careers">
	<h1>Team Members Wanted</h1>
	<p>We are realspace company.</p> 
	<p>We enable our users to have adventures every day in the real world with their friends and neighbors and those people's friends. Our goal is to help folks form real social networks in the real world.</p>
	<p>hoos.in is also a real social network in the real world made up of people who are commited to this vision and want to be a part of it</p>
	<p>We say "Yes" to invitations. We build relationships and trust. We have fun.</p>
	<p>hoos.in is looking for teammembers to fill the following rolls.</p>

	<h2>Frontend Developer</h2>
	<p>
		Should have a portfolio of projects demonstrating excellence in the design of the user experience and its implementation in javascript and CSS.
	</p>

	<h2>Backend Developer</h2>
	<p>
		Should have a portfolio of projects demonstrating mastery of at least one major backend language and at least some experience with Ruby on Rails.
	</p>

	<h2>Designer</h2>
	<p>
		Should have a portfolio of projects demonstrating mastery of photoshop and illustrator or equivalents as well as a flexible style or a style amenable to hoos.in.
	</p>

	<h2>Marketer</h2>
	<p>
		Should have a resume of experience in tayloring marketing plans for location specific products using conventional and unconventional marketing tactics. Experience in venue promotion and/or viral web marketing a plus.
	</p>
<h1>Apply</h1>
<p>Send a brief personal letter of intent and a brief resume consisting mainly of links to projects you have worked on to the following address:</p>
<p>info@hoos.in</p>
</div>