<% provide(:title, 'Home') %>
<div class="center hero-unit">
  <h1>Shalendar</h1>

  <h2>
  	This is a badass social calendar
  </h2>

  <%= link_to "Sign up now!", new_user_registration_path , class: "btn btn-large btn-primary" %>
</div>