<div class="center hero-unit">
  <h1>Calenshare</h1>

  <h2>
  	What do you have to share?
  </h2>

  <%= link_to "Sign up now!", new_user_registration_path , class: "btn btn-large btn-success" %>
</div>

