<div class="center hero-unit">
  <h1>Calenshare</h1>

  <h2>
  	What do you have to share?
  </h2>
<% if false %>
  <%= link_to "Sign up now!", new_user_registration_path , class: "btn btn-large btn-success" %>

<% end %>


      <div id="auth-status">
          <a href="#" id="auth-loginlink" class="fb-login-button">Use Facebook to Login</a>
      </div>
</div>