<% provide(:title, "") %>
<div class="dashboard">
<%= render 'layouts/logo' %>
</div>
<div class="hero-unit">
  <h1>
  	Do Great Things with friends.
    <p>We make it easy.</p>
  </h1>

  <%= image_tag('hoosin_landing.png') %>


  	<div class="login_buttons">
      <div id="auth-status" class="fb_button fb_login_button">
          <a href="#" id="auth-loginlink" class="fb-login-button"><span class="btn_fb_login"></span></a>
      </div>
      <div class="nativeLogin">
        <p><%= link_to "Login", new_user_session_path %></p>
        <p>or, <%= link_to "Join here", new_user_registration_path %></p>
      </div>
    </div>
</div>

<div class="instagramFeed">
  <h3>Instagram Photos taged with <span>#hoosin</span></h3>
  <div class="instagram"></div>
  <a href="#morePics" id="instaButton"> More</a>
</div>