<% provide(:title, " | Welcome") %>
<div class="center hero-unit">

  <h1>
  	Have fun with friends.
    <p>This makes it easy.</p>
  </h1>

  <%= image_tag('calenshare_landing_123.png') %>


  	<div class="fb_button">
      <div id="auth-status">
          <a href="#" id="auth-loginlink" class="fb-login-button"><span class="btn_fb_login"></span></a>
      </div>
    </div><br>
  or, <%= link_to "Join here", new_user_registration_path , class: "" %>

</div>

