<div class="center hero-unit">
  <h1>Calenshare</h1>

  <h2>
  	What do you have to share?
  </h2>
  	<div class="fb_button">
      <div id="auth-status">
          <a href="#" id="auth-loginlink" class="fb-login-button"><span class="btn_fb_login"></span></a>
      </div>
    </div><br>
  or, <%= link_to "Join here", new_user_registration_path , class: "" %>



</div>

