<%= render 'terms_header' %>
<div>
<p>
	Welcome to hoos.in! hoos.in is an online and mobile service that allows you to find, create, and share awesome things in your community and city. hoos.in lets you create your own events, called "ideas" and view and follow other users' ideas on hoos.in (the "Site"), on our application for mobile devices (the “Mobile Software”), and through third party applications. We call the services available on the Site, whether accessed directly, or through the Mobile Software or such third party applications, the “Service(s).”
</p>

<p>
	The hoos.in Service is provided by Calenshare, LLC., however, we will refer to our company and Service as “hoos.in” to keep things simple. Please read these Terms carefully, and contact us if you have any questions. By accessing or using the hoos.in Service, you agree to be bound by these Terms and by our Privacy Policy, whether or not you are a registered user of our Service. These Terms apply to all visitors, registered users, and others who access the Service (“Users”).
</p>

<ol>

	<li>
		<h5>Sharing Your Content</h5>
		<dl>
			<dt>Your content.</dt>
			<dd>
				hoos.in allows you to post content on the Service, including events, gatherings, photos, comments, and other plans or materials. Anything that you post, display, or otherwise make available on our Service, including all Intellectual Property Rights (defined below) in such content, is referred to as “User Content.” You retain all of your rights in all of the User Content you post to our Service.
			</dd>
			<dt>How hoos.in and other users can use your content.</dt>
			<dd>
				Subject to any applicable account settings you select, you grant us a non-exclusive, royalty-free, transferable, sublicensable, worldwide license to use, display, reproduce, modify (e.g., re-format), re-arrange, and distribute your User Content on hoos.in for the purposes of operating and providing the Service(s) to you and to our other Users. Nothing in these Terms shall restrict hoos.in’s rights under separate licenses to User Content. Please remember that the hoos.in Service is a public platform, and that other Users may search for, see, or attend any User Content that you make publicly available through the Service.
			</dd>
			<dt>How long we keep your content:</dt>
			<dd>
				Following termination or deactivation of your account, or if you remove any User Content from your account or your ideas or comments, hoos.in may retain your User Content for a commercially reasonable period of time for backup, archival, or audit purposes. Furthermore, hoos.in and other Users may retain and continue to display, reproduce, modify, re-arrange, and distribute any of your User Content that other Users have shared or which you have posted to public or semi-public areas of the Service.
			</dd>
			<dt>Your responsibility for your content:</dt>
			<dd>
				hoos.in provides a community-minded, positive place for you to discover and share things you love. To keep it that way, we ask that you only use our Service in a manner that is consistent with the hoos.in Acceptable Use Policy. We reserve the right, but are not obligated, to remove User Content from the Service for any reason, including User Content that we believe violates these Terms or the hoos.in Acceptable Use Policy. Please — be a good citizen on hoos.in, and always respect our Service and its Users.
			</dd>
			<dt>Definition of Intellectual Property Rights.</dt>
			<dd>
				When we refer to “Intellectual Property Rights” in these Terms, we mean all patent rights; copyright rights; moral rights; rights of publicity; trademark, trade dress and service mark rights (and associated goodwill); trade secret rights; and all other intellectual property and proprietary rights as may now exist or hereafter come into existence, and all applications for any of these rights and registrations, renewals and extensions of any of these rights, in each case under the laws of any state, country, territory or other jurisdiction.
			</dd>
			<dt>Feedback you provide:</dt>
			<dd>
				We value hearing from our Users, and are always interested in learning about ways we can make hoos.in more awesome. You may choose to or we may invite you to submit comments, ideas or feedback about the Service, including without limitation about how to improve the Service or our products (“Feedback”). By submitting any Feedback, you agree that your disclosure is gratuitous, unsolicited and without restriction; your disclosure will not place hoos.in under any fiduciary or other obligation; and we are free to use, disclose and otherwise exploit the Feedback without any restriction and without additional compensation to you. By acceptance of your submission, hoos.in does not waive any rights to use similar or related Feedback previously known to hoos.in, or developed by its employees, or obtained from sources other than you.
			</dd>
		</dl>
</li>
<li>
	<h5>hoos.in Content</h5>

	<dl>
		<dt>hoos.in Content.</dt>
		<dd>
			Except for User Content, the Service itself, all content and other subject matter included on or within the Service, and all Intellectual Property Rights in or related to the Service or any such content or other subject matter (“hoos.in Content”) are the property of hoos.in and its licensors. Except as expressly provided in these Terms, you agree not to use, modify, reproduce, distribute, sell, license, or otherwise exploit the hoos.in Content without our permission.
		</dd>
		<dt>Our license to you.</dt>
		<dd>
			Subject to the terms and conditions of these Terms and our Acceptable Usage Policy, we grant you a license to use the Service, including accessing and viewing hoos.in Content, for your personal, noncommercial use to allow you to express yourself, discuss public issues, report on issues of public concern, engage in parody and as expressly permitted by the features of the Service.  hoos.in may terminate this license at any time for any reason or no reason. Except for the rights and licenses expressly granted, hoos.in reserves all other rights and no other rights are granted by implication or otherwise.
		</dd>
	</dl>
</li>
<li>
	<h5>Using hoos.in</h5>
	<dl>
		<dt>Who can use hoos.in.</dt>
		<dd>
			You may use the Service only if you can form a binding contract with hoos.in, and only in compliance with these Terms and all applicable local, state, national, and international laws, rules and regulations. Any use or access to the Service by anyone under the age of 13 is strictly prohibited. Because we respect the hoos.in community, the Service is not available to any Users previously removed from the Service by hoos.in.
		</dd>
		<dt>hoos.in accounts.</dt>
		<dd>
			Creating an account with hoos.in gives you access to the Services in our sole discretion. We may maintain different types of accounts for different types of Users. If you open an account on behalf of a company, organization, or other entity, then (a) “you” includes you and that entity, and (b) you represent and warrant that you are an authorized representative of the entity with the authority to bind the entity to these Terms, and that you agree to these Terms on the entity’s behalf. By connecting to hoos.in with a third-party service (e.g., Facebook, Twitter, Meetup, Google), you give us permission to access and use your information from that service as permitted by that service, and to store your log-in credentials for that service. For more information on the types of information we collect from these third-party services, please read our Privacy Policy. You agree not to use user names or idea titles or comments that are offensive, obscene, or harassing to others. We reserve the right to require you to change any of your content at any time and for any reason in our sole discretion.
		</dd>
		<dt>Terminating your account.</dt>
		<dd>
			You may close your account at any time by contacting us. We may permanently or temporarily terminate or suspend your User account or access to the Service for any reason, without notice or liability to you, including if in our sole determination you violate any provision of our Acceptable Use Policy or these Terms, or for no reason. Upon termination of your use of the Service, you continue to be bound by Sections 1b (How hoos.in and other users can use your content), 1c (How long we keep your content), 1e (Feedback you provide), 1f (Definition of Intellectual Property Rights), 2a (hoos.in Content), 3 (Copyright Policy), 4c (Terminating your account), 4f (Your interactions with other Users), and 6 through 12 (inclusive) of these Terms. For information about how your User Content will be handled after any termination of your account, please see the “How long we keep your content” section above.
		</dd>
		<dt>Your responsibility for your account.</dt>
		<dd>
			When you create your hoos.in account, you must provide us with accurate and complete information. Please be sure to provide us with up to date contact information for you so we know how to reach you. We encourage you to use “strong” passwords (passwords that use a combination of upper and lower case letters, numbers and symbols) with your account. You are solely responsible for the activity that occurs on your account, and you agree to keep your account login and password secure. You must immediately notify hoos.in of any compromise of your credentials you become aware of and any unauthorized use of your account.
		</dd>
		<dt>Changes to the Service.</dt>
		<dd>
			Here at hoos.in, we’re always innovating and finding ways to provide our Users with new and innovative features and services. Therefore, we may, without prior notice, change the Service; add features, stop providing the Service or features of the Service, to you or to Users generally; or create usage limits for the Service.
		</dd>
		<dt>Your interactions with other Users.</dt>
		<dd>
			Please keep in mind that you are solely responsible for your interactions with other Users. We reserve the right, but have no obligation, to monitor disputes between you and other Users. hoos.in will have no liability for your interactions with other Users, or for any User’s action or inaction. Please help to make hoos.in a positive and respectful community.
		</dd>
	</dl>
</li>
<li>
	<h5>Privacy and Security</h5>

	<p>
		We care about the privacy and security of our Users. You understand that by using the Service you consent to the collection, use and disclosure of your personally identifiable information and aggregate data as set forth in our Privacy Policy, and to have your Personally Identifiable Information collected, used, transferred to and processed in the United States. While we work to protect the security of your content and account, hoos.in cannot guarantee that unauthorized third parties will not be able to defeat our security measures. You acknowledge that you provide your information at your own risk.
	</p>
</li>
<li>
	<h5>Third-party Links, Sites and Services</h5>

	<p>
		The Service may contain links to third-party websites, advertisers, services, special offers, or other events or activities that are not owned or controlled by hoos.in. hoos.in does not endorse or assume any responsibility for any such third-party sites, information, materials, products, or services. If you access any third party website, service, or content from the Service, you do so at your own risk and you agree that hoos.in will have no liability arising from your use of or access to any third-party website, service, or content.
	</p>

</li>
<li>
	<h5>Mobile Software</h5>

	<dl>
		<dt>Our Mobile Software.</dt>
		<dd>
			We make available the Mobile Software to access the Service via a mobile device. To use the Mobile Software you must have a mobile device that is compatible with the Mobile Service. hoos.in does not warrant that the Mobile Software will be compatible with your mobile device. hoos.in grants to you a non-exclusive, non-transferable, revocable license to use a compiled code copy of the Mobile Software for one hoos.in account on one mobile device owned or leased solely by you, for your personal use. You may not: (i) modify, disassemble, decompile or reverse engineer the Mobile Software, except to the extent that such restriction is expressly prohibited by law; (ii) rent, lease, loan, resell, sublicense, distribute or otherwise transfer the Mobile Software to any third party or use the Mobile Software to provide time sharing or similar services for any third party; (iii) make any copies of the Mobile Software; (iv) remove, circumvent, disable, damage or otherwise interfere with security-related features of the Mobile Software, features that prevent or restrict use or copying of any content accessible through the Mobile Software, or features that enforce limitations on use of the Mobile Software; or (v) delete the copyright and other proprietary rights notices on the Mobile Software. You acknowledge that hoos.in may from time to time issue upgraded versions of the Mobile Software, and may automatically electronically upgrade the version of the Mobile Software that you are using on your mobile device. You consent to such automatic upgrading on your mobile device, and agree that the terms and conditions of these Terms will apply to all such upgrades. Any third-party code that may be incorporated in the Mobile Software is covered by the applicable open source or third-party end user license agreement, if any, authorizing use of such code. The foregoing license grant is not a sale of the Mobile Software or any copy thereof, and hoos.in or its third party licensors or suppliers retain all right, title, and interest in and to the Mobile Software (and any copy of the Mobile Software). You agree to comply with all United States and foreign laws related to use of the Mobile Software and the Service. Standard carrier data charges may apply to your use of the Mobile Software.
		</dd>
		<dt>Mobile Software from iTunes.</dt>
		<dd>
			The following also applies to any Mobile Software you acquire from the iTunes Store (“iTunes-Sourced Software”): You acknowledge and agree that these Terms are solely between you and hoos.in, not Apple, and that Apple has no responsibility for the iTunes-Sourced Software or content thereof. Your use of the iTunes-Sourced Software must comply with the App Store Terms of Service. You acknowledge that Apple has no obligation whatsoever to furnish any maintenance and support services with respect to the iTunes-Sourced Software. In the event of any failure of the iTunes-Sourced Software to conform to any applicable warranty, you may notify Apple, and Apple will refund the purchase price for the iTunes-Sourced Software to you; to the maximum extent permitted by applicable law, Apple will have no other warranty obligation whatsoever with respect to the iTunes-Sourced Software, and any other claims, losses, liabilities, damages, costs or expenses attributable to any failure to conform to any warranty will be solely governed by these Terms and any law applicable to hoos.in as provider of the software. You acknowledge that Apple is not responsible for addressing any claims of you or any third party relating to the iTunes-Sourced Software or your possession and/or use of the iTunes-Sourced Software, including, but not limited to: (i) product liability claims; (ii) any claim that the iTunes-Sourced Software fails to conform to any applicable legal or regulatory requirement; and (iii) claims arising under consumer protection or similar legislation; and all such claims are governed solely by these Terms and any law applicable to hoos.in as provider of the software. You acknowledge that, in the event of any third party claim that the iTunes-Sourced Software or your possession and use of that iTunes-Sourced Software infringes that third party’s intellectual property rights, hoos.in, not Apple, will be solely responsible for the investigation, defense, settlement and discharge of any such intellectual property infringement claim to the extent required by these Terms. You and hoos.in acknowledge and agree that Apple, and Apple’s subsidiaries, are third party beneficiaries of these Terms as relates to your license of the iTunes-Sourced Software, and that, upon your acceptance of the terms and conditions of these Terms, Apple will have the right (and will be deemed to have accepted the right) to enforce these Terms as relates to your license of the iTunes-Sourced Software against you as a third party beneficiary thereof.
		</dd>
	</dl>
</li>
<li>
	<h5>Indemnity</h5>

	<p>
		You agree to indemnify and hold harmless hoos.in and its officers, directors, employees and agents, from and against any claims, suits, proceedings, disputes, demands, liabilities, damages, losses, costs and expenses, including, without limitation, reasonable legal and accounting fees (including costs of defense of claims, suits or proceedings brought by third parties), arising out of or in any way related to (i) your access to or use of the Services or hoos.in Content, (ii) your User Content, or (iii) your breach of any of these Terms.
	</p>
</li>
<li>
<h5>Disclaimers</h5>
<p>
	THE SERVICES, INCLUDING WITHOUT LIMITATION ALL CONTENT AND OTHER SUBJECT MATTER INCLUDED WITHIN THE SERVICES, ARE PROVIDED ON AN "AS IS" AND “AS AVAILABLE” BASIS, WITHOUT WARRANTY OF ANY KIND, EITHER EXPRESS OR IMPLIED. WITHOUT LIMITING THE FOREGOING, HOOS.IN SPECIFICALLY DISCLAIMS ANY AND ALL WARRANTIES AND CONDITIONS OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE, QUIET ENJOYMENT AND NON-INFRINGEMENT, AND ANY WARRANTIES ARISING OUT OF COURSE OF DEALING OR USAGE OF TRADE.
</p>

<p>
	HOOS.IN takes no responsibility and assumes no liability for any User Content that you or any other User or third party posts or sends over the Service. You are solely responsible for your User Content and the consequences of posting or publishing it, and you agree that we are only acting as a passive conduit for your AND OTHER USERS’ online distribution and publication of your AND THEIR User Content. You understand and agree that you may be exposed to User Content that is inaccurate, objectionable, inappropriate for children, or otherwise unsuited to your purpose.
</p>
</li>
<li>
<h5>Limitation of Liability</h5>

<p>
	YOU ACKNOWLEDGE AND AGREE THAT, TO THE MAXIMUM EXTENT PERMITTED BY LAW, THE ENTIRE RISK ARISING OUT OF YOUR ACCESS TO AND USE OF THE SERVICES, HOOS.IN CONTENT, AND USER CONTENT REMAINS WITH YOU AND YOU USE THE SERVICES AT YOUR OWN RISK. YOU AGREE THAT NEITHER HOOS.IN NOR ANY OTHER PARTY INVOLVED IN CREATING, PRODUCING, OR DELIVERING THE SERVICES WILL BE LIABLE FOR ANY INCIDENTAL, SPECIAL, EXEMPLARY, PUNITIVE OR CONSEQUENTIAL DAMAGES, INCLUDING LOST PROFITS, LOSS OF DATA OR LOSS OF GOODWILL, SERVICE INTERRUPTION, COMPUTER DAMAGE OR SYSTEM FAILURE OR THE COST OF SUBSTITUTE PRODUCTS OR SERVICES, ARISING OUT OF OR RELATED TO THESE TERMS OR FROM THE SERVICES, OR FROM THE USE OF OR INABILITY TO USE THE SERVICES, USER CONTENT, HOOS.IN CONTENT, OR FROM ANY COMMUNICATIONS, INTERACTIONS OR MEETINGS WITH OTHER USERS OF THE SERVICES OR OTHER PERSONS WITH WHOM YOU COMMUNICATE OR INTERACT AS A RESULT OF YOUR USE OF THE SERVICES, WHETHER BASED ON WARRANTY, CONTRACT, TORT (INCLUDING NEGLIGENCE), PRODUCT LIABILITY OR ANY OTHER LEGAL THEORY, AND WHETHER OR NOT HOOS.IN HAS BEEN INFORMED OF THE POSSIBILITY OF SUCH DAMAGE.
</p>

<p>
	IN NO EVENT WILL HOOS.IN’S AGGREGATE LIABILITY, OR THAT OF ITS OFFICERS, DIRECTORS, EMPLOYEES AND AGENTS, ARISING OUT OF OR IN CONNECTION WITH THESE TERMS OR FROM THE SERVICES, OR FROM THE USE OF OR INABILITY TO USE THE SERVICES, USER CONTENT OR HOOS.IN CONTENT EXCEED ONE HUNDRED DOLLARS ($100). THE LIMITATIONS OF LIABILITY SET FORTH ABOVE ARE FUNDAMENTAL ELEMENTS OF THE BASIS OF THE BARGAIN BETWEEN HOOS.IN AND YOU. SOME JURISDICTIONS DO NOT ALLOW THE EXCLUSION OR CERTAIN WARRANTIES OR THE EXCLUSION OR LIMITATION OF LIABILITY FOR CONSEQUENTIAL OR INCIDENTAL DAMAGES, SO THE ABOVE DISCLAIMERS AND LIMITATIONS MAY NOT APPLY TO YOU.
</p>

<p>
	The Service is controlled and operated from its facilities in the United States. hoos.in makes no representations that the Service is appropriate or available for use in other locations. Those who access or use the Service from other jurisdictions do so at their own volition and are entirely responsible for compliance with all applicable national, state, local or other laws, statutes, directives, rules, regulations, and all interpretations or orders of any government, administrative or regulatory authority or court, including but not limited to those related to export and import of software, technical information or services. You may not use the Service if you are a resident of a country embargoed by the United States, or are a foreign person or entity blocked or denied by the United States government. Unless otherwise explicitly stated, all materials found on the Service are solely directed to individuals, companies, or other entities located in the United States.
</p>
</li>
<li>
	<h5>Arbitration and Governing Law:</h5>

<p>
	For any dispute you have with hoos.in, you agree to first contact us and attempt to resolve the dispute with us informally. In the unlikely event that hoos.in has not been able to resolve a dispute it has with you after attempting to do so informally, we each agree to resolve any claim, dispute, or controversy (excluding claims for injunctive or other equitable relief) arising out of or in connection with or relating to these Terms, or the breach or alleged breach thereof (collectively, “Claims”), by binding arbitration by the American Arbitration Association (“AAA”) under the Commercial Arbitration Rules and Supplementary Procedures for Consumer Related Disputes then in effect for the AAA, except as provided herein. Unless you and hoos.in agree otherwise, the arbitration will be conducted in the county where you reside. Each party will be responsible for paying any AAA filing, administrative and arbitrator fees in accordance with AAA rules, except that hoos.in will pay for your reasonable filing, administrative, and arbitrator fees if your claim for damages does not exceed $75,000 and is non-frivolous (as measured by the standards set forth in Federal Rule of Civil Procedure 11(b)). The award rendered by the arbitrator shall include costs of arbitration, reasonable attorneys’ fees and reasonable costs for expert and other witnesses, and any judgment on the award rendered by the arbitrator may be entered in any court of competent jurisdiction. Nothing in this Section shall prevent either party from seeking injunctive or other equitable relief from the courts for matters related to data security, intellectual property or unauthorized access to the Service. ALL CLAIMS MUST BE BROUGHT IN THE PARTIES’ INDIVIDUAL CAPACITY, AND NOT AS A PLAINTIFF OR CLASS MEMBER IN ANY PURPORTED CLASS OR REPRESENTATIVE PROCEEDING, AND, UNLESS WE AGREE OTHERWISE, THE ARBITRATOR MAY NOT CONSOLIDATE MORE THAN ONE PERSON’S CLAIMS. YOU AGREE THAT, BY ENTERING INTO THESE TERMS, YOU AND HOOS.IN ARE EACH WAIVING THE RIGHT TO A TRIAL BY JURY OR TO PARTICIPATE IN A CLASS ACTION.
</p>
<p>
	Governing Law. You agree that: (i) the Service shall be deemed solely based in California; and (ii) the Service shall be deemed a passive one that does not give rise to personal jurisdiction over hoos.in, either specific or general, in jurisdictions other than California. These Terms shall be governed by the internal substantive laws of the State of California, without respect to its conflict of laws principles. The application of the United Nations Convention on Contracts for the International Sale of Goods is expressly excluded. We each agree to submit to the personal jurisdiction of a state court located in Santa Clara County, California or the United States District Court for the Northern District of California, for any actions for which either party retains the right to seek injunctive or other equitable relief, as further described in the Arbitration provision above.
</p>
</li>
<li>
	<h5>General Terms</h5>

	<dl>
		<dt>Notification Procedures and changes to these Terms.</dt>
		<dd>
			hoos.in may provide notifications, whether such notifications are required by law or are for marketing or other business related purposes, to you via email notice, “push” mobile notification, written or hard copy notice, or through posting of such notice on our website, as determined by hoos.in in our sole discretion. hoos.in reserves the right to determine the form and means of providing notifications to you, provided that you may opt out of certain means of notification as described in these Terms and our Privacy Policy. hoos.in may, in its sole discretion, modify or update these Terms from time to time, and so you should review this page periodically. When we change the Terms in a material manner, we will update the ‘last modified’ date at the bottom of this page. Your continued use of the Service after any such change constitutes your acceptance of the new Terms of Service. If you do not agree to any of these Terms or to any future Terms of Service, do not use or access (or continue to access) the Service. hoos.in is not responsible for any automatic filtering you or your network provider may apply to email notifications we send to the email address you provide us.
		</dd>
		<dt>Assignment.</dt>
		<dd>
			These Terms, and any rights and licenses granted hereunder, may not be transferred or assigned by you, but may be assigned by hoos.in without restriction. Any attempted transfer or assignment in violation hereof shall be null and void.
		</dd>
		<dt>Restricted Rights.</dt>
		<dd>
			If the Mobile Software, is being acquired on behalf of the United States Government, then the following provision applies: This is commercial computer software. If acquired by or on behalf of an agency, department, or other entity of the United States Government (“Government”), the use, duplication, reproduction, release, modification, disclosure, or transfer (“use”) of this software, and any related documentation of any kind, including technical data or manuals no matter how received by the Government, is restricted by the terms and conditions of a license agreement  in accordance with Federal Acquisition Regulation 12.212 for civilian agencies, and Defense Federal Acquisition Regulation Supplement 227.7202 for military agencies. All other use is prohibited.
		</dd>
		<dt>Export Control.</dt>
		<dd>
			Any software or technology obtained from hoos.in through the Service, including the Mobile Software, originates in the United States, and is subject to United States export laws and regulations. Such software and technology may not be exported or re-exported to certain countries or those persons or entities prohibited from receiving exports from the United States. In addition, software and technology obtained from hoos.in may be subject to the import and export laws of other countries. It is your responsibility to comply with all U.S. and foreign export and import laws and regulations.
		</dd>
		<dt>Entire Agreement/Severability.</dt>
		<dd>
			These Terms, together with any amendments and any additional agreements you may enter into with hoos.in in connection with the Service, shall constitute the entire agreement between you and hoos.in concerning the Service. If any provision of these Terms is deemed invalid by a court of competent jurisdiction, the invalidity of such provision shall not affect the validity of the remaining provisions of the Terms, which shall remain in full force and effect.
		</dd>
		<dt>No Waiver.</dt>
		<dd>
			No waiver of any term of these Terms shall be deemed a further or continuing waiver of such term or any other term, and hoos.in’s failure to assert any right or provision under these Terms shall not constitute a waiver of such right or provision.
		</dd>
		<dt>Contact.</dt>
		<dd>Please contact us with any questions regarding these Terms.</dd>
		
		<p>These Terms were last modified on March 23, 2012.</p>
</div>