
	<div class="top">
		<div class="instagramFeed">
  		<div class="instagram">
  			<span class="hoosinstagram">#hoosin</span>
  		</div>
			<div class="message">
				<p>hi,</p><br>
				<p>We believe that the <strong>best life</strong> is one full of creative adventures with friends in the real world. So we built a platform that can <strong>engage</strong> your community. That means more <strong>traffic</strong>.</p><br>
				<p>sincerly,</p>
				<p>Mike Fenchel & Adam Braus</p>
				<div style="text-align:center; margin-top:20px;">
					<%= link_to "Start Free Venue Trial", new_vendor_path, class:"btn btn-large btn-success" %>
				</div>
			</div>
		</div>
	</div>
	<div class="middle">
		<h3>Peer2Peer Promotion</h3>
		<p>Users of our website and iPhone and Android mobile apps share ideas created by you with their friends. Form groups independently to attend your ideas. We send reminders to their inboxes and phones to go. And you get analytics on your end to know what to expect and track progress.</p>
	</div>
	<div class="middle">
		<h3>Branded idea Pages</h3>
		<p>Let people know who you are by uploading a high quality background image in addition to your profile picture</p>
	</div>
	<div class="middle">	
		<h3>Public ideas and Public Profile</h3>
		<p>Anyone can use hoos.in for free but then their ideas are not posted publically. As a venue on hoos.in, you have an exclusive stake in getting the attention of your community.</p> 
	</div>		
	<div class="middle">
		<h3>General Admission Ticketing (Coming soon!)</h3>
		<p>We are working with multiple beta venues to provide exclusive and  non-exclusive ticketing solution. Why not have your promotion and ticketing work hand in hand?</p>
	</div>
	<div class="bottom">
		<div style="text-align:center;">
			<h3 style="margin-bottom:40px">Your First month is on us and after that only 25$ per month</h3>
			<%= link_to "Start Free Venue Trial", new_vendor_path, class:"btn btn-large btn-success" %>
		</div>
	</div>