<div class="vendorSplash">
	<h1>ENGAGE YOUR COMMUNITY!!!!</h1>
	<h3>Peer2Peer Promotion</h3>
	<h3>Branded idea Pages</h3>
	<h3>Public ideas and Public Profile</h3>
	<h3>General Admission Ticketing</h3>
</div>

<div class="valueCycle">
	Users want to do fun stuff
	Vendors come up with great things to do in their community
	Hoosin gives ideas to users and reminds them to go when they join
</div>

<div class="pricing">
	1st month free, $20 a month after that
</div>


<%= link_to "Create Free Vendor Account", new_vendor_path, class:"btn btn-success" %>