<div class="vendorSplash">
	<h1>ENGAGE YOUR COMMUNITY!!!!</h1>
	<h3>Peer2Peer Promotion</h3>
	<h3>Branded Event Pages</h3>
	<h3>Public Suggestions and Public Profile</h3>
</div>

<div class="valueCycle">
	Users want to do fun stuff
	Vendors come up with great things to do in their community
	Hoosin makes those available to users and remind them to go
</div>


<%= link_to "Create Free Vendor Account", new_vendor_path, class:"btn btn-success" %>