<div class="text-center">
  <div id="follow_form">
    <%= render partial: 'instance_rsvps/out', locals: { :instance => instance } %>
    <%= render partial: 'instance_rsvps/in_form', locals: { :instance => instance } %>
  </div>
</div>