--- 
http_interactions: 
- request: 
    method: post
    uri: https://api.balancedpayments.com/v1/api_keys
    body: 
      encoding: UTF-8
      string: "{}"
    headers: 
      Content-Type: 
      - application/json
  response: 
    status: 
      code: 201
      message: 
    headers: 
      content-type: 
      - application/json
      location: 
      - http://api.balancedpayments.com/v1/api_keys/AK2K27TQAR05SQJIowULGMik
      x-balanced-guru: 
      - OHM59ec34e2373211e28103026ba7cd33d0
      x-balanced-host: 
      - balanced-api-02
      x-balanced-version: 
      - 6f05111e8919848f3d395be466703fd648ff9229
    body: 
      encoding: US-ASCII
      string: |-
        {
          "merchant": {
            "phone_number": "+16505551212", 
            "city": "Nowhere", 
            "marketplace": null, 
            "name": "William Henry Cavendish III", 
            "type": "person", 
            "created_at": "2012-11-25T19:00:17.308255Z", 
            "uri": "/v1/merchants/TEST-MR2JUJurxXcDySsN0NZqUv3q", 
            "accounts_uri": "/v1/merchants/TEST-MR2JUJurxXcDySsN0NZqUv3q/accounts", 
            "meta": {
              "meta data": "goes here"
            }, 
            "postal_code": "90210", 
            "country_code": "USA", 
            "balance": 0, 
            "email_address": "whc@example.org", 
            "id": "TEST-MR2JUJurxXcDySsN0NZqUv3q", 
            "street_address": "123 Fake St", 
            "api_keys_uri": "/v1/merchants/TEST-MR2JUJurxXcDySsN0NZqUv3q/api_keys"
          }, 
          "secret": "5a1ad360373211e28103026ba7cd33d0", 
          "meta": {}, 
          "created_at": "2012-11-25T19:00:17.413866Z", 
          "uri": "/v1/api_keys/AK2K27TQAR05SQJIowULGMik", 
          "id": "AK2K27TQAR05SQJIowULGMik"
        }
  recorded_at: Sun, 25 Nov 2012 19:00:20 GMT
recorded_with: VCR 2.3.0
