<div class="guests_groups">
	<div class="activity_guests">
		<% if event.rsvps.any? %>
			<h4>Guests <%= event.guest_count %></h4>
			<%= render partial: 'shared/user', collection: event.guests, as: :user %>
		<% end %>
	</div>
	<% if false %>
<div class="groups">
	<% if event.instances.any? %>
		<h4>Groups</h4>
			<% event.instances.each do |i| %>
				<table>
					<tr>
						<td><%= i.start_time %></td>
						<td><%= i.guest_count %></td>
					</tr>
				</table>
			<% end %>
	<% end %>
</div>
<% end %>