<div id="city_vendors">
	<h1><%= current_user.city %></h1>
		<% @vendors.each do |v| %>
				<table>
				<tr>
					<td width="55px"><%= raster_profile_picture(v) %></td>
					<td width="100px"><%= v.name %></td>
					<td width="100px">
						<span id="follow_form" class="follow_btn">
							<%= render :partial => 'events/just_follow_form', :locals => { :user => v } %>
			      </span>
			    </td>
				</tr> 
			</table>
	<% end %>
</div>