<div id="datewindow"></div>
<% for i in -3..26 do %>
	<% if i == 0 %>
		<table class="datePickerDay weeks datePickerToday" data-date=<%= "#{@time_in_zone.to_date + i}" %> >
	<% elsif i == 7 || i == 14 || i == 21 %>
		<table class="datePickerDay weeks" data-date=<%= "#{@time_in_zone.to_date + i}" %> >
	<% else %>
		<table class="datePickerDay" data-date=<%= "#{@time_in_zone.to_date + i}" %> >
	<% end %>
		<tr>
			<th>
				<%= raw((@time_in_zone.to_date + i).strftime("%e") + " " + (@time_in_zone.to_date + i).strftime(" %a").slice!(0..2)) %>
	  	</th>
	  </tr>
	</table>
	<% end %>	