<div id='forecast'>
	<% for i in 0..@forecastevents.size-1 %>
		<table>
		<tr>
			<th><%= (@date + i).strftime("%A %B %e") %></th>
		</tr>
		<% @forecastevents[i].each do |part_of_day| %>
			<% part_of_day.each do |event| %>
				<%= render :partial => "event", :locals => { :event => event } %>
			<% end %>
		<% end %>
	<% end %>
	</table>
</div>