<div id="forecast">
	<% for i in -3..16 %>
	<dl class="day" data-date=<%= "#{Date.today + i}" %>>
		<% if @date + (i) == Date.today %>
			<dt class="forecastDate red"><%= (@date + (i)).strftime("%A %b %e") %></dt>
		<% else %>
			<dt class="forecastDate"><%= (@date + (i)).strftime("%A %b %e") %></dt>
		<% end %>
		<dd>
			<% @forecastevents[i + 3].each do |event| %>
				<%= render :partial => "shalendar/event", :locals => { :event => event } %>
			<% end %>
		</dd>
	</dl>
	<% end %>
</div>
	<div class="gutter"></div>
