<div id='forecast'>
	<% for i in 0..@forecastevents.size-1 %>
	<table>
		<tr>
		<th class="date"><%= (@date + i).strftime("%A %B %e") %></th>
			<% @forecastevents[i].each do |part_of_day| %>
				<% part_of_day.each do |event| %>
					<%= render :partial => "shalendar/event", :locals => { :event => event } %>
				<% end %>
			<% end %>
		</tr>
	</table>
	<% end %>
</div>