<div style="display: none;">
	<div id="howItWorks">
	<h1>How it Works?</h1>
	<h3>Overview</h3>
	<p><strong>Hoos.in lets you share and join ideas for what to do with friends, making it easy to coordinate an awesome social life.</strong> <br> You've now created your account, which consists of:<br>
	 1. Your <strong>name, picture and settings </strong> <br>
	 2. All the <strong>Ideas</strong> you've created, joined, or been invited to<br>
	 3. Your <strong>Friends</strong><br>
	 4. Your <strong>Social Calendar</strong><br>
	 If you want to make changes to your account, check out the different buttons in the header.
	 </p>
	<h3>Ideas/Activities on Hoos.in</h3>
	<p>Social plans on hoos.in begin as 'ideas' -like "play pick-up soccer" or "barbecue at the park." Ideas each have a time, description, optional link or map location, and a visibility setting that determines who's invited. 
	</p>
	<h3>Tipping</h3>
	<p>Ideas on hoos.in also have 'tipping points' -when the number of participants in an idea reaches the tipping point, it 'tips' and transforms into an 'activity,' and all the participants receive an email to confirm that it will take place. An idea's creator always has the option to manually tip it or cancel the idea -in either case, anyone who joined will be notified automatically. If an idea does not 'tip,' the creator receives a notification 3 hours before.
	</p>
	<h3>Friends on hoos.in</h3>
	<p>You can see your friends' ideas by viewing them on hoos.in, and they can see yours by viewing you back. You can find friends to view through Facebook or by searching their name or email. You can also invite friends to join hoos.in through Facebook. You can also email invitations to a specific idea from the left of the idea-details page, or share the link to that page.
	</p>
	<h3>The Social Calendar</h3>
	<p>Your Social Calendar displays all the ideas and activities you've created, joined or been invited to. Clicking an idea on the forecast gives you more information, and clicking the 'I'm in' button adds you to the participants. On the left, click the picture of anyone you're viewing to show or hide that person's invitations. The ribbon above the forecast provides quick access to view future days and an overview of upcoming ideas and activities.
	</p>
	<h3>Happy Living!</h3>
	<p>
		Our site is new and we're continuing to improve it. Send us Feedback and let us know your experience. We hope it helps make your lifestyle a little more fun.<br><br> Cheers,
		Mike and Adam- The hoos.in Team
	</p>
	</div>
</div>