<div id="ideaContainer">
	<% if @suggested_friends.present? %>
		<div class="suggested_friends event">
			<%= render partial: "shared/user", collection: @suggested_friends, as: :user %>
		</div>
	<% end %>
	<% @currently_ideas = true %>
  <%= render partial: "shalendar/event", collection: @ideas %>
</div>
<div id="timesCalendar" style="display:none;">
	<% @currently_ideas = false %>
	<%= render "shalendar/calendar" %>
</div>
<div id="ideaFilter" class="idea_filter"
<% if params[:action] == "home" %>
<div id="ideaFilter" class="idea_filter">
	all
</div>
<% end %>
