<div id="ideaContainer">
  <%= render partial: "shalendar/event", collection: @ideas %>
</div>
<div id="timesCalendar" style="display:none;">
	<%= render "shalendar/calendar" %>
</div>
<div id="ideaFilter" class="idea_filter"
<% if params[:action] == "home" %>
<div id="ideaFilter" class="idea_filter">
	all
</div>
<% end %>
