<div id="ideaContainer">
	<% if false %>
	<% if @suggested_friends.present? %>
		<div class="suggested_friends event">
			<%= render partial: "shared/user", collection: @suggested_friends, as: :user %>
		</div>
	<% end %>
	<% end %>
  <%= render partial: "shalendar/event", collection: @ideas %>
</div>

<% if false %>
<div id="timesCalendar" style="display:none;">
	<%= render "shalendar/calendar" %>
</div>

<div id="ideaFilter" class="idea_filter"
<% if params[:action] == "home" %>
<div id="ideaFilter" class="idea_filter">
	all
</div>
<% end %>
<% end %>
