<% if false %>
<ol id="chooseID" style="display:none;">
<!--   /* data-id needs to be the same as the parent it will attach to */ -->
	<li>Welcome to hoos.in<br></li>
	<li class="jr_forecast">I am your social forecast, I live to serve :o)<br></li>
  <li data-id="view_search">Search for friends by first or last name or by email<br></li>
  <li data-id="jrActivity">See your profile and past ideas<br></li>
  <li data-id="jrFriends">Manage and find more friendships<br></li>
  <li data-id="jrInvites">See recent .invites<br></li>
  <li data-id="sidebar">Your upcoming plans appear here<br></li>
  <!-- /* using 'data-button' lets you have custom button text */ -->
  <li data-class="parent-element-class" data-options="tipLocation:top;tipAnimation:fade" data-button="Second Button">Content...<br></li>
</ol>
<% end %>