<div class="mini_calendar">
	<h2 style="color:white;">my calendar</h2>
	<% if @times.blank? %>
		<div class="mini_calendar_explanation">
			<div clas="text">
				Click on an idea's <span class="fadeInBlue in_check"><i class='icon-ok'></i></span> and then on <span class="btn_icon btn_icon_rsvp">.interested</span> to see its times on your calendar and make new <b>.in-mates</b>
				<br>
				<br>
				<div>Click an .in-mate's star to recieve notifications when they create ideas or chat.</div>
				<div class="explainer_arrows">
					<i class="icon-star inmate_star"></i> <i class="icon-arrow-right"></i> <i class="icon-star friend_star"></i>
				</div>
				<br>
				Click on <%= render 'shared/new_idea_button' %> to create a new idea
			</div>
		</div>
	<% else %>
		<% for i in 0..60 %>
			<div class="each_day clearfix">		
				<div class="date_bar marker clearfix" id="today">
					<%= (Time.zone.now.to_date + (i)).strftime("%A %b %e") %>
				</div>
				<div class="day_container clearfix" data-date="<%= Time.zone.now.to_date + i %>">
				</div>
			</div>
		<% end %>
	<% end %>
</div>
<%= render partial: 'shalendar/mini_event', collection: @times, as: :event %>