<div class="invited_events part">
	<% if @new_events.any? %>
		<dl>
		<% @new_events.each do |nie| %>
			<dt><%= nie.start_date %></dt>
			<dd>
				<%= render partial: 'shalendar/event', locals: { :event => nie } %>
			</dd>
			<% end %>
		</dl>
	<% else %>
	<p>No new ideas right now</p>
	<% end %>
</div>


