<div class="invited_events part">
	<% if @new_events.any? %>
		<ul>
		<% @new_events.each do |nie| %>
			<li>
				<div><%= nie.start_date %></div>
				<%= render partial: 'shalendar/event', locals: { :event => nie } %>
			</li>
			<% end %>
		</ul>
	<% else %>
	<p>No new ideas right now</p>
	<% end %>
</div>


