<div class="invited_events part">
	<h1 style="clear:both">recent .invites</h1>
	<% if @invites.any? %>
	<div class="idea_container">
		<% @invites.each do |nie| %>
				<%= render partial: 'shalendar/event', locals: { :event => nie } %>
			<% end %>
	</div>
	<% else %>
		<p>No new .invites right now</p>
	<% end %>
</div>


