<div id="raster">
  <% @relationships.each do |relation| %>
    <% if relation.toggled == true %>
      <%= link_to raster_profile_picture(relation.followed), relationship_toggle_path(relation), :method => :put, class:"toggled-on", "data-pic-id" => "#{relation.followed.id}", remote: true %>
    <% else %>
      <%= link_to raster_profile_picture(relation.followed), relationship_toggle_path(relation), :method => :put, class:'toggled-off',  "data-pic-id" => "#{relation.followed.id}", remote: true %>
    <% end %>
  <% end %>
</div>
<div class="raster_nav">
  <a href="#" onclick="$('.toggled-on').click();">Clear All</a> |
  <a href="#" onclick="$('.toggled-off').click();">Select All</a>
</div>
<% if false %>
  make new "group/list"
<% end %>
