<div id="ribbon">
	<a class="btn btn-rsvp btn-new-idea" href="#new_idea"><i class="icon-cloud"></i> New Idea</a>
	<%= render 'new_idea_form' %>

	<% if false %>
	<div id="yt">
		<a href="#yesterday" id="yesterday"><</a>
		<a href="#tomorrow" id="tomorrow">></a>
	</div>
	<% end %>
	<div id="datepicker">
		<%= render 'datepicker' %>
	</div>
</div>