<div id="ribbon">
	<div class="new_idea">
		<%if current_user.vendor? %>
			<textarea id="new_idea_blerb" placeholder="Make a New Suggestion"></textarea>
			<%= link_to new_suggestion_path, id:"new_suggestion_button", class: "btn btn-new-idea btn-rsvp fancybox.ajax", remote: true do %>
					<i class="icon-bullhorn"></i>
			<% end %>
		<% else %>
			<textarea id="new_idea_blerb" placeholder="Describe Your Fun Idea"></textarea>
			<%= link_to new_event_path, id:"new_idea_button", class: "btn btn-rsvp btn-new-idea fancybox.ajax", remote: true do %>
				<i class="icon-cloud"></i>
			<% end %>
		<% end %>
	</div>
	<% if @graph %>
		<div class="friend_suggestions">
			<div>Suggested Friends</div>
			<%= render 'shalendar/friend_suggestions' %>
		</div>
	<% end %>
	
	<% if false %>
	<div id="yt">
		<a href="#yesterday" id="yesterday"><</a><br>
		<a href="#tomorrow" id="tomorrow">></a>
	</div>
	<% end %>
	<div id="datepicker">
		<%= render 'datepicker' %>
	</div>
</div>