<div id="ribbon">
	<div class="new_idea">
		<textarea id="new_idea_blerb" placeholder="Describe Your Fun Idea"></textarea>
		<% if user_signed_in? %>
			<%= link_to new_event_path, id:"newIdeaButton", class: "btn btn-rsvp btn-new-idea fancybox.ajax", remote: true do %>
				<i class="icon-cloud"></i>
			<% end %>
		<% else %>
			<%= link_to new_user_session_path, class: "btn btn-rsvp btn-new-idea" do %>
				<i class="icon-cloud"></i>
			<% end %>
		<% end %>
	</div>

	<% if user_signed_in? && !current_user.vendor? %>
		<div class="friend_suggestions">
			<%= render 'shalendar/friend_suggestions' %>
		</div>
	<% end %>

	<div id="yt">
		<div id="todayButton" class="btn-today">Today</div>
		<a href="#" id="yesterday" class="btn-yt btn-yesterday btn-primary"><</a>
		<a href="#" id="tomorrow" class="btn-yt btn-tomorrow btn-primary">></a>
	</div>

	<div id="datepicker">
		<%= render 'datepicker' %>
	</div>
</div>
<div class="ribbon_bottom"></div>