<div id="ribbon">
	<a class="btn btn-rsvp btn-new-idea" href="#new_idea"><i class="icon-cloud"></i> New Idea</a>
	<%= render 'new_idea_form' %>
	<div><a href="#howItWorks" class="howto">How it Works</a></div>
	<%= render 'datepicker' %>
</div>