<div id="ribbon" class="clearfix">

	<div class="new_idea">
		<textarea id="new_idea_blerb" placeholder="Post Your Own Idea"></textarea>
		<% if user_signed_in? %>
			<%= link_to new_event_path(:format => :js), id:"newIdeaButton", class: "btn-rsvp btn-new-idea fancybox.ajax", remote: true do %>
				<i class="icon-cloud"></i>
			<% end %>
		<% else %>
			<%= link_to new_user_session_path, class: "btn btn-rsvp btn-new-idea" do %>
				<i class="icon-cloud"></i>
			<% end %>
		<% end %>
	</div>
 <% if false %>
	<% if user_signed_in? && !current_user.vendor? %>
		<div class="friend_suggestions">
			<%= render 'shalendar/friend_suggestions' %>
		</div>
	<% end %>

	<div id="datepicker">
		<%= render 'datepicker' %>
	</div>
<% end %>
</div>
<div class="ribbon_bottom"></div>