<div id="ribbon">
	<div class="new_idea">
		<textarea id="new_idea_blerb" placeholder="Describe Your Fun Idea"></textarea>
		<% if user_signed_in? %>
			<%= link_to new_event_path, id:"newIdeaButton", class: "btn btn-rsvp btn-new-idea fancybox.ajax", remote: true do %>
				<i class="icon-cloud"></i>
			<% end %>
		<% else %>
			<%= link_to new_user_session_path, class: "btn btn-rsvp btn-new-idea" do %>
				<i class="icon-cloud"></i>
			<% end %>
		<% end %>
	</div>

	<% if user_signed_in? %>
		<% if @graph %>
			<div class="friend_suggestions">
				<%= render 'shalendar/friend_suggestions' %>
			</div>
		<% end %>
	<% end %>

	<% if false %>
	<div id="yt">
		<a href="#yesterday" id="yesterday"><</a><br>
		<a href="#tomorrow" id="tomorrow">></a>
	</div>
	<% end %>

	<div id="datepicker">
		<%= render 'datepicker' %>
	</div>
</div>
<div class="ribbon_bottom"></div>