<div id="search_results">  
  <table>
  	<% if @users.empty? %>
  	<tr>
				<td>Your search returned no users.</td>
		</tr>
		<% else @users.each do |u| %>
		    <tr>
		    	<td width="70"><%= raster_profile_picture(u) %></td>
				  <td width="250"><%= u.name %></td>
					<td><%= render  :partial => 'events/just_follow_form', :locals => { :user => u } %>
					</td>
				</tr>
			<% end %>
		<% end %>
  </table>
</div>