<div id="search_results">  
  <table>
  	<% if @users.empty? %>
  	<tr>
				<td>Your search returned no users.</td>
		</tr>
		<% else @users.each do |u| %>
		    <tr>
		    	<td width="70"><%= link_to user_path(u) do %><%= raster_profile_picture(u) %><% end %></td>
				  <td width="250"><%= link_to user_path(u) do %><%= u.name %><% end %></td>
				</tr>
			<% end %>
		<% end %>
  </table>
</div>