<div id="view_search">
	<%= form_tag :controller => 'shalendar', id: 'search_form', :action => 'home' do %>
	  <%= text_field_tag :search, params[:search], :id => 'user_search_field', class: "search_spinner", placeholder:"Enter Full Name or Email", autocomplete: "off" %>
	  <input type="submit" id="btn_user_search" class="btn-success fa-input" value="&#xf002;">
	<% end %> 
</div>
