<div class="stats">
  <a href="<%= manage_follows_path %>">
    <strong id="following" class="stat">
      <%= current_user.followed_users.count %>
    </strong>
    following
  </a>
  <a href="<%= manage_follows_path %>">
    <strong id="" class="stat">
      <%= current_user.followers.count %>
    </strong>
    followers
  </a>
</div>