<div class="admin">
<h1> Admin Idea Dashboard </h1>
<h2> <%= Date.today %></h2>

<h1>
	Public Ideas
</h1>

<dl>
<dt>
	<p><%= high_chart("public_ideas", @public_ideas_per_city) %></p>
</dt>

</dt>

<dt>
	Invitation per public idea
</dt>

<dt>
	RSVP per public idea
</dt>
</dl>

</div>
