<div id="ideaContainer" class="idea_container clearfix">
	<div class="part discover_title">
		<div class="name" >
			<% if user_signed_in? %>
				<%= current_user.city.name %>
			<% else %>
				<%= session[:city] %>
			<% end %>
		</div>
			<%= link_to new_big_idea_path do %>
				<span class="btn btn-new-big-idea btn-large"><i class="icon-cloud"></i> New Crowd Idea </span>
			<% end %>
	</div>
  <% if @ideas %>
		<% @ideas.each do |i| %>
			<%= render :partial => "shalendar/event", :locals => { :event => i } %>
		<% end %>
	<% end %>
</div>