<% @friends.each do |cf| %>
	<div id="find_friends">
		<ul>
			<li><%= image_tag cf['picture'] %></li>
			<li><%= cf['name'] %></li> 
			<li><%= cf['location'].nil? ? "Undefined Location" : cf['location']['name'] %></li>
		</ul>
	</div>
<% end %>