<div class="row">
  <aside class="span2">
    <section>
    	<%= button_to "New", new_event_path, :method => :get %>
    	<% if @users.any? %>
       <div class="raster">
          <% @users.each do |user| %>
        	  <%= link_to gravatar_for(user, size: 30) %>
      	  <% end %>
        </div>
      <% end %>
    </section>
  </aside>
 <div id='calendar'></div>
</div>