<div class="row">
  <aside class="span2">
    <section>
    	<button>New Chillin'</button>
    	<% if @users.any? %>
       <div class="user_avatars">
        <% @users.each do |user| %>
        	<%= link_to gravatar_for(user, size: 30) %>
      	<% end %>
        </div>
      <% end %>
    </section>
  </aside>
 <div id="calendar"></div>
</div>