<% if user_signed_in? %>
<%= render 'mini_calendar' %>
	  <div class="container_wrapper">
			<div class="home_idea_container clearfix">
				<h1><span id="invites_count"></span> .invites</h1>
				<div id="invitesContainer" class="idea_container" >
				</div>
				<h1><span id="ins_count"></span> .ins</h1>
				<div id="insContainer" class="idea_container" >
				</div>
			</div>
		</div>
		<%= render partial: "shalendar/event", collection: @ideas %>
<% end %>