<div class="idea_container">
  <%= render partial: "event", collection: @ideas %>
</div>

<script>
// function UpdateTableHeaders() {
//    $(".persist-area").each(function() {
   
//        var el             = $(this),
//            offset         = el.offset(),
//            scrollTop      = $(window).scrollTop() + 60,
//            floatingHeader = $(".floatingHeader", this)
       
//        if ((scrollTop > offset.top) && (scrollTop < offset.top + el.height())) {
//            floatingHeader.css({
//             "visibility": "visible"
//            });
//            floatingHeader.siblings('.not_floating').css({
//             "visibility": "hidden"
//            })
//        } else {
//            floatingHeader.css({
//             "visibility": "hidden"
//            });    
//            floatingHeader.siblings('.not_floating').css({
//             "visibility": "visible"
//            })  
//        };
//    });
// }

// DOM Ready      
// $(function() {

//    var clonedHeaderRow;

//    $(".persist-area").each(function() {
//        clonedHeaderRow = $(".persist-header", this);
//        clonedHeaderRow
//          .before(clonedHeaderRow.clone())
//          .addClass("floatingHeader");
//    });
   
//    $(window)
//     .scroll(UpdateTableHeaders)
//     .trigger("scroll");
// });
</script>

<% if current_user.present? && current_user.sign_in_count == 1 && current_user.last_sign_in_at > Time.now - 7.seconds %>
  <script>
    $(window).load(function() {
      $('html, body').scrollTop($('body').offset().top);
      $("#chooseID").joyride({
        'tipAnimation':'fade'
        /* Options will go here */
      });
    });
  </script>
<% end %>

<% if false %>
<% if session[:graph] && current_user.sign_in_count == 1 && current_user.last_sign_in_at > Time.now - 7.seconds %>
	<script> 
		function Func1() { 
			//alert("ahh!")
			$(".find_friends").click();
			//clickLink(".find_friends")
			}
		function Func1Delay() { 
			setTimeout("Func1()", 1000);
			}
		document.ready(Func1Delay());
	</script>
<% end %>
<% end %>