<% if user_signed_in? %>
	<%= render 'mini_calendar' %>
<% end %>
	<div class="home_idea_container clearfix">
    <div class="filters">
    	<span id="jrFriendsIdeas">.invites</span>
    </div>
		<div id="ideaContainer">
	  	<%= render partial: "shalendar/event", collection: @ideas %>
		</div>
	</div>

<% if false %>
<% if session[:graph] && current_user.sign_in_count == 1 && current_user.last_sign_in_at > Time.now - 7.seconds %>
	<script> 
		function Func1() { 
			//alert("ahh!")
			$(".find_friends").click();
			//clickLink(".find_friends")
			}
		function Func1Delay() { 
			setTimeout("Func1()", 1000);
			}
		document.ready(Func1Delay());
	</script>
<% end %>
<% end %>