<% provide(:title, " | Manage Follows") %>
<%= render 'layouts/sidebar' %>
	<div id="friends" class="part">
		<%= render 'shalendar/friend_suggestions' %>
  	<%= render partial: 'shalendar/friends' %>
  </div>
