<% provide(:title, " | Manage Follows") %>
<div class="dashboard">
<%= render 'layouts/logo' %>
<%= render 'get_friends' %> 
</div>
<div class="container">
	<div id="friends" class="part">
  	<%= render partial: 'shalendar/friends' %>
  </div>
</div>
