<% provide(:title, " | Manage Follows") %>
<div class="dashboard">
<% unless current_user.vendor? %>
	<%= render 'get_friends' %> 
<% end %>
</div>
<div class="container">
	<div id="friends" class="part">
  	<%= render partial: 'shalendar/friends' %>
  </div>
</div>
