<div>
	<div id="howItWorks">
	<h1>hi. hoos.in for some fun?</h1>
	<h3>it works like this: </h3>
	<p>
		On the home page is your <b>social calendar</b>, full of <b>ideas</b> for things to do. All of these ideas are either <b>.invites</b> from your friends or <b>city-wide</b> ideas that match your <b>.interests</b>. Click an idea to explore and <b>join.in</b> to take part, or create your own idea and .invite your friends to add it to their calendar.<br><br>
	</p>

	<h3>Creating an Idea</h3>
	<p>
		It's simple and fun to add your own idea on hoos.in, and you can .invite anyone from just a few friends to your entire city. Begin by clicking the 'new idea' button and adding a title, time and place. Spruce up your idea by adding a picture or YouTube video. Then choose who to .invite- .invites will see your idea on their social calendar!
	</p>

	<h3>Friends</h3>
	<p>
		It's easy to share great ideas with friends on hoos.in. Connect with friends by clicking the Facebook icon or searching by name in the header. See and manage your friendships by clicking the 'friends' icon in the left sidebar.
	</p>
<!-- 
	 1. Your <strong>name, picture and settings </strong> <br>
	 2. All the <strong>Ideas</strong> you've created, joined, or been invited to<br>
	 3. Your <strong>Friends</strong><br>
	 4. Your <strong>Social Calendar</strong><br>
	 If you want to make changes to your account, check out the different buttons in the header.
	 </p>
	<h3>Ideas/Activities on Hoos.in</h3>
	<p>Social plans on hoos.in begin as 'ideas' -like "play pick-up soccer" or "barbecue at the park." Ideas each have a time, description, optional link or map location, and a visibility setting that determines who's invited. 
	</p>
	<h3>Tipping</h3>
	<p>Ideas on hoos.in also have 'tipping points' -when the number of participants in an idea reaches the tipping point, it 'tips' and transforms into an 'activity,' and all the participants receive an email to confirm that it will take place. An idea's creator always has the option to manually tip it or cancel the idea -in either case, anyone who joined will be notified automatically. If an idea does not 'tip,' the creator receives a notification 3 hours before.
	</p>
	<h3>Friends on hoos.in</h3>
	<p>You can see your friends' ideas by viewing them on hoos.in, and they can see yours by viewing you back. You can find friends to view through Facebook or by searching their name or email. You can also invite friends to join hoos.in through Facebook. You can also email invitations to a specific idea from the left of the idea-details page, or share the link to that page.
	</p>
	<h3>The Social Calendar</h3>
	<p>Your Social Calendar displays all the ideas and activities you've created, joined or been invited to. Clicking an idea on the forecast gives you more information, and clicking the 'I'm in' button adds you to the participants. On the left, click the picture of anyone you're viewing to show or hide that person's invitations. The ribbon above the forecast provides quick access to view future days and an overview of upcoming ideas and activities.
	</p> -->
	<h3>Happy Living!</h3>
	<p>
		Our site is new and we're continuing to improve it. Send us Feedback and let us know your experience. We hope it helps make your lifestyle a little more fun.<br><br> Cheers,
		Mike and Adam- The hoos.in Team
	</p>
	</div>
</div>