<tr>
	<td style="padding:10px 0 5px 70px">What: <strong style="padding-left:10px;"><a href="http://www.hoos.in/events/<%= event.id %>"><%= event.title %></a></strong>
		<% if @user.rsvpd?(event) && event.starts_at > Time.now %>
			<strong>  (Attending)</strong>
		<% elsif @user.rsvpd?(event) && event.starts_at < Time.now %>
			<strong>  (Attended)</strong>
		<% end %></td>
</tr>

<tr>
	<td style="padding:5px 0 5px 70px">When: <strong style="padding-left:10px;"><%= event.starts_at.strftime("%l:%M%P, %A %B %e") %></strong></td>
</tr>

<% if event.tipped? %>
<tr>
	<td style="padding:5px 0 20px 70px"><strong style="color:green;">Idea tipped!</strong></td>
</tr>

<% else %>

<tr>
	<td style="padding:5px 0 5px 70px"><strong>This idea needs <span style="color:red;"><%= event.min - event.guests.count %></span> to tip</strong></td>
</tr>

<% end %>


