	<td><h2 style="font-size:35px;">welcome</h2></td>
</tr>
<tr>
	<td style="padding:0 0 0 10px">You and your friends are about to begin exploring and co-creating hoos.in as beta users. The site will be live on Wednesday and we want you all to be ready. Here are some of our goals and an overview of the next month.</td>
</tr>
</table>

<table>
<tr>
	<td><h3>goals</h3></td>
</tr>
<tr>
	<td style="padding:0px 0 0px 10px;">The goals of the next month is to be creative about how we can use hoos.in to simplify and improve our busy lives. And if the program is not enabling something (or is just plain broken) for Michael and I to fix it.</td>
</table>

<table>
<tr>
	<td><h3>next steps</h3></td>
</tr>
<tr>
	<td style="padding:0 0 0 10px">1. On Wed, September 12 you will recieve an email invitation from me or Mike on hoos.in.</td>
</tr>
<tr>
	<td style="padding:0 0 0 10px">2. When you are redirected, signup through facebook (or natively through hoos.in). Say your in on the event, or leave a comment searching our names on the user search bar on the home screen. We'll be putting up ideas every day for our friends to attend.</td>
</tr>
<tr>
	<td style="padding:0 0 0 10px">3. Invite your friends on facebook to hoos.in by clicking the facebook icon in the bottom left of the home screen</td>
</tr>
<tr>
	<td style="padding:0 0 0 10px">3. Put up ideas for fun things to do on hoos.in</td>
</tr>
<tr>
	<td style="padding:0 0 0 10px">4. Invite friends with the url or through hoos.in</td>
</tr>
<tr>
	<td style="padding:0 0 0 10px">5. They will be redirected to create an account and then join up</td>
</td>
