	<td><h2 style="font-size:22px;">Hoos in? You are!</h2></td>
</tr>
<tr>
	<td style="padding:0 0 0 10px">You're getting this email because you're one of our select group of super-beta users. This means you've agreed to use hoos_in to help you lead a creative and adventurous social life with your friends and we've agreed to let you in on our plans, listen to your feedback and give you a tee-shirt :). If this isn't something you're into, please let us know asap. We've been working hard and are really excited to get this project out there and in use- here are a few things to know before jumping in.</td>
</tr>
<table>
<tr>
	<td><h3>Our Launch Plan</h3></td>
</tr>
<tr>
	<td style="padding:0px 0 0px 10px;">We're taking a <a href="http://theleanstartup.com/principles">Lean Start-Up approach</a> to launching hoos_in, which means we have the beginnings of our core product and from here on out we'll be using feedback from users (like you!) to continuously adapt our tool until it absolutely rocks. Our primary goal is to make this site something you love to use. There's a long way to go and we're sure you'll have ideas of what's wrong/broken and what can be added/changed, which is why we're setting aside time 6 days a week for purely user-driven design and development. What that means? Don't be shy- tell us what you think! Anything is valuable, even (and especially) feedback about things other than the site itself such as what it's like to invite your friends to join, etc.</td>
</tr>
<tr>
	<td><h3>How to Communicate with Us</h3></td>
</tr>
<tr>
	<td style="padding:0px 0 0px 10px;">We're going to host a weekly 'feedback fiesta' with food and drinks for our users: view Mike or Adam's ideas on the site for details. This will be a fun chance to share your thoughts, help us figure out what's next and hang with us and other users. We'll also send you a weekly email like this to keep you up to speed with the ins and outs of hoos_in. Otherwise, if something is urgent (like we have a bug on the site) let us know right away, and for other thoughts either Adam or I (Mike) will contact you individually to have a focused chat about once a week to go over suggestions and the sum of your experience.</td>
</tr>
<tr>
	<td><h3>Getting Started</h3></td>
</tr>
<tr>
	<td style="padding:0px 0 0px 10px;">OK, time for the good stuff. To get started, go to our site <a href="http://www.hoos.in"> www.hoos.in </a> and sign up (note- technical limitations mean you need to put the www. in there). It's best to use Facebook sign-up, but you can also make a native user account. Start by viewing Adam or Mike's ideas either through the 'Find Facebook Friends' or 'Find Friends by Email or Name' (search Michael or Adam). Play around a bit and get comfortable with the site by putting up an idea or two, toggling on and off people's ideas and switching days in the calendar.<br><br>

	When you have some ideas up and are ready, you can invite friends to join hoos_in in two ways: either through the FB friends window, which posts an invitation to hoos_in on their FB wall; or through the invitation box on the left inside the idea page, which sends an email inviting them to that specific idea. You can also adjust your Facebook Post, notification and privacy settings by clicking your face in right of the header.<br><br>
	Hopefully the rest is (somewhat) intuitive... Check the 'how-to' button near the top of the page for more info.</td>
</tr>

<tr>
	<td><h3>In the Pipeline</h3></td>
</tr>
<tr>
	<td style="padding:0px 0 0px 10px;">On October 12 we plan to release our 'version 1.0,' which will be a cumulative package of the upgrades we make over the next month. Along with this, we'll also be releasing iPhone and Android apps that let anyone access their hoos_in on the go (a few pre-releases of these may be available soon- ask if interested). Some features we're considering right now are a payment gateway that lets groups pool money for activity costs, a checklist of what's needed for the activity e.g. equipment for a camping trip, and a public feed of concerts, classes and other offers from vendors. We're hoping you help us choose what's most important and offer suggestions for what else to improve.</td>
</tr>
</table>

<table>
<tr>
	<td><h3>Thank you!</h3></td>
</tr>
<tr>
	<td style="padding:0 0 0 10px">The support we've had from friends, family and peers interested in giving hoos_in a shot has been huge for motivating us to put in all the work to build this tool. We really appreciate it. Thanks also in advance for taking the time and putting in the effort to use it, change it and share it. We hope it takes us great places!</td>
</tr>
</table>

