<!-- <td><h2 style="font-size:18px;">Hey <%= #@current_guest.first_name %>,</h2></td> -->

<tr>
	<td style="padding:0 0 0 10px"><%= @event.user.name %> canceled your plan <%= @event.title %>...</td>
</tr>
<tr>
	<td style="padding:0 0 0 10px">Either the idea failed to tip or they had to change plans. Hopefully they'll put it up again soon!</td>
</tr>
