<tr>
	<td style="padding:20px 0 0 10px">An activity you were planning on was cancelled:</td>
</tr>

<%= render partial: 'event_details', locals: { :event => @event, :user => @user } %>

<tr>
	<td style="padding:20px 0 10px 10px">To view your forecast <a href="http://www.hoos.in">Click here</a></td>
</tr>

