<tr>
	<td style="padding:20px 0 0 10px">An activity you were planning on was cancelled:</td>
</tr>
<tr>
	<td style="padding:20px 0 10px 50px"><strong><%= @event.title %>...</strong></td>
</tr>
<tr>
	<td style="padding:20px 0 10px 10px">To view your forecast <a href="http://www.hoos.in">Click here</a></td>
</tr>

