<td style="padding:20px 0 20px 40px">
	<table>
		<tr>
			<td style="font-size:16px;">An activity you were planning on was cancelled:</td>
		</tr>

<%= render partial: 'event_details', locals: { :event => @event, :user => @user } %>

