<td><h2 style="font-size:18px;">Hey <%= @user.first_name %>,</h2></td>

<tr>
	<td style="padding:0 0 0 10px"><%= @follower.name %> wants to see your ideas on hoos.in. <a href=www.hoos.in/manage_follows> Manage your view requests </a> to confirm and add them your 'viewed by' list or to decline their request.</td>
</tr>