<td style="padding:20px 0 0 60px">
	<table>
		<tr>
			<td><img src="<%= @image_url %>" style="border-radius:6px; margin-right:5px" /></td>
			<td style="font-size:18px;"><strong><%= @follower.name %></strong> wants to be your friend on hoos.in. To manage their request, <a href="www.hoos.in/manage_friends">Click here</a></td>
		</tr>
	</table>
</td>
