<td style="padding:20px 0 0 60px">
	<span style="font-size:18px;"><%= @follower.name %></span> wants to join you on hoos.in! To manage their request, <a href="www.hoos.in/manage_friends">Click here</a>
</td>
