<tr>
	<td style="padding:0px 0 0px 40px;"><h3>hi,</h3></td>
</tr>
<tr>
	<td width="600" style="padding:0px 0 0px 50px;">This is a confirmation that your hoos.in account is now private. You will not be charged any further fees.
	</td>
</tr>