<% if @message.nil? %>
<td>
	<h2 style="padding:0 0 0 10px;font-size:22px;"><% if @user.nil? == false %><%= @user.first_name %> <% else %>Hey there<% end %>,</h2>
</td>
<% else %>
<tr>
	<td style="padding:20px 0 10px 50px"><%= @message %></td>
</tr>
<% end %>

<tr>
	<td style="padding:0px 0 10px 10px">	
		<strong><%= @inviter.name %></strong> invited you to an activity:
	</td>
</tr>

<%= render partial: 'event_details', locals: { :event => @event, :user => @user } %>

<% if @user.nil? %>
	<tr>
		<td style="padding:20px 0 10px 10px">hoos.in makes leading an adventurous social life easy... we're in beta and growing fast, check us out!</td>
	</tr>
<% end %>
