<td><h2 style="font-size:18px;">Hey <%= @user.first_name %>,</h2></td>

<tr>
	<td style="padding:0 0 0 10px">Your planned idea: <%= @event.title %> has tipped. That means the plan is on- see you there!</td>
</tr>
<tr>
	<td style="padding:0 0 0 10px">Check www.hoos.in/events/<%=@event.id%> for more details.</td>
</tr>
