<td><h2 style="font-size:18px;">Hey <%= @user.first_name %>,</h2></td>

<tr>
	<td style="padding:0 0 0 10px">Your idea: <strong><%= @event.title %></strong> has not tipped and it's starting soon. Please go to www.hoos.in/events/<%=@event.id%> to either tip this idea yourself or cancel it.</td>
</tr>