<td><h2 style="font-size:22px;">hoos.in is launching!</h2></td>
</tr>
<tr>
	<td style="padding:0 0 0 10px">You're getting this email because you're a friend of our team (Mike Fenchel and Adam Braus) and we'd like to invite you to use hoos_in with us. We're building hoos_in to make it easy to suggest and find awesome things to do with friends- which means that for us, it's much better if you join :). We've been working hard and are really excited to get this project out there and in use- if you're interested in giving it a shot, here are a few things to know before jumping in.</td>
</tr>
<table>
<tr>
	<td><h3>Our Status and Plan</h3></td>
</tr>
<tr>
	<td style="padding:0px 0 0px 10px;">For now, our primary goal is to make this site something you love to use- and to use it to have a great time with you all. After we're satisfied that it does that, we have a bunch of ideas for how to grow the site and take it off as a business. To get there, we're taking a <a href="http://theleanstartup.com/principles">Lean Start-Up approach</a>, which means we have our core product and from here on out we'll be using feedback from users (like you!) to continuously adapt our tool until it absolutely rocks. We've been working about 3 months and have a long way to go, but we're excited to hear your thoughts as to how we can make it better.</td>
</tr>
	<td><h3>Getting Started</h3></td>
</tr>
<tr>
	<td style="padding:0px 0 0px 10px;">OK, time for the good stuff- to get started, go to <a href="http://www.hoos.in"> hoos.in </a> and sign up. It's best to use Facebook, but you can also make a native user account. Login and begin by viewing Adam or Mike's ideas, either through the 'Find Facebook Friends' or 'Find Friends by Email or Name' (search Michael or Adam). Play around a bit and get comfortable with the site by putting up an idea or two, toggling on and off people's ideas and switching days in the calendar.<br><br>

	When you have some ideas up and are ready, you can invite friends to join hoos_in in two ways: either through the FB friends window, which posts an invitation to hoos_in on their FB wall; or through the invitation box on the left inside the idea page, which sends an email inviting them to that specific idea. You can also adjust your Facebook Post, notification and privacy settings by clicking your face in right of the header.<br><br>
	Hopefully the rest is (somewhat) intuitive... Check the 'how-to' button near the top of the page for more info.</td>
</tr>
<tr>
	<td><h3>Want to Help Out?</h3></td>
</tr>
<tr>
	<td style="padding:0px 0 0px 10px;">The most helpful thing you can do for us is to use the site and invite your friends! We also are starting a <a href="mailto: info@hoos.in?subject=Make me a Super-Beta-User!"> Super-Beta-User </a> group you can join for people who want to get weekly insider updates and be invited to our weekly 'feedback fiesta.' Otherwise, if something is broken or you have something you'd really like to see added or changed, please let us know.</td>
</tr>
<tr>
<tr>
	<td><h3>In the Pipeline</h3></td>
</tr>
<tr>
	<td style="padding:0px 0 0px 10px;">On October 12 we plan to release our 'version 1.0,' which will be a cumulative package of the upgrades we make over the next month. Along with this, we'll also be releasing iPhone and Android apps that let anyone access their hoos_in on the go (a few pre-releases of these may be available soon- ask if interested). Some features we're considering right now are a payment gateway that lets groups pool money for activity costs, a checklist of what's needed for the activity e.g. equipment for a camping trip, and a public feed of concerts, classes and other offers from vendors. We're hoping you help us choose what's most important and offer suggestions for what else to improve.</td>
</tr>
</table>

<table>
<tr>
	<td><h3>Thanks!</h3></td>
</tr>
<tr>
	<td style="padding:0 0 0 10px">The support we've had from friends, family and peers interested in giving hoos_in a shot has been huge for motivating us to put in all the work to build it. We really appreciate it. Thanks also in advance for taking the time and putting in the effort to use it, change it and share it. We hope it takes us great places!</td>
</tr>
</table>

