<tr>
	<td style="padding:0px 0 0px 40px;"><h3>Hello, beautiful!</h3></td>
</tr>
<tr>
	<td width="600" style="padding:0px 0 0px 50px;">Thanks to you, a lot has happened since our last update. Here's a quick overview:
	</td>
</tr>
<tr>
	<td style="padding:0px 0 0px 40px;"><h3>Mobile Apps</h3>
</tr>
<tr>
	<td width="600" style="padding:0px 0 0px 50px;">We have both Android and iPhone apps that are now ready for beta-use before they hit the market. We have 50 of each to distribute, <a href="http://www.hoos.in"> check our post for instructions</a> to get one!
	</td>
</tr>
<tr>
	<td style="padding:0px 0 0px 40px;"><h3>Train Car + Party</h3>
</tr>
<tr>
	<td width="600" style="padding:0px 0 0px 50px;">We moved into a new office inside a renovated train car that is pretty dang fun. We're throwing a party with music, drinks and a lot of great people this Saturday. <a href="http://hoos.in/events/268">Check the Idea Page</a> to join- and feel free to bring your friends!
	</td>
</tr>
<tr>
	<td style="padding:0px 0 0px 40px;"><h3>New Features</h3>
</tr>
<tr>
	<td width="600" style="padding:0px 0 0px 50px;">You can now add hoos.in plans to your google, iCal and Outlook Calendars! We also got public ideas fixed up and added new idea options, and we just put up a blog called <a href="http://hoos.in/blog">More Social, Less Network</a> about living a kick-ass social life in a busy technological world. Check it out, leave comments, and if you'd like to guest write let us know.
	</td>
</tr>
<tr>
	<td style="padding:0px 0 0px 40px;"><h3>What's Next</h3>
</tr>
<tr>
	<td width="600" style="padding:0px 0 0px 50px;">All the feedback and use is still what's keeping us innovating and moving forward- please keep it coming. We have a bunch more features in the pipeline including a way for groups to easily split up costs for more expensive plans / tickets.
	</td>
</tr>
<tr>
	<td style="padding:0px 0 0px 40px;"><h3>Have an Awesome Day!</h3>
</tr>
