<tr>
	<td style="padding:0px 0 0px 40px;"><h3>hi awesome beta user!</h3></td>
</tr>
<tr>
	<td width="600" style="padding:0px 0 0px 50px;">First off, we apologize if we just sent you a deluge of 'connect' emails.. we just fixed the bug responsible for that.. thank you for your understanding :). Here's a quick overview of what's been up with hoos.in:
	</td>
</tr>

<tr>
	<td style="padding:0px 0 0px 40px;"><h3>Mobile Apps</h3>
</tr>
<tr>
	<td width="600" style="padding:0px 0 0px 50px;">We have both Android and iPhone apps that are ready for beta use before they hit the market. We have 50 of each to distribute, <a href="http://www.hoos.in/blog/"> check our post for simple instructions</a> on how to get one!
	</td>
</tr>
<tr>
	<td style="padding:0px 0 0px 40px;"><h3>Train Car / Dance Party</h3>
</tr>
<tr>
	<td width="600" style="padding:0px 0 0px 50px;">We moved into a new office inside a renovated train car and are throwing fun nightly activities open to our friends and users. <a href="http://www.hoos.in/">Check out the site</a> and follow our team (Adam Braus or Michael Fenchel) to stay up with them. A special thanks to everyone who came to Saturday's dance party! We had an absolute blast.
	</td>
</tr>
<tr>
	<td style="padding:0px 0 0px 40px;"><h3>Blog + New Features</h3>
</tr>
<tr>
	<td width="600" style="padding:0px 0 0px 50px;">You can now add hoos.in plans to your google, iCal and Outlook Calendars! Just click the icons on the top right of any idea. We also put up a blog called <a href="http://hoos.in/blog">More Social, Less Network</a> about living a kick-ass social life in a busy technological world. Check it out, leave comments, and if you'd like to guest write let us know.
	</td>
</tr>
<tr>
	<td style="padding:0px 0 0px 40px;"><h3>What's Next</h3>
</tr>
<tr>
	<td width="600" style="padding:0px 0 0px 50px;">All the feedback and use is still what's keeping us innovating and moving forward- please keep it coming. We have a bunch more features in the pipeline including a way for groups to easily split up costs for more expensive plans / tickets.
	</td>
</tr>
<tr>
	<td style="padding:0px 0 0px 40px;"><h3>Have an Awesome Day!</h3>
</tr>
