<td><h2 style="font-size:18px;">Hey <% if @user.nil? == false %> <%= @user.first_name %> <% else %> there <% end %>,</h2></td>

<tr>
	<td style="padding:0 0 0 10px"><%= @event.user.name %> has invited you to <%= @event.title %>.  Check out www.hoos.in/events/<%=@event.id%> to join!</td>
</tr>
<% if @user.nil? %>
	<tr>
		<td style="padding:0 0 0 10px">Join hoos.in to make leading an adventurous, creative and all-together awesome social life easy!</td>
	</tr>
<% end %>
	