<td>
	<h2 style="padding:0 0 0 10px;font-size:22px;"><%= @user.first_name %>,</h2>
</td>

<tr>
	<td style="padding:0px 0 10px 10px">	
		<strong><%= @inviter.name %></strong> invited you to an activity:
	</td>
</tr>

<%= render partial: 'event_details', locals: { :event => @event, :user => @user } %>
