<tr>
	<td style="padding:0px 0 0px 40px;"><h3>hi,</h3></td>
</tr>
<tr>
	<td width="600" style="padding:0px 0 0px 50px;">We do not have any valid credit card on file for your account with hoos.in. Unfortunately we have had to downgrade your account to private until you add the valid credentials. Follow <%= link_to "this link", new_card_url %> to add a valid credit card and you will be back up and running as a venue in your community.
	</td>
</tr>