<td style="padding:20px 0 20px 40px">
	<table>
		<tr>
			<td style="font-size:16px;">
				<%=@event.user.first_name %> set a time for - <a href=<%= @event_link %>><%= @event.title %></a>
			</td>
		</tr>

<%= render partial: 'event_details', locals: { :event => @event, :user => @user } %>
