<td><h2 style="font-size:18px;">Hey <%= @user.first_name %>,</h2></td>

<tr>
	<td style="padding:0 0 0 10px"><%= @follower.name %> is now viewing you on hoos.in. <a href=www.hoos.in/manage_follows> Manage your view requests </a> or begin inviting them to your ideas!</td>
</tr>