<td style="padding:20px 0 0 60px">
	<table>
		<tr>
			<td><img src="<%= @image_url %>" style="border-radius:6px; margin-right:5px" /></td>
			<td style="font-size:18px;"><strong><%= @rsvping_user.name %></strong> joined .in on your idea</td>
		</tr>
		<%= render partial: 'event_details', locals: { :event => @event, :user => @user } %>
	</table>
</td>