<td style="padding:20px 0 20px 60px">
	<table>
		<tr>
			<td><a href="http://www.hoos.in/users/<%= @follower.slug %>"><img src="<%= @image_url %>" style="border-radius: 6px; margin-right: 5px;" /></a></td>
			<td style="font-size:18px;">
				Your .in-mate, <strong><a href="http://www.hoos.in/users/<%= @follower.slug %>"> <%= @follower.name %></a> </strong> brought you into their .inner-circle on hoos.in.
			</td>
		</tr>
	</table>
	<table>
		<tr>
			<td style="color:gold;"><i class="icon-star"></i></td>
			<td style="padding:20px 40px 0 0px;font-size:16px;line-height:1.2;">
				Bring .in-mates into your .inner-circle to receive notifications when they <strong>create ideas</strong>, and see <strong>their .in's</strong> higher on your home screen
			</td>
		</tr>
	</table>
</td>

