<tr>
	<td style="padding:0px 0 0px 40px;"><h3>hi,</h3></td>
</tr>
<tr>
	<td width="600" style="padding:0px 0 0px 50px;">This is a confirmation that your $25 dollar payment for the month of <%= Time.now.strftime("%B") %> was processed successfully.
	</td>
</tr>