<td><h2 style="font-size:16px;">Hey <%= @current_guest.first_name %>,</h2></td>

<tr>
	<td style="padding:0 0 0 10px">Your plan: <strong><%= @event.title %></strong> starts in 2 hours, see you there!</td>
</tr>
<tr>
	<td style="padding:0 0 0 10px">For more details and to invite more friends, check out www.hoos.in/events/<%=@event.id%>.</td>
</tr>
