<td><h2 style="font-size:18px;">Hey <%= g.first_name %>,</h2></td>

<tr>
	<td style="padding:0 0 0 10px">Your Activity: <%= @event.title %> starts in 2 hours!</td>
</tr>
<tr>
	<td style="padding:0 0 0 10px">If you need to cancel, let <%= @event.user.name %> know asap, otherwise, see you there!</td>
</tr>
