<td><h2 style="font-size:16px;">Hey <%= @user.first_name %>,</h2></td>

<tr>
	<td style="padding:0 0 0 10px">Your plan: <strong><%= @event.title %> </strong> has changed times. Check <a href="www.hoos.in/events/<%=@event.id%>"the details </a> to make sure you can still make it at:  </td>
</tr>
