<td><h2 style="font-size:16px;">Hey <%= @user.first_name %>,</h2></td>

<tr>
	<td style="padding:0 0 0 10px">Your plan: <strong><%= @event.title %> </strong> has changed times. <a href="www.hoos.in/events/<%=@event.id%>"> Check the details </a> to make sure you're still in!</td>
</tr>
