<td><h2 style="font-size:16px;padding:0 0 0 10px;"><%= @user.first_name %>,</h2></td>

<tr>
	<td style="padding:0 0 0 10px;">One of your .ins - <strong><%= @event.title %> </strong> - has changed times.</td>
</tr>

<%= render partial: 'event_details', locals: { :event => @event, :user => @user } %>
