	<td><h2 style="font-size:22px;">Hello hoos.in Friends,</h2></td>
</tr>
<tr>
	<td style="padding:0 0 0 10px">First off, THANK YOU for your enthusiastic use of the site! We've hardly begun spreading the word and we already have 101 users and multiple ideas happening every day... and we're having a ton of fun! Here's a few updates on where we are and what's coming next:</td>
</tr>
<table>
<tr>
	<td><h3>A New and Improved Site</h3></td>
</tr>
<tr>
	<td style="padding:0px 0 0px 10px;">Thanks to all the feedback and real usage we now have, we've been able to put together a 'beta v 2.0' which we just launched today. This features improved design, faster performance (check out the new day-scroller :) ), better options for sharing ideas, and a 'new ideas' notifier in the header. We've also switched over from one-way 'viewing' to 'friends' in order to make it more intuitive for the majority of our users. There's still a million things we want to make better, but check it out and let us know what you think! </td>
</tr>
<tr>
	<td><h3>On the Business Front</h3></td>
</tr>
<tr>
	<td style="padding:0px 0 0px 10px;">Business-wise we're still focused primarily on development- improving the site and getting our mobile apps finished. However, we're beginning to gear-up for a marketing push which we plan to start mid-October. To do this we're bringing on a couple communications interns and putting together some promotional materials. We've also made some exciting contacts and started conversations with venues and other organizations who're interested in putting their events on the hoos.in public feed once that goes live in October.</td>
</tr>
<tr>
	<td><h3>How You Can Help</h3></td>
</tr>
<tr>
	<td style="padding:0px 0 0px 10px;">The name of the game is still feedback and the most helpful thing you can do for now is continue to use hoos.in and let us know what's working and what's not doing it for you. Since we're still early in adaptation mode, spreading to new users is lower on our list- but we can't deny that we get pumped up when new people join and start to use it, so sharing it with friends is also really helpful. We decided to make our Feedback Fiestas every-other-week so we can keep up with the suggestions- come if you're able! The first one was really inspiring and useful for us.</td>
</tr>
</table>