<tr>
	<td style="padding:0px 0 0px 40px;"><h3>What is hoos.in?</h3></td>
</tr>
<tr>
	<td width="600" style="padding:0px 0 0px 50px;">A social calendar that makes it easy to coordinate a creative and adventurous social life.
	</td>
</tr>
<tr>
	<td width="600" style="padding:0px 0 0px 50px;">As a vendor you can make public suggestions that anyone in your city can see and make their own by 'cloning' it. From your <a href="http://www.hoos.in/vendor_dashboard"> vendor dashboard </a> you can see how many people have cloned your event and how many people they are bringing along. 
	</td>
</tr>
<tr>
	<td style="padding:0px 0 0px 40px;"><h3>Who are we?</h3>
</tr>
<tr>
	<td width="600" style="padding:0px 0 0px 50px;">We started hoos.in because we want to making doing great things with our friends easy. We created the vendor program to enrich the menu of ideas that users have to attend in their cities. We want to continue to make our site better and improve our users' experiences with your input. We're constantly adjusting things to make our service better and more valuable.
	</td>
</tr>
<tr>
	<td style="padding:0px 0 0px 40px;"><h3>What now?</h3>
</tr>
<tr>
	<td width="600" style="padding:0px 0 0px 50px;">Make a suggestion on hoos.in, promote it using hoos.in's integrated social media tools, and then track engagement. From your vendor dashboard, you will be able to see analytics on how many clones and RSVPs the suggestion recieves and how many new follows your gain. Leverage the hoos.in app with your current users and community members.
	</td>
</tr>
<tr>
	<td width="600" style="padding:20px 0 0px 50px;">Please share feedback! Or <a href="mailto:info@hoos.in?subject=Make me a Super-Beta-User!">join our Super-Beta-Users</a> group that gets insider updates, T-shirts, and invitations to 'Feedback Fiestas'.
	</td>
</tr>
