<tr>
	<td style="padding:0px 0 0px 40px;"><h3>hi, and welcome to hoos.in!</h3></td>
</tr>
<tr>
	<td width="600" style="padding:0px 0 0px 50px;">hoos.in is a social calendar that makes it easy and hassel-free to live a creative and adventurous social life. 
	</td>
</tr>
<tr>
	<td style="padding:0px 0 0px 40px;"><h3>How it Works</h3></td>
</tr>
<tr>
	<td width="600" style="padding:0px 0 0px 50px;">Check <a href="http://www.hoos.in"> hoos.in</a> to see what ideas your friends are creating and .in on. Click on an idea to see the details and who's .in. You can join .in on an existing idea by clicking the '.interested' button or add your own idea to the mix.
	</td>
</tr>
<tr>
	<td width="600" style="padding:0px 0 0px 50px;"><br>Find your friends on hoos.in through the facebook button in the header, or search their name or email in the search bar. Join .in on their ideas to become .in-mates.
	</td>
</tr>
<tr>
	<td width="600" style="padding:0px 0 0px 50px;"><br>Whether your idea is a new twist on a book club, or paragliding at dawn, hoos.in is here to help you do great things with friends.
	</td>
</tr>

<tr>
	<td style="padding:0px 0 0px 40px;"><h3>Who are we?</h3>
</tr>
<tr>
	<td width="600" style="padding:0px 0 0px 50px;">hoos.in is based in the Historic Train Depot of Madison with the mission to make it easy for everyone to do great things with friends.
		<br>To learn more about us follow us on <a href="https://twitter.com/hoos_in">twitter</a>, <a href="https://www.facebook.com/hoosinapp">like</a> us on facebook, and read our blog - <a href="http://blog.hoos.in">more social, less network</a>
	</td>
</tr>

