<td width="600"><h1>Welcome to hoos.in <%=@user.first_name%>!<h1></td>

<table>
<tr>
	<td><h3>What is hoos.in?</h3></td>
</tr>
<tr>
	<td width="600" style="padding:0px 0 0px 10px;">Hoos.in makes doing fun things with your friends easy. Share ideas for what you want to do and see who's interested, or check out your Social Forecast to quickly figure out what's going on with your friends. For more information, check out the 'How it Works' link at the top of the <a href="http://www.hoos.in"> home page.</a>
	</td>
</tr>
<tr>
	<td><h3>What's Up with Us?</h3>
<tr>
	<td width="600" style="padding:0px 0 0px 10px;">We started hoos.in because we want to do great things with all our friends. Now, we're using it to do that. We're in Beta mode, which means we're constantly adjusting to make our service better and more valuable to you. Please share feedback! If you happen to be extra excited about this idea and want to help make it take off <a href="mailto: info@hoos.in?subject=Make me a Super-Beta-User!">join our Super-Beta-Users</a> group that gets insider updates and invitations to our weekly 'Feedback Fiestas'.
	</td>
</tr>
