<tr>
	<td style="padding:0px 0 0px 40px;"><h3>hi, and welcome to hoos.in!</h3></td>
</tr>
<tr>
	<td width="600" style="padding:0px 0 0px 50px;">hoos.in makes it easy and hassel-free to plan creative and adventurous activities with friends, colleagues, and family. 
	</td>
</tr>
<tr>
	<td style="padding:0px 0 0px 40px;"><h3>How it Works</h3></td>
</tr>
<tr>
	<td width="600" style="padding:0px 0 0px 50px;"><a href="http://www.hoos.in/new_idea">Create an idea</a> of something fun or creative you've been wanting to do. Make it something memorable and enriching - maybe a new twist on a book club, practicing your Russian, or a themed potluck - or maybe an idea from your bucket list like paragliding at dawn, or a city-wide pillow-fight. You can include a time if you like or just float the idea to see who is .in.
	</td>
</tr>
<tr>
	<td width="600" style="padding:0px 0 0px 50px;"><br>Check <a href="http://www.hoos.in"> hoos.in</a> to see what ideas your community are creating and .in on. Click on an idea to see the details and who's .in. You can join .in on an existing idea by clicking the '.interested' button. You can join an upcoming time for that idea by clicking on the '.in' button.
	</td>
</tr>
<tr>
	<td width="600" style="padding:0px 0 0px 50px;"><br>Search for friends on hoos.in by their name or email in the search bar in the header. Also click the facebook button to invite your facebook friends. Join .in on your friends ideas to become .in-mates.
	</td>
</tr>
<tr>
	<td width="600" style="padding:0px 0 0px 50px;"><br>Whatever your idea of adventure is hoos.in is here to help you do great things with friends.
	</td>
</tr>

<tr>
	<td style="padding:0px 0 0px 40px;"><h3>Who are we?</h3>
</tr>
<tr>
	<td width="600" style="padding:0px 0 0px 50px;">hoos.in is based in the Historic Train Depot of Madison with the mission to make it easy for everyone to do great things with friends.
	</td>
</tr>
<tr>
	<td width="600" style="padding:0px 0 0px 50px;"><br>To learn more about us follow us on <a href="https://twitter.com/hoos_in">twitter</a>, like us <a href="https://www.facebook.com/hoosinapp">facebook</a>, and read our blog - <a href="http://blog.hoos.in">more social, less network</a>
	</td>
</tr>

