<tr>
	<td style="padding:0px 0 0px 40px;"><h3>What is hoos.in?</h3></td>
</tr>
<tr>
	<td width="600" style="padding:0px 0 0px 50px;">We're a site that enables our users to have a creative, adventurous, and mobile social life.
	</td>
</tr>
<tr>
	<td width="600" style="padding:0px 0 0px 50px;">User your hoos.in social calendar to share ideas quickly and team up for adventures with your friends. Make plans with open invitations to all your friends, by invite only, or even include your friends of friends. For more information, check out the 'How it Works' link at the top of the <a href="http://www.hoos.in"> home page.</a>
	</td>
</tr>
<tr>
	<td style="padding:0px 0 0px 40px;"><h3>Who are we?</h3>
</tr>
<tr>
	<td width="600" style="padding:0px 0 0px 50px;">We started hoos.in because we want to do great things with all our friends. Now, we're using it to do that. We're co-creating this service with your input and are constantly adjusting things to make our service better and more valuable to you.
	</td>
</tr>
<tr>
	<td style="padding:0px 0 0px 40px;"><h3>What now?</h3>
</tr>
<tr>
	<td width="600" style="padding:0px 0 0px 50px;">Find friends by searching their names, or on Facebook. Then Plan things, invite people by email or other friends on hoos.in, and then have fun!
	</td>
</tr>
<tr>
	<td width="600" style="padding:20px 0 0px 50px;">Please share feedback! Or <a href="mailto:info@hoos.in?subject=Make me a Super-Beta-User!">join our Super-Beta-Users</a> group that gets insider updates, T-shirts, and invitations to 'Feedback Fiestas'.
	</td>
</tr>
