<tr>
	<td style="padding:0px 0 0px 40px;"><h3>hi, and welcome to hoos.in!</h3></td>
</tr>
<tr>
	<td width="600" style="padding:0px 0 0px 50px;">hoos.in makes it easy and hassel-free to plan <b>creative</b> and <b>adventurous</b> activities with friends, colleagues, and family. 
	</td>
</tr>
<tr>
	<td style="padding:0px 0 0px 40px;"><h3>How it Works</h3></td>
</tr>
<tr>
	<td width="600" style="padding:0px 0 0px 50px;"><a href="http://www.hoos.in/new_idea"><b>Create an idea</b></a> of something fun or creative you've been wanting to do, then <b>share it</b> through Facebook, Twitter, email, or text message. Make the idea something creative--maybe a <b>themed potluck</b>, a <b>neighborhood parade</b>, or some <b>ninja-training</b>--or maybe an idea from your bucket list, like <b>paragliding at dawn</b> or a <b>city-wide pillow fight</b>. Your idea can have a set time, or you can pick a time later, once you know who is <b>.interested</b>.
	</td>
</tr>
<tr>
	<td width="600" style="padding:0px 0 0px 50px;"><br>Check <a href="http://www.hoos.in"> hoos.in</a> to see what ideas your community is creating that you want to get .in on. Click on an idea to see the details and who's .in. You can join .in on an existing idea by clicking the <b>".interested"</b> button. You can join an upcoming time for that idea by clicking on the <b>".in"</b> button.
	</td>
</tr>
<tr>
	<td width="600" style="padding:0px 0 0px 50px;"><br><b>Search for friends</b> on hoos.in by their names or emails in the search bar in the header. Also click the Facebook button to invite your Facebook friends in your city to hoos.in. Join .in on your friends' ideas to become friends.
	</td>
</tr>
<tr>
	<td width="600" style="padding:0px 0 0px 50px;"><br>Whatever your idea of adventure is, hoos.in is here to help you to <b>do great things with friends</b>.
	</td>
</tr>

<tr>
	<td style="padding:0px 0 0px 40px;"><h3>Who are we?</h3>
</tr>
<tr>
	<td width="600" style="padding:0px 0 0px 50px;">hoos.in is based in the Historic Train Depot of Madison Wisconsin. We have the mission to make it easy for everyone to do great things with friends.
	</td>
</tr>
<tr>
	<td width="600" style="padding:0px 0 0px 50px;"><br>To learn more about us follow us on <a href="https://twitter.com/hoos_in">Twitter</a>, like us <a href="https://www.facebook.com/hoosinapp">Facebook</a>, and read our blog--"<a href="http://blog.hoos.in">more social, less network</a>"
	</td>
</tr>

