	<td width="600"><h1>welcome @user.first_name,<h1></td>
</tr>
<tr>
	<td width="600"><h3>Create a <a href="http://www.hoos.in/events/new" target ="_blank" title="Styling Links" style="color: blue; text-decoration: none;">New Idea</a> and start inviting your friends.<h3>
</td>