<tr>
	<td style="padding:0px 0 0px 40px;"><h3>hi. Welcome to hoos.in!</h3></td>
</tr>
<tr>
	<td width="600" style="padding:0px 0 0px 50px;">hoos.in is a social network that makes it easy to live a creative, adventurous and generally awesome social life. 
	</td>
</tr>
<tr>
	<td style="padding:0px 0 0px 40px;"><h3>How it Works</h3></td>
</tr>
<tr>
	<td width="600" style="padding:0px 0 0px 50px;">Check your social calendar on your<a href="http://www.hoos.in"> home page</a> to see what your friends are up to and to find creative ideas from your community for what you can do together.  
	</td>
</tr>
<tr>
	<td width="600" style="padding:0px 0 0px 50px;">Click on an idea to see the details and who's going. You can join an existing idea or add your own idea to the mix- either way, pick who you want to share it with and invite them to join by clicking their face.
	</td>
</tr>
<tr>
	<td width="600" style="padding:0px 0 0px 50px;">Find friends by searching their name or through Facebook in the header.
	</td>
</tr>
<tr>
	<td width="600" style="padding:0px 0 0px 50px;">Most of all, join something fun and go do great things with friends!
	</td>
</tr>

<tr>
	<td style="padding:0px 0 0px 40px;"><h3>Who are we?</h3>
</tr>
<tr>
	<td width="600" style="padding:0px 0 0px 50px;">hoos.in is a start-up based in Madison, WI with the mission to make it easy for everyone to do great things with friends. 
	</td>
</tr>

