<tr>
	<td style="padding:0px 0 0px 40px;"><h3>What is hoos.in?</h3></td>
</tr>
<tr>
	<td width="600" style="padding:0px 0 0px 50px;">A social calendar that makes it easy to coordinate a creative and adventurous social life.
	</td>
</tr>
<tr>
	<td width="600" style="padding:0px 0 0px 50px;">See what you're friends want to do with you, and throw some of your own ideas out there. For any idea, you can quickly choose who will see it, and even how many people are needed for it to 'tip' and happen. For more information, check out the 'How it Works' link at the top of the <a href="http://www.hoos.in"> home page.</a>
	</td>
</tr>
<tr>
	<td style="padding:0px 0 0px 40px;"><h3>Who are we?</h3>
</tr>
<tr>
	<td width="600" style="padding:0px 0 0px 50px;">We started hoos.in because we want to making doing great things with our friends easy. Now, we use it to do that, and we're continuing to make it better with your input. There's a long way to go, but we're constantly adjusting things to make our service better and more valuable.
	</td>
</tr>
<tr>
	<td style="padding:0px 0 0px 40px;"><h3>What now?</h3>
</tr>
<tr>
	<td width="600" style="padding:0px 0 0px 50px;">Find friends by searching their names, or on Facebook. Then plan things, invite people by email or other friends on hoos.in, and then have fun!
	</td>
</tr>
<tr>
	<td width="600" style="padding:20px 0 0px 50px;">Please share feedback! Or <a href="mailto:info@hoos.in?subject=Make me a Super-Beta-User!">join our Super-Beta-Users</a> group that gets insider updates, T-shirts, and invitations to 'Feedback Fiestas'.
	</td>
</tr>
