<div class="no_invites part">
  <div id="status"></div>
  <h1>ideas & .invites</h1>
  <div class="ideas_and_times">
    <i class='icon-cloud'></i>
    <i class='icon-calendar'></i>
  </div>
  <ul>
    <li>Fun activities on hoos.in are called <strong>ideas</strong>.  Ideas have any number of <strong>.invites</strong> when and where they are going to take place.</li>
  </ul>
  <h1>.in / .interested & out</h2>
  <div class="ideas_and_times">
    <i class='icon-ok blue'></i>
    <i class='icon-remove red'></i>
  </div>
  <ul>
    <li>Click an idea's check if you are <strong>.interested</strong> in an idea and be notified of its times and chat. Do the same for an .invite to be <strong>.in,</strong></li>
    <li>Or click the ex if you're <strong>out.</strong></li>
  </ul>  
  <h1>.intros & friends</h1>
  <div class="ideas_and_times">
    <i class='icon-star inmate_star'></i>
    <i class='icon-star friend_star'></i>
  </div>
  <ul>
    <li>Two people .in or .interested in any one idea or .invite are <strong>.intros,</strong> and can see each other's .ins and .interesteds.</li>
    <li>Click on an .intro's <strong>star</strong> to be <strong>friends,</strong> and get notifications when they create ideas.</li>
  </ul>
</div>