<div class="no_invites part">
	<h1>ideas & times</h1>
  <div class="ideas_and_times">
  	<i class='icon-cloud'></i>
    <i class='icon-calendar'></i>
  </div>
  <ul>
  	<li>fun things people want to do with friends are called <strong>ideas</strong>.</li>
  	<li>ideas have <strong>times</strong> that explain when and where they are going to happen.</li>
  </ul>
  <h1>.in / .interested & out</h2>
  <div class="ideas_and_times">
    <i class='icon-ok blue'></i>
    <i class='icon-remove red'></i>
  </div>
  <ul>
    <li>when you are planning on going to a time - you are <strong>.in,</strong></li>
    <li>when it's an idea - you are <strong>.interested</strong>.</li>
    <li>if your not .in or .interested - your <strong>out</strong></li>
  </ul>
	<h1>.in-mates & stars</h1>
	<div class="ideas_and_times">
  	<i class='icon-star inmate_star'></i>
  	<i class='icon-star friend_star'></i>
  </div>
  <ul>
  	<li>people you're .in on an idea with are called <strong>.in-mates</strong></li>
  	<li>if you <strong>star</strong> an .in-mate you will recieve notifications when they create ideas.</li>
  </ul>
</div>