<div class="no_invites part">
  <h1>.intros & friends</h1>
  <div class="ideas_and_times">
    <i class='icon-star inmate_star'></i>
    <i class='icon-star friend_star'></i>
  </div>
  <ul>
    <li>People who share an .interest with you are called <strong>.intros,</strong> and can <strong>.invite</strong> you to their ideas. </li>
    <li>If you <strong>star</strong> an .intro, they become your <strong>friend,</strong> and you'll be kept up to date with their ideas.</li>
  </ul>
	<h1>ideas & times</h1>
  <div class="ideas_and_times">
  	<i class='icon-cloud'></i>
    <i class='icon-calendar'></i>
  </div>
  <ul>
  	<li>Fun activities on hoos.in are called <strong>ideas</strong>.  Ideas have any number of <strong>times</strong> they are taking place. Your <strong>.invites </strong>are the ideas your social network has shared with you.</li>
  </ul>
  <h1>.in / .interested & out</h2>
  <div class="ideas_and_times">
    <i class='icon-ok blue'></i>
    <i class='icon-remove red'></i>
  </div>
  <ul>
    <li>Click the check or 'join' to become <strong>.interested</strong> in an idea and be notified of its times and chat. Do the same for a specific time, and you become <strong>.in,</strong> which means you plan to go.</li>
    <li>If you no longer want to see an idea or its times, click the 'X' and you wil be <strong>out.</strong></li>
  </ul>
</div>