<div class="inmates_bar part left">
		<span id="showCalendar" style="display:none;"><i class="icon-calendar"></i> calendar</span>
		<span id="showInmates" data-slug="<%= @user.slug %>"><i class="icon-star"></i> .intros</span>
		<div id="getInmates">	
			<%= image_tag 'ajax-loader2.gif' %>
		</div>
</div>