<div class="vendor_dash">
	<% if user_signed_in? %>
	<div class="future_events">
	<h3>Upcoming Ideas</h3>
		<ul>
			<% @events.each do |e| %>
				<%= render partial: 'shalendar/activity_event', locals: { :event => e } %>
			<% end %>
		</ul>
	</div>
	<% end %>
	<div class="past_events">
		<h3>Past Ideas</h3>
		<ul>
			<% @past_events.each do |pe| %>
				<%= render partial: 'shalendar/activity_event', locals: { :event => pe } %>
			<% end %>
		</ul>
	</div>
</div>