<div class="choose_city">
<form>
  <select name="URL" onchange="window.location.href= this.form.URL.options[this.form.URL.selectedIndex].value">
    <option value="/">pick your city</option>
    <option value="/madison">Madison, Wisconsin</option>
    <option value="/everywhere_else">Everywhere Else</option>
  </select>
</form>
</div>