<span class="choose_city">
<form>
  <select name="URL" onchange="window.location.href= this.form.URL.options[this.form.URL.selectedIndex].value">
  	<option>choose city</option>
  	<% City.all.each do |c| %>

    <option value=<%="/#{c.name.split(',')[0].gsub(/\s+/, "").downcase}"%>><%= "#{c.name}"%></option>
    <% end %>
  </select>
</form>
</span>

<% if false %>
	<form>
	<%= select_tag :city_id, options_from_collection_for_select(City.all, :id, :name), { :name => "URL", :onchange => "window.location.href= this.form.URL.options[this.form.URL.selectedIndex].value"} %>
</form>
<% end %>