<script>
$('#categories').buttonset();
$("input[type=checkbox].switch").each(function() {
  $(this).before(
      '<span class="switch">' +
      '<span class="mask" /><span class="background" />' +
      '</span>'
    );
  $(this).hide();
    // Set inital state
  if (!$(this)[0].checked) {
      $(this).prev().find(".background").css({left: "-56px"});
    }
  });
// Toggle switch when clicked
  $("span.switch").click(function() {
    // If on, slide switch off
    if ($(this).next()[0].checked) {
      $(this).find(".background").animate({left: "-56px"}, 200);
    // Otherwise, slide switch on
    } else {
      $(this).find(".background").animate({left: "0px"}, 200);
    }
    // Toggle state of checkbox
    $(this).next()[0].checked = !$(this).next()[0].checked;
  });

$('#datetime').datetimepicker({
    minDate: 0,
    dateFormat: "d MM",
    timeFormat: "h:mm tt",
    ampm: true,
    stepMinute: 15,
    addSliderAccess: true,
    sliderAccessArgs: { touchonly: true },
    hour:12,
    minute:00
});

 $("#addLink").click(function () { 
 if ($("#addLinkp").hasClass("open")) { 
   $("#addLinkp").slideUp();
   $('#addLinkp').removeClass("open");
  }
 else {
 $('.open').slideUp();
 $('.open').removeClass("open");
 $("#addLinkp").slideDown();
 $("#addLinkp").addClass("open");
 $("#addLink").css("color", "#EB8325")
  }
});

$("#addmap").click(function () {
 if ($("#addmapp").hasClass("open")) {
   $("#addmapp").slideUp();
   $('#addmapp').removeClass("open");
 }
 else {
   $('.open').slideUp();
   $('.open').removeClass("open");
   $('#addmapp').slideDown();
   $("#addmapp").addClass("open");
   $("#addmap").css("color", "#EB8325")
 }
});

$("#addimg").click(function () {
  if ($("#addimgp").hasClass("open")) {
   $("#addimgp").slideUp();
   $('#addimgp').removeClass("open");
  }
  else {
   $('.open').slideUp();
   $('.open').removeClass("open");
   $('#addimgp').slideDown();
   $("#addimgp").addClass("open");
   $("#addimg").css("color", "#EB8325")
  }
});

$("#addvid").click(function () {
  if ($("#addvidp").hasClass("open")) {
   $("#addvidp").slideUp();
   $('#addvidp').removeClass("open");
  }
  else {
   $('.open').slideUp();
   $('.open').removeClass("open");
   $('#addvidp').slideDown();
   $("#addvidp").addClass("open");
   $("#addvid").css("color", "#EB8325")
  }
});

$("#addcost").click(function () {
  if ($("#addcostp").hasClass("open")) {
   $("#addcostp").slideUp();
   $('#addcostp').removeClass("open");
  }
  else {
   $('.open').slideUp();
   $('.open').removeClass("open");
   $('#addcostp').slideDown();
   $("#addcostp").addClass("open");
   $("#addcost").css("color", "#EB8325")
  }
});

$("#addtipping").click(function () {
  if ($("#addtippingp").hasClass("open")) {
   $("#addtippingp").slideUp();
   $('#addtippingp').removeClass("open");
  }
  else {
   $('.open').slideUp();
   $('.open').removeClass("open");
   $('#addtippingp').slideDown();
   $("#addtippingp").addClass("open");
   $("#addtipping").css("color", "#EB8325")
  }
});

$('#new_suggestion_form').validate();
// NEW IDEA FORM VALIDATION
  $("#new_event_form").validate({
    rules: {
      "#datetime": {
        required: true
      },
      "event[title]": {
        maxlength: 140
      },
      "event[min]": {
        number: true
      },
      "event[max]": {
        number: true
      },
      "event[duration]": {
        required: true,
        number: true
      },
      "event[promo_url]": {
        url: true
      }
    }
  });

  $.validator.addMethod(
        "regex",
        function(value, element, regexp) {
            var re = new RegExp(regexp);
            return this.optional(element) || re.test(value);
        },
        "Must be a valid Youtube URL"
  );

$("#event_promo_vid").rules("add", { 
  regex: "/(?:https?:\/\/)?(?:www\.)?youtu(?:\.be|be\.com)\/(?:watch\?v=)?(\w{10,})/"
  });

// focus on the first text input field in the first field on the page
  $("textarea").focus();

//   $('input[type=file]').fileValidator({
//   onValidation: function(files){  $(this).attr('class',''); },
//   onInvalid:    function(validationType, file){ $(this).addClass("error"); },
//   maxSize:      '500kb', //optional
//   type:         'image' //optional
// });
</script>