<div id="view_search">
  <%= form_tag({:controller => 'users', :action => 'search'}, {id: 'search_form', remote: true }) do %>
    <%= text_field_tag :search, params[:search], id: "user_search_field", placeholder:"Search for friends...", autocomplete: "off" %>
    <input type="submit" id="btn_user_search" class="fa-input btn btn-primary" value="&#xf002;">
  <% end %> 
</div>