<span class="guest_count">
	<span id="guestCount"> <%= event.guest_count %> .in </span>
	<% if user_signed_in? %>
		<span id="friendCount">(<%= event.friends_in_count(current_user) %> friends)</span></span>
	<% end %>
</span>