<div id="addmapp" style="display: none;">
  <%= label_tag "Location" %><br/>
  <%= f.text_field :address %>
</div>

<div id="addLinkp" style="display: none;">
	<%= label_tag "Link" %></br>
	http://<%= f.text_field :link, autocomplete: "off" %>
</div>

<div>
	<ul>
	  <li id="addLink" title="Add a Link"><i class="icon-link"></i></li>
	  <li id="addmap" title="Add a Location"><i class="icon-map-marker"></i></li>
	</ul>
</div>