<div class="not_signed_in_pitch">
    <strong>hoos.in is an online social calendar</strong><br>
    Organize great activities with friends
    <div id="togglePitch">x</div>
  <div class="not_signed_in_buttons">
    <span class="buttons">
    <%= link_to root_path, class:"btn btn-pitch btn-join" do %>
      sign up <icon class="icon-double-angle-right"></i>
    <% end %>
    <%= link_to "log.in", new_user_session_path, class:"btn btn-pitch btn-primary" %>
  </span>
  <span id="auth-status" class="fb_button fb_login_button">
    <a href="#" id="auth-loginlink" class="fb-login-button"><span class="btn_fb_login"></span></a>
  </span>
</div>