<div class="part not_signed_in_pitch">
    hoos.in makes it easy to live an amazing social life. Sign up and do great things with friends.
  <div class="not_signed_in_buttons">
    <%= link_to "log.in", new_user_session_path, class:"btn btn-pitch btn-primary" %>
    <%= link_to "sign up", root_path, class:"btn btn-pitch btn-join" %>
  </div>
  <div><%= link_to '.instructions', what_is_hoosin_path %></div>
</div>