<dl class="dropdown">
  <dt>
    <a href="#">
      <%= raster_profile_picture(current_user) %>
      <i class="icon-caret-down"></i>
    </a>
  </dt>
  <dd>
    <ul>
      <li class="settings">
        <%= link_to user_path(current_user) do %>
          <span class="fadeInGreen"><i class='icon-dashboard user_settings'></i>activity</span>
        <% end %>
      </li>
      <li class="settings">
        <%= link_to edit_user_registration_path do %>
          <span class="fadeInOrange"><i class='icon-wrench user_settings'></i>settings</span>
        <% end %>
      </li>
      <li class="settings">
        <%= link_to destroy_user_session_path, :method => :delete do %>
          <span class="fadeInRed"><i class='icon-signout logout'></i>logout</span>
        <% end %>
      </li>
    </ul>
  </dd>
</dl>