<span class="user_friends_count">
	<i class="icon-star friend_star"></i> <span id="friendCount"><%= user.friends.count %> stars</span> / <i class="icon-star inmate_star" style="color:lightgrey;"></i> <%= user.inmates.count %> .in-mates
</span>