<span class="user_friends_count">
	<i class="icon-cloud icon_color"></i> <%= user.ins.count %> | <i class="icon-star friend_star"></i> <span id="friendCount"><%= user.friends.count %> </span> | <i class="icon-star inmate_star" style="color:lightgrey;"></i> <%= user.inmates.count %> 
</span>