<div class="user">
  <div class="friend_button">
    <% if user_signed_in? %>
      <% if current_user.is_friends_with?(user) %>
        <i class="icon-star" style="color:gold;position: relative; top: 9px;"></i>
      <% elsif current_user.is_inmates_with?(user) %>
        <i class="icon-star" style="color:lightgrey; position: relative; top: 9px;"></i>
      <% end %>
    <% end %>
  </div>
  <div class="pic">
    <%= link_to user_path(user) do %>
      <%= image_tag("#{invite_raster_picture(user)}", class: "profile_picture") %>
    <% end %>
  </div>
  <div class="friend_name">
    <%= link_to user_path(user) do %>
      <%= user.first_name_with_last_initial %>
    <% end %>
  </div>
</div>