<div class="comments_form">
	<%= form_for([@event, @event.comments.build]) do |f| %>
	  <%= small_profile_picture(current_user) %> <%= f.text_area :content, placeholder: "chat with .ins", autocomplete: "off" %>
	 	<button class="btn btn-primary" id="new_comment_button" name="commit" type="submit" value="send">
	 		<i class="icon-comment"></i>
	 	</button>
	<% end %>
	<%= render :partial => 'comments/comment', collection: @comments %>
</div>