<% if user_signed_in? %>
	<% unless current_user == user || current_user.vendor? %>
		<div id="follow_form" class="follow_btn">
		  <% if current_user.is_friends_with?(user) %>
			 	<%= form_for(current_user.relationships.find_by_followed_id(user.id),
				         html: { method: :delete },
				         remote: true) do |f| %>
					<button class="btn btn-unfollow" name="commit" type="submit">
						<i class="icon-star"></i>
					</button>
				<% end %>
			<% else %>
				<%= form_for current_user.relationships.build(followed_id: user.id), remote:true do |f| %>
				  <span><%= f.hidden_field :followed_id %></span>
				  <button class="btn btn-follow rsvp_button" name="commit" type="submit">
				  	<i class="icon-star"></i>
				  </button>
				<% end %>
				<%= link_to ignore_inmate_path(:id => user.id), id:"ignore_inmate", confirm: "Are you sure you don't want to see #{user.name}'s ideas or share any future .ins with them?" do %>
					<i class="icon-remove-sign"></i>
				<% end %>
			<% end %>
		</div>
	<% end %>
<% end %>