<% @guests.each do |guest| %>
  <table>
  	<tr>
      <td><%= raster_profile_picture(guest) %></td>
      <td><%= guest.name %></td>
      <td>
        <%= render partial: 'events/follow_form', locals: { user: guest } %>
      </td>
    </tr>
  </table>
<% end %>