<ul>
  <li class="hoosin_friends_tab"><a href="#tabs-1" >hoos.in <%= @friends.count if @friends.any? %></a></li>
  <% if current_user.fb_user? %>
  	<li class="fb_friends_tab">
			<a href="#tabs-2" >facebook <%= @invite_friends.count if @invite_friends.any? %></a>
		</li>
  <% end %>
</ul>

<div id="tabs-1">
	<%= render partial: 'events/hoosin_friends', locals: { :friends => @friends, :event => @event } %>
</div>

  <% if current_user.fb_user? %>
<div id="tabs-2" class="fb_friends_invite">
	<%= render partial: 'fb_friends', locals: { :event => @event } %>
</div>
  <% end %>
