<% if @event.user == current_user || @event.visibility == "friends_of_friends" %>
	<%= form_for([@event, @event.invites.build]) do |f| %>
	  <div class="field">
	    <%= f.label :content, "Invites" %><br />
	    <%= f.text_field :email, placeholder: "Add invites by email address" %>
	  </div>
		<%= f.submit "Add", class: "btn btn-primary" %>
	<% end %>
<% end %>