<p>Invite Friends to this Idea</p>

<div id="raster" class="element">
  <% current_user.followers.each do |f| %>
  	<% unless f.invited?(event) %>
	  	<%= form_for([event, event.invites.build]) do |i| %>
	  		<%= i.hidden_field :email, value: f.email %>
        <%= image_submit_tag("#{invite_raster_picture(f)}") %>
      <% end %>
	  <% end %>
	<% end %>
</div>