<p>Click to Give Invitation</p>

<div id="raster" class="element">
  <% current_user.followers.each do |f| %>
  	<% unless f.invited?(event) || f.rsvpd?(event) %>
  		<%= form_for(f.invitations.build(invited_event_id: event.id, inviter_id: current_user.id), remote: true do |i|%>
  			<%= i.hidden_field :inviter_id %>
  			<%= i.hidden_field :invited_event_id %>
  		  <%= image_submit_tag("#{invite_raster_picture(f)}", class: "profile_picture", title: "#{f.name}") %>
  		<% end %>
	  <% end %>
	<% end %>
</div>