<% unless @invited_users.empty? %>
  <% @invited_users.each do |iu| %>
    <table>
      <tr>
        <td title="<%= iu.name %>"><%= raster_profile_picture(iu) %></td>
        <td><%= render :partial => 'events/just_follow_form', :locals => { :user => iu } %></td>
      </tr>
    </table>  
  <% end %>
<% end %>
<%= render partial: 'email_invites/email_invite', collection: @email_invites %>