<div class="part map">
  Address: <br><strong><%= @event.address %> </strong><br>
  <%= gmaps("map_options" => { "detect_location" => false, 
  														"center_on_user" => false, 
  														"zoom" => 6 },"markers" => { "data" => @json }) %>
</div>