<h1>Editing event</h1>

<%= render 'form' %>

<%= link_to 'Show', @event %> |
<%= link_to 'Back', root_path %>
<% if current_user == @event.user %>
  | <%= link_to 'Destroy', event, method: :delete, data: { confirm: 'Are you sure?' } %></td>
<% end %>
 