$('li#fb_friends_tab').html("<img src='/assets/social/facebook_32.png' id='fb_invite_img' /> <span>facebook</span>");
$('#fbFriends').html("<%= escape_javascript(render partial: 'fb_friends', object: @event) %>").fadeToggle();
$('#fb_invite_img').addClass('box');
$('#ajaxLoader').toggle();
$('#hi_invite_img').click(function(){
	$('#fb_invite_img').removeClass('box');
	$('#hi_invite_img').addClass('box');
	$('#fbFriends').hide();
	$('#hiFriends').fadeIn();
});
$('li#fb_friends_tab').click(function(){
	$('#fb_invite_img').addClass('box');
	$('#hi_invite_img').removeClass('box');
	$('#hiFriends').hide();
	$('#fbFriends').fadeIn();
});

$(".fb_friend").hover(function(){
  $(this).children("#friend_name").toggle();
  $(this).children("#friend_button").toggle();
});

$('.invite_button').click(function(){
	friend = $(this).parent().parent().parent();
	friend.find("#friend_button").remove();
	$('#invites').append(friend);
	$('#invite_count').increment();
});