  <div>Credit Card info</div>

  <form id="bank_account">
    <div class="field">
        <label for="name">Name on account</label>
        <input type="text" name="name">
    </div>
    <div class="field">
        <label for="account_number">Bank Account Number</label>
        <input type="text" name="account_number">
    </div>
    <div class="field">
        <label for="bank_code">Bank Code (Routing number in the USA)</label>
        <input type="text" name="bank_code">
    </div>
    <div class="field">
        <label for="type">Checking</label>
        <input type="radio" name="type">
        <label for="type">Savings</label>
        <input type="radio" name="type">
    </div>
    <button>submit</button>
  </form>

