<form id="payment" class="credit_card_form sign_up">
    <h3>credit card</h3>
<div class='cards'></div>
    <div class="card_number">
        <label for="card_number">card number*</label>
        <input type="text" name="card_number" placeholder="card number">
    </div>
    <div class="security_code">
        <label for="security_code">3 digit security code*</label><br>
        <input type="text" name="security_code">
    </div>
    <div class="expiration_month_year">
        <label for="expiration_month">expiration*</label><br>
        <input type="text" name="expiration_month" placeholder="mm"> /
        <input type="text" name="expiration_year" placeholder="yyyy">
    </div>
    <button>submit</button>
</form>