<form id="payment" class="credit_card_form sign_up">
<% if @event.present? %>
    <div id="event_id" name="<%= @event.id %>"></div>
    <h3><strong>What:</strong> <%= @event.title %></h3>
    <h3><strong>When:</strong> <%= @event.start_time %></h3>
    <br>
    <h3 style="text-align:right;"><strong>Cost: <%= @event.price %></strong></h3>
    <div class="divider_line"></div>
<% end %>
    <h3>Credit Card</h3>
<div class='cards'></div>
    <div class="card_number">
        <label for="card_number">card number*</label>
        <input type="text" name="card_number" placeholder="card number">
    </div>
    <div class="security_code">
        <label for="security_code">3 digit security code*</label><br>
        <input type="text" name="security_code">
    </div>
    <div class="expiration_month_year">
        <label for="expiration_month">expiration*</label><br>
        <input type="text" name="expiration_month" placeholder="mm"> /
        <input type="text" name="expiration_year" placeholder="yyyy">
    </div>
    <button class="btn btn-large btn-success">Confirm and Pay</button>
</form>