// Place all the styles related to the Comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#comments_form {
	margin-top:30px;
	width:400px;
	float:right;
	position: relative;
	right: 88px;
}

#comments {
	width:400px;
	height:240px;
	overflow-y:scroll;
	overflow-x:hidden;
	padding-left:20px;
}

.comment {
	padding-left:15px;
	padding-bottom:3px;
	border-bottom: 1px solid lightgrey;
	margin:20px 0;
	a {
		font-size: 12px;
	}
}

.comment_content {
	font-size: 13px;
}

.comment_data {
	text-align: right;
}

.comment_creator {
	font-size: 12px;
	color:black;
	font-style: italic;

}

.comment_created_at {
	font-size: 12px;
	color:grey;
	font-style: italic;
}