// Place all the styles related to the Comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#comments_form {
	margin-top:30px;
	width:400px;
	float:right;
	position: relative;
	right: 88px;
	textarea {
		width:330px;
	}
}

#comments {
	width:330px;
	height:180px;
	overflow-y:auto;
	padding-left:20px;
	margin-right:-50px;
}

.comment {
	padding-left:15px;
	border-bottom: 1px solid lightgrey;
	margin:8px 0;
	position: relative;
	left: 86px;
	a {
		font-size: 10px;
	}
}

.comment_content {
	font-size: 13px;
}

.comment_data {
	text-align: right;
}

.comment_creator {
	font-size: 10px;
	color:black;
	font-style: italic;

}

.comment_created_at {
	font-size: 10px;
	color:grey;
	font-style: italic;
}