@import "bootstrap";

/* mixins, variables, etc. */

$grayMediumLight: #eaeaea;

@mixin box_sizing {
  -moz-box-sizing: border-box; 
  -webkit-box-sizing: border-box; 
  box-sizing: border-box;
}

/* universal */

html {
  overflow-y: scroll;
}

section {
  overflow: auto;
  float:left;
  position: relative;
  top:20px;
} 

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  text-align: center;
}

h2 {
  font-size: 1.7em;
  letter-spacing: -1px;
  margin-top: 20px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: #999;
}


p {
  font-size: 1.1em;
  line-height: 1.7em;
}


/* header */

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: white;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  line-height: 1;
  &:hover {
    color: white;
    text-decoration: none;
  }
}

.navbar .nav.pull-right {
margin-left: 10px;
margin-right: 0;
  h1 {
    font-size: 1.7em;
    color:white;
    position: relative;
    top: 37px;
  }

}

.navbar {
overflow: visible;
margin-bottom: 0px;
}

.navbar-fixed-top {
position: static;
top: 0;
right: 0;
left: 0;
z-index: 1030;
}

.header_pic {

}

.dropdown .caret {
margin-top: 27px;
margin-left: 2px;
}

.navbar .nav > li > a {
  float: none;
  padding: 10px 10px 11px;
  line-height: 19px;
  color: #999;
  text-decoration: none;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  width: 190px;
  text-align: right;
}

.navbar .nav.pull-right .dropdown-menu {
left: 8px;
}

/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid $grayMediumLight;
  color: $grayLight;
  a {
    color: $gray;
    &:hover { 
      color: $grayDarker;
    }
  }  
  small { 
    float: left; 
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 10px;
    }
  }
}

/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  padding: 10px;
  height: auto;
  margin-bottom: 15px;
  @include box_sizing;
}

input, textarea, .uneditable-input {
  width: 420px;
}

input[type="button"], input[type="reset"], input[type="submit"] {
width: auto;
min-width: 50px;
height: auto;
color: blue;

}

select {
  width: 80px;
}

#error_explanation {
  color: #f00;
  ul {
    list-style: none;
    margin: 0 0 18px 0;
  }
}

.field_with_errors {
  @extend .control-group;
  @extend .error;
}

/* sidebar */

aside {
  section {
    padding: 10px 0;
    border-top: 1px solid $grayLighter;
    width:220px;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 1.6em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
    }
  }
}

.profile_picture {

}

/* miscellaneous */

.alert {
  padding: 8px 35px 8px 14px;
  margin-bottom: 7px;
  margin-top: 7px;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  background-color: #FCF8E3;
  border: 1px solid #FBEED5;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}


#calendar {
  width: 700px;
  position: relative;
  top:30px;
  float:right;
  margin: 0 auto;
}


.stats {
  overflow: auto;
  margin-bottom:14px;
  a {
    float: left;
    padding: 0 10px;
    border-left: 1px solid $grayLighter;
    color: gray;
    &:first-child {
      padding-left: 0;
      border: 0;
    }
    &:hover {
      text-decoration: none;
      color: $blue;
    }
  }
  strong {
    display: block;
  }
}


.follow_list {
  padding:25px;
  width:900px;
  float:center;
}

#followed_users {
  float:left;
  width:430px;
  table {
    max-width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    position: relative;
    left: 40px;
    font-size: 20px;
  }
}

#followers {
  float:right;
  width:450px;
  table {
    max-width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    position: relative;
    left: 40px;
    font-size: 20px;
  }
}

.follow_btn {
  width:80px;
  margin: 0 0 0px;
}


