@import "font-awesome";

/* mixins, variables, etc. */

$icon_color: #372C8B;

$background_one: white;
$background_two: #E6E6E6; /*gray*/

$light_orange: #F2B041;
$dark_orange: #EB8325;
$destroy: #CD0000;
$rsvp: #388EE5;
$happening: #0C7908;

$grayMediumLight: #eaeaea;
$grayLighter: #eaeaea;
$grayLight:#eaeaea;
$gray:#eaeaea;
$grayDarker:#eaeaea;


/* FONTS */

@font-face {
  font-family: typewriter;
  src: url('Moms_typewriter.ttf');
}

@font-face {
  font-family: bariol_bold;
  src: url('Bariol_Bold.otf');
  font-style: bold;
}

@font-face {
  font-family: bariol;
  src: url('Bariol_Regular.otf');
}

/* universal */

* {
  margin:0;
  padding:0;
}

html {
  overflow-y: scroll;
  height:100%;
}

body {
  font-family: bariol ,Arial,sans-serif;
  font-size: 18px;
  line-height: 18px;
  color: #333;
  position: relative;
  min-height: 100%;
  strong {
    font-family: bariol_bold, arial, sans-serif;
    font-weight: bold;
  }
}

ul {
  text-decoration: none;
}

section {
  overflow: auto;
  float:left;
  position: relative;
  top:20px;
} 

textarea {
  resize: vertical;
}

textarea:focus, input:focus {
  outline: none;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}

.hero-unit {
  text-align: center;
  position: relative;
bottom: 79px;
  p {
    font-size: 1em;
    font-weight: normal;
  }
  img {
    margin:20px 20px;
  }
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
  margin:10px 0 10px 0;
}

h1 {
  font-size: 2.3em;
  letter-spacing: -2px;
  text-align: center;
  position: relative;
}

h2 {
  font-size: 1.7em;
  letter-spacing: -1px;
  margin-top: 20px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: #999;
}

h3 {
line-height: 27px;
font-size: 22px;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
  margin:0;
}

a {
  text-decoration: none;
}

ul, li {
  list-style: none;
}

.btn {
  line-height: 24px;
  padding: 11px 20px 11px 20px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  font-size: 21px;
}

.btn-new-idea {
  float:left;
  position: relative;
  top: 19px;
  left: 9px;
}

.btn-primary {
  background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #EE9100), color-stop(1, #f77740) );
  background:-moz-linear-gradient( center top, #EE9100 5%, #f77740 100% );
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f0976e', endColorstr='#f77740');
  background-color:#EE9100;
  border:1px solid #dcdcdc;
  display:inline-block;
  color:#ffffff;
  font-family:arial;
  font-weight:normal;
  text-shadow:1px 1px 0px #C2A57B;
  /*padding:6px 24px;*/
  text-decoration:none;
}
.btn-primary:hover {
  background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #f77740), color-stop(1, #EE9100) );
  background:-moz-linear-gradient( center top, #f77740 5%, #EE9100 100% );
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f77740', endColorstr='#f0976e');
  background-color:#f77740;
}

.btn-rsvp {
  -moz-box-shadow:inset 0px 1px 0px 0px #bbdaf7;
  -webkit-box-shadow:inset 0px 1px 0px 0px #bbdaf7;
  box-shadow:inset 0px 1px 0px 0px #bbdaf7;
  background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #79bbff), color-stop(1, #378de5) );
  background:-moz-linear-gradient( center top, #79bbff 5%, #378de5 100% );
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#79bbff', endColorstr='#378de5');
  background-color:#79bbff;
  border:1px solid #84bbf3;
  display:inline-block;
  color:#ffffff;
  font-family:arial;
  text-decoration:none;
  text-shadow:1px 1px 0px #528ecc;
}
.btn-rsvp:hover {
  background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #378de5), color-stop(1, #79bbff) );
  background:-moz-linear-gradient( center top, #378de5 5%, #79bbff 100% );
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#378de5', endColorstr='#79bbff');
  background-color:#378de5;
}

.btn_stop_viewing {
  background-color:#ededed;
  -moz-border-radius:6px;
  -webkit-border-radius:6px;
  border-radius:6px;
  border:1px solid #dcdcdc;
  display:inline-block;
  color:#636363;
  font-size: 12px;
}
.btn_stop_viewing:hover {
  background-color:#ededed;
  cursor:pointer;
}
.btn_stop_viewing:active {
  position:relative;
  top:1px;
}

.btn_start_viewing {
  width:110px;
}

.btn_remove {
  font-size: 13px;
  color:#aeaeae;
  &:hover {
    color:#dddddd;
  }
}

.btn_fb_login {
background: url(/assets/social/shot.png) no-repeat -4px -2px;
width: 278px;
height: 46px;
display: block;
text-indent: -9999px;
-webkit-border-radius: 6px;
-moz-border-radius: 6px;
border-radius: 6px;
position: relative;
right: 80px;
}

.btn_fb_login:hover {
  background-position: -4px -66px; 
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
}

.btn_fb_login:active {
background-position: -4px -2px;
-webkit-border-radius: 6px;
-moz-border-radius: 6px;
border-radius: 6px;
}

.btn-warning {
width:380px;
color: white;
text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
background-color: #FAA732;
background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#FBB450), to(#F89406));
background-image: -webkit-linear-gradient(top, #FBB450, #F89406);
background-image: -o-linear-gradient(top, #FBB450, #F89406);
background-image: linear-gradient(to bottom, #FBB450, #F89406);
background-image: -moz-linear-gradient(top, #FBB450, #F89406);
background-repeat: repeat-x;
border-color: #F89406 #F89406 #AD6704;
filter: progid:dximagetransform.microsoft.gradient(startColorstr='#fffbb450', endColorstr='#fff89406', GradientType=0);
filter: progid:dximagetransform.microsoft.gradient(enabled=false);
}

.btn-success {
color: white;
text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
background-color: #5BB75B;
background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#62C462), to(#51A351));
background-image: -webkit-linear-gradient(top, #62C462, #51A351);
background-image: -o-linear-gradient(top, #62C462, #51A351);
background-image: linear-gradient(to bottom, #62C462, #51A351);
background-image: -moz-linear-gradient(top, #62C462, #51A351);
background-repeat: repeat-x;
border-color: #51A351 #51A351 #387038;
filter: progid:dximagetransform.microsoft.gradient(startColorstr='#ff62c462', endColorstr='#ff51a351', GradientType=0);
filter: progid:dximagetransform.microsoft.gradient(enabled=false);
  font-size: 23px;
  cursor: pointer;
}

span.red a {
  color:$destroy
}

/* logo */

.logo {
  width:194px;
}


/* tooltips */

#littleTIP {
        max-width: 250px;
        padding: 5px;
        }

#littleTIPbackground {
        background: #ffffff;
        -webkit-box-shadow: 3px 3px 3px rgba(50, 50, 50, 0.55);
        -moz-box-shadow:    3px 3px 3px rgba(50, 50, 50, 0.55);
        box-shadow:         3px 3px 3px rgba(50, 50, 50, 0.55);
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        border-radius: 4px;
        }

#littleTIPtext {
        font-family: Arial, verdana, sans-serif;
        font-size: 16px;
        text-align: left;
        }


/* HOME */


header {
  clear: both;
  width:100%;
  background-color:$icon_color;
  height:58px;
  -webkit-box-shadow: 0px 2px 9px rgba(50, 50, 50, 0.75);
  -moz-box-shadow:    0px 2px 9px rgba(50, 50, 50, 0.75);
  box-shadow:         0px 2px 9px rgba(50, 50, 50, 0.75);
}

.header_nav {
color: white;
width: 1100px;
padding: 2px;
margin: 0 auto;
  .tagline {
    position: relative;
    top: 18px;
    right: 39px;
    float:left;
    font-size: 20px;
}
  ul {
    float:right;
  }
  ul > li {
    display: inline;
    position: relative;
    top: 19px;
    padding: 0px 15px;
    right: 33px;
    left: 94px;
    float:left;
    height: 47px;
    a {
      color:white;
      &:hover {
        color:#3E92E8;
        .ceiling {
          color:#3E92E8;
        }
      }
    }
  }
  .ceiling {
    color:darkgrey;
    font-size: 14px;
  }
}

.howto {
position: relative;
left: 8px;
color: $rsvp;
font-size: 16px;
font-style: normal;
  &:hover{
    text-decoration:underline;
  }
}
#howItWorks{
 width:700px;
 margin: 0 auto;
}



/* General dropdown styles */  
.dropdown {
  display: inline;
}     
.dropdown dd, .dropdown dt, .dropdown ul { 

position: relative;
bottom: 16px;
}
.dropdown dd { 
  position:relative; 
}
/* DT styles for sliding doors */
.dropdown dt a {
  background-image:url(arrow.png) no-repeat; 
  color:white;
  display:inline;
}

.dropdown dt a span {
  cursor:pointer; 
  display:block; 
  padding:5px;
}
/* UL styles */
.dropdown dd ul {
background: white;
display: none;
list-style: none;
position: absolute;
top: 7px;
right: -32px;
width: 194px;
height: 115px;
z-index: 10;
font-size: 23px;
background-color: #FAFAFA;
-webkit-border-radius: 7px;
-moz-border-radius: 7px;
border-radius: 7px;
  -moz-box-shadow: 0 0 10px -1px #000;
  -webkit-box-shadow: 0 0 10px -1px #000;
  box-shadow: 0 0 10px -1px #000;
}
.dropdown span.value { 
  display:none;
}
.dropdown dd ul li a { 
  padding:9px; 
  display:block; 
  color:black;
  position: relative;
right: 75px;
}

.layout {
  clear:both;
  width: 1265px;
  min-height: 820px;    
  margin: 20px auto;
}

.element {
  padding: 20px;
-webkit-border-radius: 7px;
-moz-border-radius: 7px;
border-radius: 7px;
-moz-box-shadow: 0 0 10px -1px black;
-webkit-box-shadow: 0 0 10px -1px black;
box-shadow: 0 0 10px -1px black;
background-color: rgba(255, 255, 255, 0.8);
}

.container {
  width: 1015px;
  float:right;
  position: relative;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  border-radius: 7px;
}

.text {
width: 800px;
position: relative;
left: 130px;
  h1 {
    margin-top: 35px;
  }
  p {
    text-indent: 35px;
  }
}

/* sidebar */

.profile_picture {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  background-color: white;
}

.profile_pic_home {
    img {
  height: 105px;
  }
}

div.dashboard {
  display:inline-block;
  width:220px;
  > div, p {
    float:left;
  }
  span {
    display: block;
margin-bottom: 15px;
  }
  h1 {
    font-size: 1.6em;
    text-align: left;
    letter-spacing: -1px;
    margin-bottom: 3px;
  }
  h3 {
    margin:5px 0;
  }
  input[type=text] {
    margin-right:0px;
   width: 176px;
    margin-right: -5px;
    -webkit-border-radius: 5px 0 0 5px;
    -moz-border-radius: 5px 0 0 5px;
    border-radius: 5px 0 0 5px;
    padding:10px;
    outline:none;
    font-size: 12px;
    position: relative;
    top: 2px;
    margin:5px -5px 5px 0;
  }
  input[type=submit] {
    -webkit-border-radius: 0 5px 5px 0;
    -moz-border-radius: 0 5px 5px 0;
    border-radius: 0 5px 5px 0;
    height: 36.5px;
width: 37px;
position: relative;
top: 3.5px;
    padding:0;
  }
}

.fa-input {
  font-family: FontAwesome, 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

#search_results {
  background-color: white;
  color:black;
  height:auto;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  padding:10px;
  border:1px solid #BBB;
  z-index: 5;
  width:265px;
  position: absolute;
  input[type=submit] {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    width:94px;
  }
}
/* stats */

/*
.stats {
  margin:10px 0 0px 0;
  font-size: 14.5px;
width: 105%;
    font-family: Arial,verdana,sans-serif;
  a {
    width:32%;
    text-decoration: none;
    float: left;
    padding: 0 10px;
    border-left: 1px solid $grayLighter;
    color: gray;
    &:first-child {
      margin-right:-36px;
      border: 0;
      padding-left:2px;
      }
    &:last-child {
      padding-right:0px;
      }
    &:hover {
      text-decoration: none;
      color: black;
    }
  }
  strong {
    display: block;
    color:black;
    font-weight: 600;
    font-size: 19px;
  }
}
*/
#view_search {
  float:left;
  width:260px;
}


/* raster */

#raster {
height: 396px;
overflow-y: auto;
margin-bottom: 10px;
width: 218px;
padding: 7px;
float:left;
form {
  width:53px;
  float:left;
  img{
      border-radius: 7px;
    }
}
}

.raster_nav {
  margin:15px 0;
  text-align: center;
  a {
    padding:0px 10px;
  }
}


/* Ribbon */

#datepicker {
float: right;
width: 785px;
font-size: 17px;
height: 87px;
position: relative;
left: 3px;
bottom: 11px;
  table{
    float:left;
    width:5%;
    td {
      text-align: center;
    }
    &:hover {
      background-color:#f2b041;
    }
    th {
      font-size:11px;
      height:10px;
    }
  }
  > table:nth-child(-n+3):hover {
    background-color:#f2b041;
  }
  a {
    color:black;
  }
}       

#datewindow {
border: 7px solid #FF8500;
width: 117px;
height: 103px;
position: absolute;
left: 111px;
top: -6px;
z-index: -1;
}

.weeks {
  border-left: 1px solid lightgray;
}

.months {
height: 15px;
}

.ideas_cloud {
background: url(new_idea_cloud.png) no-repeat;
background-size: 49px;
background-position: -6px -6px;
color: #4B9BED;
height: 30px;
}

.plan_box {
background: url(plan_icon.png) no-repeat;
background-size: 41px;
background-position: -2px -9px;
color: $dark_orange;
height: 29px;
}

#new_idea {
  width:470px;
  height:auto;
  overflow:auto;
  padding:30px;
  padding-bottom:20px;
  padding-top: 14px;
}

#edit_idea {
  width:470px;
  padding:30px;
  padding-bottom:20px;
  padding-top: 14px;
  margin: 0 auto;
  position: relative;
  bottom: 71px;
}

/* Forecast */

#forecast {
  width: 1004px;
  min-height: 680px;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  border-radius: 12px;
  float:left;
  background-color: rgba(250, 250, 250, 0.8);
  -moz-box-shadow: 0 0 8px -1px #000;
  -webkit-box-shadow: 0 0 8px -1px #000;
  box-shadow: 0 0 8px -1px #000;
  margin-top: 14px;
  margin-left: 5px;
  > dl {
    width: 31%;
    float: left;
    position: relative;
    top: 6px;
    left: 5px;
    padding: 8px 10px 8px 12px;
    > dd {
/*      -moz-box-shadow: inset 0 0 10px -1px #000;
      -webkit-box-shadow: inset 0 0 10px -1px #000;
      box-shadow: inset 0 0 10px -1px #000;
      -webkit-border-radius: 4px;
      -moz-border-radius: 4px;
      border-radius: 4px;*/
    }
  }
/*  > dl:nth-child(2) {
    border-right: 1px solid darkgrey;
    border-left:1px solid darkgrey;
    height: 96%;
  }*/
  a {
    text-decoration: none;
    color:inherit;
  }
  dd {
    table {
      margin: 7px 0;
    }
  }
  .gutter {
    border-right: 1px solid darkgrey;
    border-left: 1px solid darkgrey;
    height: 83%;
    position: absolute;
    left: 343px;
    width: 332px;
    top: 122px;
    z-index: -1;
  }
  dt span {
    color: darkgrey;
font-size: 15px;
position: relative;
bottom: 6px;
letter-spacing: 2px;
  }
}

.forecastDate {
  text-align: center;
  height: 36px;
  margin-bottom: 4px;
  font-size: 20px;
  text-shadow: .5px .5px 0 rgba(170, 175, 202, 1);
  text-align: center; 
}

.event {
padding: 3px;
-webkit-border-radius: 4px;
-moz-border-radius: 4px;
border-radius: 4px;
height: 70px;
width: 300px;
position: relative;
}

.tipped_rsvpd {
background: #372c8b; /* Old browsers */
background: -moz-linear-gradient(top,  #372c8b 0%, #ffffff 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#372c8b), color-stop(100%,#ced0db)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #372c8b 0%,#ffffff 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #372c8b 0%,#ffffff 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #372c8b 0%,#ffffff 100%); /* IE10+ */
background: linear-gradient(to bottom,  #372c8b 0%,#ffffff 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#372c8b', endColorstr='#ced0db',GradientType=0 ); /* IE6-9 */
  background-color:white;
  border: 1px solid #DEDAF5;
  .event_blerb {
  color:black;
 }
  .event_time {
  background-color: #ffffff;
  color:black;
 }
 .host {
  color:black;
 }
}

.tipped_not_rsvpd {
  background-color: grey;
  border: 1px solid #AFAFAF;
  .event_blerb {
    color:lightgrey;
  }
  .host {
    color:lightgrey;
  }
  .rsvp_check {
    color:darkgrey;
  }
} 

.not_tipped_rsvpd {
  -moz-box-shadow: inset 0 0 10px -1px $icon_color;
  -webkit-box-shadow: inset 0 0 10px -1px $icon_color;
  box-shadow: inset 0 0 10px -1px $icon_color;
  .guest_count {
    color:$destroy;
  }
}

.not_tipped_not_rsvpd {
  border: 1px solid lightGrey;
  .guest_count {
    color:$destroy;
  }
} 

.event_time {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
border-radius: 4px;
color: white;
background-color: #383838;
padding: 2px 11px 0 11px;
position: absolute;
left: 60px;
top: 1px;
}

.event_pic {
  float:left;
  margin-right:3px;
  margin-top:3px;
  position: absolute;
left: 7px;
top: 4px;
}

.event_blerb {
float: left;
width: 207px;
height: 20px;
margin-right: 38px;
position: absolute;
left: 62px;
top: 23px;
}

.friends_attending {
  margin-left:2px;
  width: 44px;
  position: absolute;
  bottom: -4px;
  left: 59px;
}

.host {
font-size: 13px;
font-style: italic;
color: white;
position: absolute;
bottom: 4px;
right: 74px;
width: 197px;
height: 14px;
}

.guest_count {
  position:absolute;
right: 62px;
width: 53px;
  text-align: right;
  bottom:0;
}

.force_tip {
  position: absolute;
  right: 8px;
  color:grey;
  color: grey;
  bottom: 7px;
  font-size: 28px;
    &:hover{
  color:darkorange;
  -webkit-transition: color .25s linear .05s;
  transition: color .25s linear .05s;
  }
}

.rsvp_check {
  position: absolute;
  right: 17px;
  bottom: 6px;
  width: 15px;
}

/* NEXT PLAN */

.next_plan {
-webkit-box-shadow: 1px 1px 30px rgba(235, 131, 37, 1);
-moz-box-shadow:    1px 1px 30px rgba(235, 131, 37, 1);
box-shadow:         1px 1px 30px rgba(235, 131, 37, 1);
z-index: 100;
}

.next_plan_time {
padding: 4px 10px;
color:white;
  -webkit-border-radius: 5px 5px 0 0;
  -moz-border-radius: 5px 5px 0 0 ;
  border-radius: 5px 5px 0 0;
  background: #eb8324; /* Old browsers */
  background: -moz-linear-gradient(top,  #eb8324 5%, #ee9000 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(5%,#eb8324), color-stop(100%,#ee9000)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #eb8324 5%,#ee9000 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #eb8324 5%,#ee9000 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #eb8324 5%,#ee9000 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #eb8324 5%,#ee9000 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eb8324', endColorstr='#ee9000',GradientType=0 ); /* IE6-9 */
}

.next_event_blerb {
float: left;
width: 188px;
height: 20px;
position: absolute;
left: 53px;
top: 24px;
}

.next_plan_date {
  position: absolute;
  top:20px;
  left:54px;
  width: 100%;
}

.btn_icon {
  cursor: pointer;
  display: inline-block;
  color: white;
  position: absolute;
  bottom: -3px;
  right: -12px;
  font-family: arial;
  font-size: 15px;
  font-weight: normal;
  text-decoration: none;
  padding: 2px;
  border-radius: 2px;
}

.btn_icon_unrsvp {
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #79bbff), color-stop(1, #378de5) );
  background:-moz-linear-gradient( center top, #79bbff 5%, #378de5 100% );
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#79bbff', endColorstr='#378de5');
  background-color:#79bbff;
  border:1px solid #84bbf3;
  &:hover {
    background:#ededed;
    border:1px solid #dcdcdc;
    display:inline-block;
    color:#636363;
  }
}

.btn_icon_rsvp {
  background-color:#ededed;
  border:1px solid #dcdcdc;
  display:inline-block;
  color:#636363;
  &:hover {
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #79bbff), color-stop(1, #378de5) );
    background:-moz-linear-gradient( center top, #79bbff 5%, #378de5 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#79bbff', endColorstr='#378de5');
    background-color:#79bbff;
    border:1px solid #84bbf3;
    color:white;
  }
}


/* footer */


footer {
/*  background: url(grass_bottom.jpeg);
  background-repeat: repeat-x;
  background-position-y: -30px;*/
  padding: 20px 0 30px 0;
  color: rgb(54, 54, 54);
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=75)";
  filter: alpha(opacity=75);
  -moz-opacity: 0.75;
  -khtml-opacity: 0.75;
  opacity: 0.75;
  background-color: white;
  clear: both;
  margin: 50px auto;
  width: 1210px;
  border-top: 1px solid lightGrey;

  a {
    float:left;
    font-size: 20px;
    color:darkgrey;
    text-decoration: underline;
    position: relative; 
    left:20px;
    &:hover { 
      color: lightgrey;
    }
  }  
  small { 
    float: left;
    position: relative;
right: 9%;
    top: 2px; 
  }
  ul {
position: relative;
z-index: 1;
float: right;
right: 26%;
    li {
      float: left;
      margin-left: 10px;
    }
  }
  p {
    background-color: white;
height: 24px;
width: 64%;
margin: 0 auto;
-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
filter: alpha(opacity=80);
-moz-opacity: 0.8;
-khtml-opacity: 0.8;
opacity: 0.8;
  }
  nav {
    width: 200px;
float: right;
position: relative;
right: 10%;
bottom: 17px;
  }
}


/* miscellaneous */

.alert {
position: absolute;
padding: 8px 35px 8px 14px;
text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
background-color: #FCF8E3;
border: 1px solid #FBEED5;
-webkit-border-radius: 7px;
-moz-border-radius: 7px;
border-radius: 7px;
color: goldenrod;
min-width: 307px;
left: 136px;
z-index: 10;
top: 10px;
}

.warning

/* Manage Follows */ 

#manage_views {
  margin-left:auto;
  margin-right:auto;
  height:550px;
  width:950px;
}

#manage_search {
  position: relative;
  top:50px;
  height:520px;
  float:left;
  width:300px;
  overflow-y:auto;
  h3 {
    margin-top:30px;
  }
}

.user_table {
font-size: 12px;
height: 512px;
overflow: scroll;
   table {
  width: 41%;
    float:left;
    font-size: 15px;
padding-left: 20px;
margin: 0 30px;
  }
  td {
    text-align: left;
  }
}

.follow_btn {
  width:80px;
  margin: 0 0 0px;
}

.red {
  color:$destroy;
}

.green {
  color:$happening;
}

.fadeInRed {
  color:lightGrey;
  &:hover{
  color:$destroy;
  -webkit-transition: color .25s linear .1s;
  transition: color .25s linear .1s;
  }
}

.destroy {
  color:$destroy;
}

.orange {
  color:$dark_orange;
}

.fadeInOrange {
  color:lightGrey;
  &:hover{
  color:$dark_orange;
  -webkit-transition: color .25s linear .1s;
  transition: color .25s linear .1s;
  }
}

.toggled-off {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
filter: alpha(opacity=60);
-moz-opacity: 0.6;
-khtml-opacity: 0.6;
opacity: 0.6;
}

#find_friends {
  font-size: 15px;
  height:auto;
  overflow:scroll;
  table {
    width:30%;
    float:left;
  }
  td {
    text-align: left;
  }
}

.social_friends {
  height: 107px;
border-bottom: 1px solid lightGrey;
margin-bottom: 10px;
}

.viewing_name {
  position: absolute;
  left:50px;
  background-color: white;
  padding:0 5px;
  z-index: 100;
  display:none;
  width:auto;
  height:30px;
  -webkit-box-shadow: .5px 2.5px 13px rgba(50, 50, 50, 0.33);
  -moz-box-shadow:    .5px 2.5px 13px rgba(50, 50, 50, 0.33);
  box-shadow:         .5px 2.5px 13px rgba(50, 50, 50, 0.33);
  line-height: 30px;
  font-family: verdana;
  font-size: 15px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

.search {
  float:right;
  position: relative;
  top:30px;
}

.search_users {
  width:130px;
}

#view_requests {
  width:200px;
  i {
    font-size: 28px;
  }
}

.icon-check {
  color:#AAAAAA;
  &:hover {
    color:#0E8C3A;
  }
}

.icon-remove-sign {
  color:#AAAAAA;
  &:hover {
    color:$destroy;
  }
}

.icon-repeat {
  color:#AAAAAA;
  &:hover {
    color:#1464F4;
  }
}

#lightbox {
    position:fixed; /* keeps the lightbox window in the current viewport */
    top:0; 
    left:0; 
    width:100%; 
    height:100%; 
    background:url(overlay.png) repeat; 
    text-align:center;
}

#settings {
width: 971px;
height: 100%;
margin: 0 auto;
float: right;
  form {
    float:left;
    width:70%;
    input[type=text], input[type=email], input[type=password], select {
      width:380px;
    }
  select {
    height:40px;
  }
  }
}

.user_settings {

}

.logout {

}

#user-settings {
  width:240px;
  height:140px;
}

#personal {
  float:left;
  width: 239px;
  margin-top:25px;
  .fb_button {
    float: left;
    position: relative;
    top: 36px;
    right: 152px;
  }
}

.hi {
  width:100px;
  height:100px;
  border-radius: 6px;
  background-color:purple;
  font-size: 80px;
  color:white;
  font-family: verdana;
}

.icon-ok-sign {
  color:lightgrey;
}

#feedback {
    position: fixed;
    bottom: 55%;
    right: 0;
    width:31px;
    z-index: 1000;
    transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg); 
    -moz-transform: rotate(-90deg); 
    -o-transform: rotate(-90deg); 
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
    a {
      background: #EB8325; 
      height: 15px; 
      width: 70px; 
      padding: 8px 16px;
      color: #fff; 
      font-family: Arial, sans-serif; 
      font-size: 19px; 
      font-weight: bold; 
      text-decoration: none; 
    &:hover { 
      background: #EE9100;
    }
  }
}

.search_spinner {
  background-image: url(ajax-loader.gif);
  background-repeat: no-repeat;
  background-position:right 5000px;
}

.fb_button {
  width: 0px;
  height: 0px;
}

.fb_login_button {
  position: relative;
right: 68px;
bottom: 23px;
}

.nativeLogin {
  margin-top:25px;
  position: relative;
  right: 20px;
}

.links_fb_btn {
  position: relative;
  left: 0px;
}



/* EVENT#SHOW */

.event_show {
  padding-bottom: 30px;
  margin-bottom: 80px;
}

#invites_form {
  width:260px;
}

.part {
  padding:20px;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  border-radius: 7px;
  -moz-box-shadow: 0 0 10px -1px #000;
  -webkit-box-shadow: 0 0 10px -1px #000;
  box-shadow: 0 0 10px -1px #000;
  background-color: rgba(255, 255, 255, .8);
  margin-left: 27px;
  margin-top: 28px;
}

.typed_text {
  transform:rotate(-16deg);
  -ms-transform:rotate(-16deg); /* IE 9 */
  -moz-transform:rotate(-16deg); /* Firefox */
  -webkit-transform:rotate(-16deg); /* Safari and Chrome */
  -o-transform:rotate(-16deg); /* Opera */
  font-family: typewriter, courier, serif;
}

.event_on {
  color:$happening;
font-size: 125px;
position: relative;
left: 190px;
top: 129px;
  z-index: -1;
}

.title {
  height: 237px;
  width: 450px;
  font-size: 30px;
  line-height: 1;
  position: relative;
}

.title_bottom {
position: absolute;
bottom: -17px;
  p {
    font-size: 15px;
  }
  u {
    font-size: 35px;
    text-decoration: none;
    position: relative;
    bottom:5px;
  }
  .event_visibility {
  position: relative;
left: 361px;
bottom: 35px;
  }
}

.tipped_title {
  -moz-box-shadow: 0 0 10px -1px $happening;
  -webkit-box-shadow: 0 0 10px -1px $happening;
  box-shadow: 0 0 10px -1px $happening;
}

.not_tipped_title {
  -moz-box-shadow: 0 0 10px -1px $destroy;
  -webkit-box-shadow: 0 0 10px -1px $destroy;
  box-shadow: 0 0 10px -1px $destroy;
}

.event_link {
  float:left;
  width: 404px;
}

.social {
  margin-top:20px;
  width: 400px;
  float:right;
  margin-right:27px;
  position: absolute;
top: 140px;
right: 0;
min-height: 87px;
  p{
    padding:9px 0;
  }
}

.map {
width: 400px;
float: right;
margin-right: 27px;
height: 346px;
}

.gmaps4rails_map {
  border: 1px solid #DDD;
  display: inline-block;
  width:350px;
  height:300px;
  margin: 10px 0 13px 0px;
  -moz-box-shadow: 0 0 12px -1px #000;
  -webkit-box-shadow: 0 0 12px -1px #000;
  box-shadow: 0 0 12px -1px #000;
}

.map_container {
  padding: 6px;
}

.bing_map {
   position: absolute;
   top: 20;
   left: 10;
   width: 400px;
   height: 400px;
   border:#555555 2px solid;
}

#no_map {
  width:370px;
  height: 200px;
  margin: 15px 20px 13px 0px;
  display: inline-block;
  color:grey;
  font-style: italic;
}

.rsvp_tip {

}

.nav_buttons {  
  float:left;
  width:400px;
  margin-right: 27px;
  height:54px;
  position: absolute;
  right:0;
  top: 18px;
  text-align: right;
    .when {
    color: black;
line-height: 28px;
text-align: left;
float: left;
font-size: 24px;
  }
}

.grey_italics {
  font-size: 24px;
  font-style: italic;
  color: grey;
  font-family: veranda;
}

.small {
  font-size:12px;
  margin: 8px 0;
}

#guest_raster {
  display: inline-block;
  width: 482px;
  float:left;  
  height: 587px;
  overflow-y: scroll;
  table{
    width:30%;
  }
}

li.insetType {
  font-family: Bariol, arial, sans-serif;
  font-size: 40px;
  color: rgb(160, 160, 160);
  padding-left: 50px; /* The padding is just there to move the h1 element to the center of the div */
  padding-top: 17px;
  text-shadow: rgba(0,0,0,0.5) -1px 0, rgba(0,0,0,0.3) 0 -1px, rgba(255,255,255,0.5) 0 1px, rgba(0,0,0,0.3) -1px -2px;
  left: 10px;
}

.input-large {
  width:340px;
}

#invites, #guests {
  overflow-y:auto;
}

.comments_form {
float: right;
width: 400px;
height: auto;
margin-right: 27px;
  textarea {
    width:340px;
  }
  .btn {
    position: relative;
left: 210px;
  }

}

.comment {
  padding-left:15px;
  border-bottom: 1px solid lightgrey;
  margin:8px 0 0 0;
  a {
    font-size: 10px;
  }
}

.comment_content {
  font-size: 20px;
}

.comment_data {
  text-align: right;
}

.comment_creator {
  font-size: 10px;
  color:black;
  font-style: italic;

}

.comment_created_at {
  font-size: 10px;
  color:grey;
  font-style: italic;
}



/* forms */

input.error, textarea.error {
  -webkit-box-shadow:  1px 15px $destroy;
-moz-box-shadow:   1px 1px 15px $destroy;
box-shadow:         1px 1px 15px $destroy;
  outline:none;
}

label.error {
  float:left;
  color:black;
  background-color: inherit;
  width:200px;
}

::-webkit-input-placeholder {
   font-style: italic;
}

:-moz-placeholder {  
   font-style: italic;
}

form {
margin: 0 0 0 0;
}

label {
display: inline;
margin-bottom: 0px;
color: #333;
}

input[type=text], input[type=email], input[type=password], textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  padding: 10px;
  height: auto;
  margin-bottom: 0;
  color:#3E92E8;
  font-size:15px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
}

textarea {
  font-size: 15px;
}

input[type=text], textarea, .uneditable-input {
  width: 420px;
}

#sign_up {
  margin: 0 auto;
  width: 550px;
  position: relative;
bottom: 70px;
right: 50px;
    h2 {
    width:410px;
  }
  input {
    font-size: 23px;
    width:380px;
    margin-bottom: 10px;
    margin-top:5px;
  }
  label {
    font-size: 15px;
    color: #404040;
  }
  input[type=checkbox]{
    width:20px;
  }
  select[name="user[city]"]{
    width:290px;
    font-size: 20px;
    margin: 5px 0 20px 0;
  }
  select[name="user[time_zone]"] {
    width:290px;
  }
  #user_city, #user_time_zone {
    height: 40px;
width: 400px;
  }
}

#recaptcha {
  margin-left:25px;
}

#sign_in {
  width: 550px;
  margin: 0 auto;
  position: relative;
bottom: 70px;
right: 50px;
  h2 {
    width:410px;
  }
  input {
    font-size: 23px;
    width:380px;
    margin-bottom: 10px;
    margin-top:5px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
  }
  label {
    font-size: 15px;
    color: #404040;
  }
  input[type=checkbox]{
    width:28px;
  }
}


.event_form {
  p{
    line-height: 1;
    margin:10px 0;
  }
 textarea {
    font-size: 18px;
    line-height: 24px;
    width: 452px;
    margin-bottom: 10px;
    margin-top:5px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    height: 87px;
  }
  label {
    font-size: 15px;
    color: #404040;
    margin-bottom:5px;
  }
  input[type=radio]{
    width:18px;
    margin-left:22px;
    margin-bottom:30px;
  }
  div > span {
    text-decoration: none;
    width: 49%;
    float: left;
    margin-left: 20px;
    margin-bottom: 20px;
    margin-left: 3px;
    input {
      width:100px;
      text-align: center;
      font-size: 35px;
    }
    label {
      width: 210px;
    }
  }
  input[name="event[chronic_starts_at]"]{
    width: 361px;
    margin-top: 5px;
    font-size: 18px;
  }
  input[name="event[duration]"] {
    width:53px;
    margin-left:5px;
    font-size: 18px;
  }
  input[name="event[link]"] {
    width: 345px;
    margin-bottom:15px;
  }
  label[name="duration"]{
    margin-left: 253px;
  }
  ul {
    float:right;
    font-size: 20px;
    margin-top: 18px;
    margin-right: 15px;
    li {
    display: inline;
    padding-left:7px;
    }
  }
}

.new_idea_button {
  width:200px;
  float:left;
  input[type=submit]{
    padding: 11px 142px 11px 145px;
  }
}

#radio {
  float:left;
  margin: 10px 10px 25px 10px;
}

#minmax {
  margin-left:45px;
}

#addLink, #addmap {
  cursor:pointer;
  color:black;
  text-decoration: underline;
  &:hover{
    color:$dark_orange;
    -webkit-transition: color .25s linear .1s;
    transition: color .25s linear .1s;
  }
}

#addmapp {
  float:left;
}

#addLinkp {
  float:left;
}

.new_idea_map {
  border: 1px solid #DDD;
display: inline-block;
width: 407px;
height: 200px;
margin: 10px 0 13px 14px;
-moz-box-shadow: 0 0 12px -1px black;
-webkit-box-shadow: 0 0 12px -1px black;
box-shadow: 0 0 12px -1px black;
}

select {
  width: 80px;
}

#error_explanation {
  color: #f00;
  ul {
    list-style: none;
    margin: 0 0 18px 0;
  }
}

.field_with_errors {
  @extend .control-group;
  @extend .error;
}

.instagramFeed {
  width: 900px;
  margin: 0 auto;
  position: relative;
  bottom: 40px;
  h3 {

  }
  span {
    color:$icon_color;
    font-weight: bold;
    font-size: 30px;
  }
  #instaButton{
    position: relative;
    top:131px; 
  }
  p {
    position: relative;
    top:124px; 
  }
}

.instagram-placeholder {
  float: left;
  margin-right: 5px;
}

