@import "bootstrap";

/* mixins, variables, etc. */

$grayMediumLight: #eaeaea;

@mixin box_sizing {
  -moz-box-sizing: border-box; 
  -webkit-box-sizing: border-box; 
  box-sizing: border-box;
}

/* universal */

html {
  overflow-y: scroll;
}

section {
  overflow: auto;
  float:left;
  position: relative;
  top:20px;
} 

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
  margin:20px 0 10px 0;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  text-align: center;
}

h2 {
  font-size: 1.7em;
  letter-spacing: -1px;
  margin-top: 20px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: #999;
}

h3 {
line-height: 27px;
font-size: 22px;
}


p {
  font-size: 1.1em;
  line-height: 1.7em;
}

.btn-primary {
  background-color: hsl(186, 100%, 40%) !important;
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#00d3ea", endColorstr="#00b7cc");
  background-image: -khtml-gradient(linear, left top, left bottom, from(#00d3ea), to(#00b7cc));
  background-image: -moz-linear-gradient(top, #00d3ea, #00b7cc);
  background-image: -ms-linear-gradient(top, #00d3ea, #00b7cc);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #00d3ea), color-stop(100%, #00b7cc));
  background-image: -webkit-linear-gradient(top, #00d3ea, #00b7cc);
  background-image: -o-linear-gradient(top, #00d3ea, #00b7cc);
  background-image: linear-gradient(#00d3ea, #00b7cc);
  border-color: #00b7cc #00b7cc hsl(186, 100%, 38.5%);
  color: #fff !important;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.09);
  -webkit-font-smoothing: antialiased;
}

input[type="button"] {
  width:200px;
}

span.red a {
  color:darkred;
}

/* header */

#header {
  font-family: 'Dancing Script', cursive;
  text-align:center;
  padding-left:180px;
  font-size:48px;
  text-shadow: 2px 2px #3D3D3D;
  line-height: 65px;
  color:white;
  height: 70px;
  
}

.navbar-inner {
  background: #f85032;
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2Y4NTAzMiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjMxJSIgc3RvcC1jb2xvcj0iI2VmNWQ0YSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9Ijc3JSIgc3RvcC1jb2xvcj0iI2YwMmYxNyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9Ijg4JSIgc3RvcC1jb2xvcj0iI2Y2MjkwYyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlNzM4MjciIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top,  #f85032 0%, #ef5d4a 31%, #f02f17 77%, #f6290c 88%, #e73827 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f85032), color-stop(31%,#ef5d4a), color-stop(77%,#f02f17), color-stop(88%,#f6290c), color-stop(100%,#e73827));
  background: -webkit-linear-gradient(top,  #f85032 0%,#ef5d4a 31%,#f02f17 77%,#f6290c 88%,#e73827 100%);
  background: -o-linear-gradient(top,  #f85032 0%,#ef5d4a 31%,#f02f17 77%,#f6290c 88%,#e73827 100%);
  background: -ms-linear-gradient(top,  #f85032 0%,#ef5d4a 31%,#f02f17 77%,#f6290c 88%,#e73827 100%);
  background: linear-gradient(top,  #f85032 0%,#ef5d4a 31%,#f02f17 77%,#f6290c 88%,#e73827 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f85032', endColorstr='#e73827',GradientType=0 );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF333333', endColorstr='#FF222222', GradientType=0);
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
}

#logo {
  font-family: 'Dancing Script', cursive;
  position: relative;
  left: 400px;
  float: left;
  font-size: 3em;
  color: white;
  padding-top: 4px;
  text-shadow: 0.03em 0.03em 0.03em black;
  line-height: 1;
  &:hover {
    color: white;
    text-decoration: none;
  }
}

.navbar .nav.pull-right {
margin-left: 0px;
margin-right: 0;
  h1 {
    font-size: 1.7em;
    color:white;
    position: relative;
  }
}

.navbar {
overflow: visible;
margin-bottom: 0px;
}

.navbar-fixed-top {
position: static;
top: 0;
right: 0;
left: 0;
z-index: 1030;
}

.navbar-fixed-top .navbar-inner {
padding-left: 0;
padding-right: 0;
-webkit-border-radius: 0;
-moz-border-radius: 0;
border-radius: 0;
height: 50px;
}

.dropdown .caret {
  margin-top: 0px;
  margin-left: 0px;
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0px;
  z-index: 1000;
  float: left;
  display: none;
  min-width: 160px;
  max-width: 220px;
  _width: 160px;
  padding: 4px 0;
  margin: 0;
  list-style: none;
  background-color: white;
  border-color: #CCC;
  border-color: rgba(0, 0, 0, 0.2);
  border-style: solid;
  border-width: 1px;
  -webkit-border-radius: 0 0 5px 5px;
  -moz-border-radius: 0 0 5px 5px;
  border-radius: 0 0 5px 5px;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
}

.caret {
  position:relative;
  top:16px;
  display: inline;
  width: 0;
  height: 0;
  text-indent: -99999px;
  vertical-align: top;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 4px solid black;
  opacity: 0.3;
  filter: alpha(opacity=30);
  content: "↓2193";
}

.navbar .nav > li > a {
  position:relative;
  bottom: 3px;
  width: 50px;
  text-align: center;
  color:white;
}

input[type=search] {
  position:relative;
  top:5px;
  right:5px;
  z-index:10;
  width:180px;
  height:8px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;

}

/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid $grayMediumLight;
  margin-bottom:20px;
  color: $grayLight;
  a {
    color: $gray;
    &:hover { 
      color: $grayDarker;
    }
  }  
  small { 
    float: left; 
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 10px;
    }
  }
}

/* forms */

form {
margin: 0 0 0 0;
}

label {
display: inline;
margin-bottom: 0px;
color: #333;
}

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  padding: 10px;
  height: auto;
  margin-bottom: 0;
  @include box_sizing;
}

input, textarea, .uneditable-input {
  width: 420px;
}

#sign_up {
  position:relative;
  left:4%;
  input {
    font-size: 23px;
    width:380px;
    margin-bottom: 10px;
    margin-top:5px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
  }
  label {
    font-size: 15px;
    color: #404040;
  }
  input[type=checkbox]{
    width:28px;
  }
}

#sign_in {
  position:relative;
  left:30%;
  input {
    font-size: 23px;
    width:380px;
    margin-bottom: 10px;
    margin-top:5px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
  }
  label {
    font-size: 15px;
    color: #404040;
  }
  input[type=checkbox]{
    width:28px;
  }
}

#edit_event {
  position:relative;
  left:30%;
  margin-bottom: 20px;
  input {
    font-size: 23px;
    width:414px;
    margin-bottom: 10px;
    margin-top:5px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
  }
  label {
    font-size: 15px;
    color: #404040;
  }
  input[type=checkbox]{
    width:28px;
  }
  span {
    text-decoration: none;
    display: inline;  
    float:left;
    margin-right:150px;
    margin-left:20px;
    input {
      width:100px;
      text-align: center;
    }
  }
}

select {
  width: 80px;
}

#error_explanation {
  color: #f00;
  ul {
    list-style: none;
    margin: 0 0 18px 0;
  }
}

.field_with_errors {
  @extend .control-group;
  @extend .error;
}

.min_max_field {

}



/* sidebar */

aside {
  section {
    margin-top:35px;
    padding: 10px 0;
    border-top: 1px solid $grayLighter;
    width:220px;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 1.6em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
    }
    h3 {
      margin:5px 0;
    }
  }
}

.profile_picture {

}

/* miscellaneous */

.alert {
  padding: 8px 35px 8px 14px;
  margin-bottom: 7px;
  margin-top: 7px;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  background-color: #FCF8E3;
  border: 1px solid #FBEED5;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}


#calendar {
  width: 700px;
  position: relative;
  top:30px;
  float:right;
  margin: 0 auto;
}


.stats {
  overflow: auto;
  margin:10px 0 17px 0;
  a {
    float: left;
    padding: 0 10px;
    border-left: 1px solid $grayLighter;
    color: gray;
    &:first-child {
      padding-left: 0;
      border: 0;
    }
    &:hover {
      text-decoration: none;
      color: $blue;
    }
  }
  strong {
    display: block;
  }
}


.follow_list {
  padding:25px;
  width:900px;
  float:center;
  height:500px;
}

#followed_users {
  float:left;
  width:430px;
  table {
    max-width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    position: relative;
    left: 40px;
    font-size: 20px;
  }
}

#followers {
  float:right;
  width:450px;
  table {
    max-width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    position: relative;
    left: 40px;
    font-size: 20px;
  }
}

.follow_btn {
  width:80px;
  margin: 0 0 0px;
}

.red {
  color:red;
}

.event_on {
  text-align: center;
  font-size: 40px;
  font-family: serif;
  font-style: bold;
  color:#3D8B37;
  text-shadow: 0.03em 0.03em 0.15em lightgrey
}

#map {
  border: 1px solid #DDD;
  width:370px;
  height: 200px;
  margin: 0 0 13px 10px;
  -webkit-box-shadow: #AAA 0px 0px 10px teal;
}

#no_map {
  width:370px;
  height: 200px;
  float:left; 
  margin: 15px 20px 13px 0px;
  display: block;
  float:left;
}

.rsvp_tip {
  position: relative;
  float:right;
  right:170px;
}

.grey_italics {
  font-size: 24px;
  font-style: italic;
  color: grey;
  font-family: veranda;
}

.event_show {
  height:460px;
}

#guest_raster {
  display: inline-block;
  position: relative;
  float: right;
  width: 510px;
  height: 280px;
  margin-bottom:10px;
  font-size: 20px;
}

.current_user {
  margin:16px 0 0 0 ;
}

.input-large {
  width:340px;
}

#when {
  float:left;
  font-size: 15px;
    p {
      font-size: 26px;
    }
}

#rsvp_form {
  float:left;
  margin-left:330px;
  height:50px;
}

#social {
  position:relative;
  left:230px;
  top:40px;
}

.nav_buttons {  
  float:left;
}

.container {
width: 940px;
margin-left: auto;
margin-right: auto;
padding-left: 50px;
padding-right: 50px;
}

footer {
  margin: 65px 0 30px 0;
  padding: 5px 50px;
  border-top: 1px solid #EAEAEA;
  color: #999;
}

