@import "fonts";
@import "colors";

// END MOBILE PORTRAIT

@media only screen and (min-width:600px) {

	header {
		  margin-left:3%;
	}

	.my_plans {
		display:none;
	}

	.responsive_profile_pic {
		display: none;
	}

	.layout {
		width: 95%;
		margin-left:3%;
	}

	.forecast {
		overflow-x: hidden;
		width: 93%;
	}

	.top {
		width: 80%;
	}
	.instagram-placeholder img {
		width: 111px;
	}
	.message {
		width:66%;
	}

	#yt {
		display:none;
	}

	.btn-today {
		display:none;
	}

	.logo {
		width: 164px;
		left: 25px;
	}

	ul.left_header {
		top: 34px;
	}

	.responsive_new_idea {
		display: none;
	}

	.event {
		.promo_img {
			img {
				max-width: 200px;
			}
		}
	}

.mini_event {
}

.idea_container {
position: relative;
}

.crowd_ideas {
	margin-left: 290px;
width: 77%;
}

.show_skin {
width: 54px;
position: fixed;
z-index: 1;
margin-left: 69%;
left: 250px;
height: 100%;
}

	#forecast {
		right: 693px;
		> dl {
			width: 3.5%;
		}
	}

	.today {
		left: -2px;
	}

	.user_search input[type=text] {
		width: 200px;
	}

	.right_header {
		top: 10px;
	}

	#friends {
width: 65%;
margin-left: 300px;
top: 16px;
	}

	.event_show {
margin: 0 268px;
width: 65%;
top: 10px;
min-width: 570px;
		.promo_img {
			img {
				max-width: 580px;
			}
		}
		.when {
			font-size: 27px;
			height: 40px;
		}
	}

		.guest_count {
			bottom: 1px;
			right: 6px;
		}

		header {
			width: 96%;
		}

		.event_time {
			span {
				bottom:2px;
			}
		}

		.fadeInBlue, .fadeInGreen {
			color:lightGrey;
		}

		.event_buttons {
			font-size: 30px;
			top: 23px;
			text-align: right;
			position: relative;
			margin-right: 9px;
		}

		#textMsg {
		display:none;
		}

		#sign_in {
			left:60px;
		}

		.vendor_dash {
  		.activity_event img {
    		float:left;
    		width:20%;
  		}
  		.vendorEventDetails {
				width: 79%;
				float: right;
			}
		}

		.activities {
			width:90%;
			margin:20px auto;
		}

		.credit_card_form {
			width:400px;
		}

		.sign_up {
			width:400px;
		}

		ul.right_header {
			font-size: 16px;
		}

		.date_bar {
			width: 99%;
			top: 35px;
			.date {
				font-size: 1.8em;
				font-size: 1.8em;
				top: 9px;
				position: relative;
			}
		}
		
		.dropdown dd ul {
top: 0px;
left: -121px;
		}

		.interests {
			right: 192px;
		}

		.floatingHeader {
		}

		.instagramFeed {
			width: 960px;
		}

		.fb_login_button {
		}

		.instagram-placeholder img {
			width: 106px;
		}

		.top {
			height:505px;
		}

		.alert {
			width: 960px;
		}

		#ribbon {

		}

		.btn-new-idea {
			padding: 10.5px 47px;
			position: relative;
			-moz-border-radius: 6px;
			-webkit-border-radius: 6px;
			border-radius: 6px;
			top: 10px;
		}
		.new_idea {
		}

		.html-new-idea {
			display:none;
		}

		.sidebar {
			width: 205px;
			height: 185px;
		}

		.home {
position: relative;
margin-right: -25px;
margin-left: 245px;
		}

		.rsvp_button {
			padding: 10px 20px;
		}

		.new_crowd_idea {
			width: 69%;
			.event_form {
				width:58%;
			}
			.idea_preview {
				width: 30%;
				right: 13%;
				position: fixed;
				top: 140px;
				  img {
      		width:100%;
    		}
			}
		}

}

/***************************************/
/*** Mobile  - Landscape****************/
/***************************************/
@media only screen and (min-width: 480px) and (max-width: 599px) {


	
}

/***************************************/
/*** 7" Tablet *************************/
/***************************************/
@media only screen and (min-width: 600px) and (max-width: 980px) {

}

/***************************************/
/*** Tablet - iPad *********************/
/***************************************/
@media only screen and (min-width: 600px) and (max-width: 699px) {


}

/***************************************/
/*** Widescreen ************************/
/***************************************/
@media only screen and (min-width: 960px) {

}