@import "fonts";
@import "colors";

// END MOBILE PORTRAIT

@media only screen and (min-width:600px) {

	header {
		nav {
		}
	}

	.my_plans {
		display:none;
	}

	.responsive_profile_pic {
		display: none;
	}

	.forecast {
		overflow-x: hidden;
		width: 93%;
	}
	.instagram-placeholder img {
		width: 111px;
	}
	.message {
		bottom: 335px;
		width: 80%;
		.text_buttons {
			font-size: 26px;
		}
	}

	#yt {
		display:none;
	}

	.btn-today {
		display:none;
	}

	.logo {
text-align: center;
width: 240px;
margin: 0 auto;
float: left;
position: absolute;
top: 3px;
img {
	width:187px;
}
	}

	ul.left_header {
		top: 34px;
	}

	.responsive_new_idea {
		display: none;
	}

	.event {
margin: 8px;
min-width: 230px;
max-width: 230px;
padding: 8px 8px 0 8px;
		.promo_img {
			img {
				max-width: 200px;
			}
		}
	}

.mini_event {
}

.float_right{
	margin-left: 80px;
	font-size:26px;
}

.crowd_ideas {
	margin-left: 290px;
	width: 77%;
}

.host_in_idea_shield{
	text-align: right;
	margin-right: 5px;
	.text {
		position: relative;
bottom: 7px;
font-size: 13px;
	}
}
.show_skin {
width: 54px;
position: fixed;
z-index: 1;
margin-left: 69%;
left: 250px;
height: 100%;
}

	#forecast {
		right: 693px;
		> dl {
			width: 3.5%;
		}
	}

	.today {
		left: -2px;
	}

	.user_search {
float: right;
position: relative;
bottom: -8px;
right: 3.7%;
		input[type=text] {
		width: 185px;
		}
	}

	.right_header {
		top: 12px;
		right: 0px;
		width: 44%;
		font-size: 15px;
	}

	#friends {
width: 97%;
top: 13px;
	}

	.event_show {
width: 59%;
max-width: 690px;
margin-right: 3.5%;
float: right;
		.promo_img {
			img {
				max-width: 100%;
			}
		}
		.when {
			font-size: 27px;
			height: 40px;
		}
		.date {
font-size: 23px;
position: relative;
top: 8px;
float:left;
		}
	}

	.event_guests {
width: 29%;
position: absolute;
top: 4px;
left: 7px;
	}

	.maybes {
		width: 29%;
		float:left;
		max-height: 400px;
		margin-top: 15px;
		clear: left;
		overflow: auto;
	}

	#invite_raster {
float: right;
width: 64%;
margin: 0 auto;
padding: 1px 0 10px 2px;
	}

		.fadeInBlue, .fadeInGreen {
			color:lightGrey;
		}

		#textMsg {
		display:none;
		}

		.activity_event img {
			float: left;
			width: 32%;
		}
		.vendorEventDetails {
			width: 61%;
			float: right;
		}

		.activities {
			width:90%;
			margin:20px auto;
		}

		.credit_card_form {
			width:400px;
		}

		.sign_up {
			width:400px;
  		input[type=email], input[type=text], input[type=submit], input[type=password]{
    		width:380px;
			}
		}

		ul.right_header {
			font-size: 16px;
		}

		.interests {
			right: 192px;
		}

		.floatingHeader {
		}


		.fb_login_button {
		}

		.instagram-placeholder img {
			width: 138px;
			height: 138px;
			margin-top: -5px;
		}

		.top {
			height:505px;
		}

		.alert {
			width: 960px;
		}

		#ribbon {

		}

		.btn-new-idea {
			padding: 8px 0px;
			-moz-border-radius: 6px;
			-webkit-border-radius: 6px;
			border-radius: 6px;
			width: 104px;
			position: relative;
			bottom: 12px;
		}

		.html-new-idea {
			display:none;
		}

		.new_crowd_idea {
				padding-bottom: 5%;
			.event_form {
				width: 47%;
				margin: 0 0 0 3%;
				float: left;
				border-right:1px solid $divider;
			}
			.idea_preview {
				position: relative;
				top: 12px;
				float: left;
				width: 44%;
				margin: 0 auto;
				margin-left: 3%;
				  .event {
				  	margin-bottom: 20px;
      			margin: 0 auto;
      			margin-bottom:20px;
    		}
    	.event_show {
				margin: 0 auto;
				width: 100%;
				min-width: 0;
				overflow: hidden;
				position: relative;
				top: 10px;
    	}
			}
		}

		.jr_forecast {
margin-left: -30px;
margin-top: 10px;
		}

		.jr_welcome {
margin-left: 41px;
margin-top: -2%;
		}

		.jr_search {
margin-top: -21px;
margin-left: -72px;
	span.joyride-nub.top {
		left: 267px;
	}
		}

		.jr_fb_friends {
margin-top: -30px;
margin-left: -39px;
		}

		.jr_plans {
margin-top: 11px;
margin-left: -23px;
		}

		.jr_stats {
			margin-top: -72px;
		}

		.jr_invites {
			margin-top: -89px;
			margin-left: -11px;
		}

		.jr_sidebar {
			margin-top: -270px;
		}

		.jr_new_idea {
margin-top: 40px;
margin-left: 15px;
		}

		.jr_ideas {
			margin-top: -90px;
margin-left: -19px;
		}

		.jr_city_ideas {
margin-top: 6px;
margin-left: -235px;
	span.joyride-nub.top {
		left: 250px;
	}
}

	.jr_mine {
		margin-left: -124px;
		span.joyride-nub.top {
		left: 138px;
		}
	}

		.jr_calendar {
margin-top: 49px;
margin-left: -246px;
	span.joyride-nub.top {
		left: 257px;
	}
		}

	.event_form {
		ul {
			font-size: 20px;
		}
	}

	.navigation {
		font-size: 17px;
		position: relative;
		z-index: 0;
		margin: 0 auto;
		float: right;
		top: 20px;
		right: 4%;
		width: auto;
		clear: right;
	.options {
		position: relative;
		bottom: 9px;
		}
		.profile_picture {
			width: 35px;
			height: 35px;
		}
	}

	.share_after_rsvp {
		width: 60%;
		left: 18%;
	}

	.email_share {
	width: 32%;
	}

		.social_sharing {
		a, a[href^="mailto"] {
			width: 32%;
		}
	}
	.city_title {
		position: absolute;
		right: 13px;
		top: 65px;
		font-size: 20px;
	}
	.not_signed_in_pitch {
		width: 570px;
	}

	#sign_in {
		width: 405px;
	}

	.btn-login {
		width: 88%;
	}

	.app_stores {
float: right;
clear: right;
margin-top: 15px;
margin-right: 85px;
		img {
			width:150px
		}
	}

	.mini_calendar {
		width: 320px;
	}

	.city_name {
		position: absolute;
		top: 59px;
		left: 236px;
	}

		.shield_bottom {
		right: 8px;
padding: 6px 11px;
width: 206px;
	}

	.idea_container {
		width:100%;
	}

	.user_show {
		width:70%;
	}

}

/***************************************/
/*** Mobile  - Landscape****************/
/***************************************/
/*@media only screen and (min-width: 480px) and (max-width: 599px) {


	
}
*/
/***************************************/
/*** 7" Tablet *************************/
/***************************************/
/*@media only screen and (min-width: 600px) and (max-width: 980px) {

}*/

/***************************************/
/*** Tablet - iPad *********************/ /*1 idea*/
/***************************************/
@media only screen and (min-width: 600px) and (max-width: 909px) {
	.home_idea_container {
		width: 230px;
	}
	.container_wrapper {
		width:42.5%;
	}

}
@media only screen and (max-width: 829px) {
	.hide_on_mobile {
		display:none;
	}
}
/***************************************/
/*** Widescreen ************************/ /*2 ideas*/
/***************************************/
@media only screen and (min-width: 910px) and (max-width: 1199px) {
	.home_idea_container {
		width: 500px;
	}
		.container_wrapper {
		width:61%;
	}
}

/*3ideas*/
@media only screen and (min-width: 1200px) and (max-width: 1499px) {
	.home_idea_container {
		width: 770px;
	}
	.container_wrapper {
		width:70%;
	}
	.user_show {
		width: 72%;
	}
}
/*4ideas*/
@media only screen and (min-width: 1500px) {
	.home_idea_container {
		width: 1030px;
	}
	.container_wrapper {
		width:75%;
	}
	.user_show {
		width: 78%;
	}
}

@media only screen and (min-width: 1810px) {
	.home_idea_container {
		width: 1230px;
	}
	.container_wrapper {
		width:79%;
	}
	.user_show {
		width: 81%;
	}
}