@import "fonts";
@import "colors";

// END MOBILE PORTRAIT

@media only screen and (min-width:600px) {

	header {
		nav {
		}
	}

	.my_plans {
		display:none;
	}

	.responsive_profile_pic {
		display: none;
	}

	.layout {
	width: 97%;
	margin: 0 auto;
	}

	.forecast {
		overflow-x: hidden;
		width: 93%;
	}

	.top {
		width: 80%;
	}
	.instagram-placeholder img {
		width: 111px;
	}
	.message {
		width:66%;
	}

	#yt {
		display:none;
	}

	.btn-today {
		display:none;
	}

	.logo {
	text-align: center;
	img {
	  width: 113px;
	}
	}

	ul.left_header {
		top: 34px;
	}

	.responsive_new_idea {
		display: none;
	}

	.crust .new_idea_button {
		float: left;
		margin-left: 30px;
}

	.event {
		margin:8px;
		min-width: 190px;
		max-width: 200px;
		min-height: 110px;
		max-height: 410px;
		.promo_img {
			img {
				max-width: 200px;
			}
		}
	}

.mini_event {
}

.idea_container {
position: relative;
}

.crowd_ideas {
	margin-left: 290px;
	width: 77%;
}

.show_skin {
width: 54px;
position: fixed;
z-index: 1;
margin-left: 69%;
left: 250px;
height: 100%;
}

	#forecast {
		right: 693px;
		> dl {
			width: 3.5%;
		}
	}

	.today {
		left: -2px;
	}

	.user_search {
position: absolute;
top: 13px;
left: 40px;
		input[type=text] {
		width: 230px;
		}
	}

	.right_header {
		top: 12px;
		right: 0px;
	}

	#friends {
width: 97%;
top: 13px;
	}

	.event_show {
margin: 0 286px;
width: 65%;
top: 10px;
min-width: 570px;
		.promo_img {
			img {
				max-width: 100%;
			}
		}
		.when {
			font-size: 27px;
			height: 40px;
		}
	}

		.guest_count {
			bottom: 1px;
			right: 6px;
		}

		.event_time {
			span {
				bottom:2px;
			}
		}

		.fadeInBlue, .fadeInGreen {
			color:lightGrey;
		}

		.event_buttons {
			font-size: 30px;
			top: 63px;
			text-align: right;
			position: relative;
			margin-right: 9px;
		}

		#textMsg {
		display:none;
		}

		#sign_in {
			left:60px;
		}

		.vendor_dash {
  		.activity_event img {
    		float:left;
    		width:20%;
  		}
  		.vendorEventDetails {
				width: 79%;
				float: right;
			}
		}

		.activities {
			width:90%;
			margin:20px auto;
		}

		.credit_card_form {
			width:400px;
		}

		.sign_up {
			width:400px;
		}

		ul.right_header {
			font-size: 16px;
		}

		.date_bar {
			width: 99%;
			top: 35px;
			.date {
				font-size: 1.8em;
				font-size: 1.8em;
				top: 9px;
				position: relative;
			}
		}
		
		.dropdown dd ul {
top: -10px;
right: 15px;
		}

		.interests {
			right: 192px;
		}

		.floatingHeader {
		}

		.instagramFeed {
			width: 960px;
		}

		.fb_login_button {
		}

		.instagram-placeholder img {
			width: 137px;
		}

		.top {
			height:505px;
		}

		.alert {
			width: 960px;
		}

		#ribbon {

		}

		.btn-new-idea {
			padding: 10.5px 33px;
position: relative;
-moz-border-radius: 6px;
-webkit-border-radius: 6px;
border-radius: 6px;
width: 170px;
		}
		.new_idea {
		}

		.html-new-idea {
			display:none;
		}

		.sidebar {
			width: 235px;
			/*height: 185px;*/
			height: auto;
		}

		.rsvp_button {
			padding: 10px 20px;
		}

		.new_crowd_idea {
				padding-top: 5%;
				padding-bottom: 5%;
			.event_form {
				width: 40%;
				margin: 0;
				float: left;
				overflow: auto;
				border-right:1px solid $divider;
			}
			.idea_preview {
				position: relative;
				bottom: 30px;
				float: left;
				width: 52%;
				margin: 0 auto;
				margin-left: 3%;
				  .event {
				  	margin-bottom: 20px;
      			margin: 0 auto;
      			margin-bottom:20px;
    		}
    	.event_show {
    		margin: 0 auto;
				width: 100%;
				min-width: 0;
				overflow: hidden;
    	}
			}
		}

		.jr_forecast {
			margin-left: 170px;
			margin-top:-100px;
		}

		.jr_welcome {
  		margin-left: 100px;
  		margin-top: -70px;
		}

		.jr_search {
			margin-top: -70px;
			margin-left: 50px;
		}

		.jr_fb_friends {
			margin-top: -215px;
			margin-left: -24px;
		}

		.jr_stats {
			margin-top: -72px;
		}

		.jr_invites {
			margin-top: -72px;
		}

		.jr_sidebar {
			margin-top: -270px;
		}

		.jr_new_idea {
			margin-top: 200px;
			margin-left: 130px;
		}

	.event_form {
		ul {
			font-size: 20px;
		}
	}

}

/***************************************/
/*** Mobile  - Landscape****************/
/***************************************/
@media only screen and (min-width: 480px) and (max-width: 599px) {


	
}

/***************************************/
/*** 7" Tablet *************************/
/***************************************/
@media only screen and (min-width: 600px) and (max-width: 980px) {

}

/***************************************/
/*** Tablet - iPad *********************/
/***************************************/
@media only screen and (min-width: 600px) and (max-width: 699px) {


}

/***************************************/
/*** Widescreen ************************/
/***************************************/
@media only screen and (min-width: 960px) {

}