/* forms */

::-webkit-input-placeholder {
   font-style: italic;
}

:-moz-placeholder {  
   font-style: italic;
}

form {
margin: 0 0 0 0;
}

label {
display: inline;
margin-bottom: 0px;
color: #333;
}

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  padding: 10px;
  height: auto;
  margin-bottom: 0;
  color:hotpink;
  font-size:15px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
}

textarea {
  font-size: 15px;
}

input[type="submit"]{
  border: 0px solid #bbb;
  padding: 10px;
  height: auto;
}

input[type=text], textarea, .uneditable-input {
  width: 420px;
}

#sign_up {
  position:relative;
  left:33%;
  top:30px;
  input {
    font-size: 23px;
    width:380px;
    margin-bottom: 10px;
    margin-top:5px;
  }
  label {
    font-size: 15px;
    color: #404040;
  }
  input[type=checkbox]{
    width:20px;
  }
  select[name="user[city]"]{
    width:290px;
    font-size: 20px;
    margin: 5px 0 20px 0;
  }
}

#recaptcha {
  margin-left:25px;
}

#sign_in {
  position:relative;
  left:30%;
  input {
    font-size: 23px;
    width:380px;
    margin-bottom: 10px;
    margin-top:5px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
  }
  label {
    font-size: 15px;
    color: #404040;
  }
  input[type=checkbox]{
    width:28px;
  }
}


#event_form {
  margin-left:auto;
  margin-right:auto;
  margin-bottom: 20px;
  margin-top:20px;
  width:414px;
  input, textarea, input[type=submit]{
    font-size: 18px;
    line-height: 24px;
    width:414px;
    margin-bottom: 10px;
    margin-top:5px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
  }
  label {
    font-size: 15px;
    color: #404040;
  }
  input[type=radio]{
    width:18px;
    margin-left:22px;
    margin-bottom:30px;
  }
  span {
    text-decoration: none;
    width: 49%;
    float: left;
    margin-left: 20px;
    margin-bottom: 20px;
    margin-left: 3px;
    margin-top: 15px;

    input {
      width:100px;
      text-align: center;
    }
    label {
      width:100px;
    }
  }
  input[name="event[chronic_starts_at]"]{
    width:305px;
  }
  input[name="event[duration]"] {
    width:55px;
    margin-left:5px;
  }
  label[name="duration"]{
    margin-left:275px;
  }
  ul {
  margin-left:160px;
    li {
    display: inline;
    padding-left:10px;
    }
  }
}

#minmax {
  margin-left:45px;
}

#visibility, #addmap {
  cursor:pointer;
  color:blue;
  text-decoration: underline;
}

select {
  width: 80px;
}

#error_explanation {
  color: #f00;
  ul {
    list-style: none;
    margin: 0 0 18px 0;
  }
}

.field_with_errors {
  @extend .control-group;
  @extend .error;
}

