@import "fonts";
@import "colors";

/***************************************/
/*** Mobile - Portrait & Landscape *****************/
/***************************************/
@media only screen and (max-width: 599px) {

// REMOVE OVERFLOW ON BODY
body {
	overflow-x:hidden;
}
// REMOVE SOME STUFF
	footer {
		display:none;
	}
	#feedback {
		display:none;
	}
	#datepicker {
		display:none;
	}
	.friend_suggestions {
		display:none;
	}
	.user_search {
		display:none;
	}
	ul.left_header {
		display:none;
	}
	#headerText {
		display:none;
	}
	.event_time {
		img {
			display:none;
		}
	}
	.hero-unit {
		h1 {
			margin-bottom:50px;
		}
		img {
			display:none;
		}
	}

	.only {
		display: none;
	}

	#textMsg {
		display:none;
	}

	.ajax-new-idea {
		display: none;
	}

	.city-icon {
		display: none;
	}

// SHRINK HEADER STUFF

	.logo {
		left:4px;
		img {
			width: 105px;
		}
	}

	header {
		width: 100%;
	}

	.right_header {
top: 34px;
	img {
width: 45px;
height: 45px;
bottom: 11px;
position: relative;
	}
	}

	.floatingHeader {
	}

	.btn-new-idea {
		padding: 11px 19px;
		position: fixed;
		top: 76px;
		left: 6px;
		-moz-border-radius: 6px;
		-webkit-border-radius: 6px;
		border-radius: 6px;
		z-index: 10000;
	}

	#new_idea_blerb {
		display: none;
	}


// LAYOUT IS PROPORTIONAL

	.layout {
		width:100%

	}

// INCLUDE YESTERDAY TOMORROW BUTTONS

	#yt {
		display:block;
	}

// TIGHTEN UP FORECAST
	.home {

	}

	.date_bar {
		.date {
			font-size: 1.1em;
			position: relative;
			top: 7px;
		}
	}

	.dropdown dd ul {
top: -8px;
left: -125px;
}
	.dropdown i.icon-caret-down {
		position: relative;
		bottom: 10px;
		color: black;
	}

	.interests {
		right: 153px;
	}

	.forecast {
		width:100%;
	}

	#forecast {
		right: 510px;
		> dl {
			width: 2.6%;
		}
	}

	.today {
		left: -2px;
	}

	.event {
		width: 123px;
		.promo_img {
			position: relative;
			right: 4px;
			img {
				max-width: 164px;
			}
		}
		.guest_count {
			bottom: 47px;
			left: 53px;
		}
		.when {
			font-size: 22px;
		}
	}	

		.event {
		max-width: 180px;
		max-height: 300px;
		min-width: 160px;
		min-height: 110px;
		right: 1px;
	}

	.mini_event {
		height:80px;
	}

	.idea_container {
		width:98%;
	}

	.crowd_ideas {
		width:98%;
	}

	header {

	}

	ul.event_buttons {
		width: 53%;
		float: left;
		font-size: 34px;
		position: relative;
		left: 3px;
		li {
			display: inline;
			a img {
				width: 23px;
				}
			}
	}

	.message {
		width: 80%;
	}

	.instagram-placeholder img {
		width: 111px;
	}

// MANAGE FRIENDS 

	#friends {
		margin: 10px 0 20px 7px;
		width: 89%;
	}		

// EVENT SHOW

	.event_show {
		margin:0;
		width: 96%;
		left: 7px;
		bottom: 10px;
		.promo_img {
			img {
				max-width: 106%;
				position:relative;
    		right: 10px;
			}
		}
		.promo_vid {
			iframe {
				width: 106%;
				height: 248px;
			}
		}
	}
	.event_time {
		span {
			bottom:-4px;
		}
	}

	.show_skin {
		height: 46px;
	}

	.ui-datepicker {
		width:16em;
	}

	#sign_in {
		left:10px;
	}


// Activity

.vendor_dash {
	.activity_event {
		img {
			width: 100%;
		}
	}
	.vendorEventDetails {
		width: 100%;
		.suggestionTitle {
			margin-top:10px;
		}
	}
}

.activities {
	margin: 20px 0 0 20px;
  width:73%;
}

.credit_card_form {
	width: 75%;
}

.sign_up {
	width: 75%;
}

.instagramFeed {
	width:87%;
}

.fb_login_button {
right: 58px;
}

.top {
	height:575px;
}

#calendars {
	float:right;
}

.rsvp_dot {
	  right: 5px;
  top: 5px;
}

.alert {
	width: 100%;
}

#sign_in {
	input {
		width:60%;
	}
}

.sidebar {
	display:none;
}

.rsvp_button {
	padding: 2px 10px;
}

.new_crowd_idea {
	width: 83%;
	.event_form {
		width:100%;
	}
	.idea_preview {
		display:none;
	}
}

}

