$rsvp: #388EE5;
$happening: #0C7908;

/***************************************/
/*** Mobile - Portrait & Landscape *****************/
/***************************************/
@media only screen and (max-width: 599px) {

// REMOVE OVERFLOW ON BODY
body {
	overflow-x:hidden;
}
// REMOVE SOME STUFF
	#feedback {
		display:none;
	}
	#datepicker {
		display:none;
	}
	.friend_suggestions {
		display:none;
	}
	.user_search {
		display:none;
	}
	ul.left_header {
		display:none;
	}
	#headerText {
		display:none;
	}
	.event_time {
		img {
			display:none;
		}
	}
	.hero-unit {
		h1 {
			margin-bottom:50px;
		}
		img {
			display:none;
		}
	}
	.instagramFeed {
		display:none;
	}

// SHRINK HEADER STUFF

	.logo {
		left:4px;
	}

	header {
		width: 100%;
	}

	ul.right_header {
		position: absolute;
		right: 6px;
		top: 39px;
	}

	.new_idea {
		width: 74%;
		margin-right: -55px;
	}

// LAYOUT IS PROPORTIONAL

	.layout {
		width:100%
	}

// INCLUDE YESTERDAY TOMORROW BUTTONS

	#yt {
		display:block;
	}

// TIGHTEN UP FORECAST
	.forecast {
		width:100%;
	}

	#forecast {
		right: 510px;
		> dl {
			width: 2.4%;
		}
	}

	.today {
		left: -2px;
	}

	.event {
		width: 123px;
		.promo_img {
			position: relative;
			right: 4px;
			img {
				max-width: 131px;
			}
		}
		.guest_count {
			bottom: 47px;
			left: 53px;
		}
		.when {
			font-size: 22px;
		}
	}	
	ul.event_buttons {
		width:96%;
		float:left;
		right:-33px;
		font-size: 26px;
		li {
			display: inline;
			a img {
				width: 23px;
				}
			}
	}


// MANAGE FRIENDS 

	#friends {
		margin: 10px 0 20px 7px;
		width: 89%;
	}		

// EVENT SHOW

	.event_show {
		margin:0;
		width: 96%;
		left: 7px;
		.promo_img {
			img {
				max-width: 106%;
				position:relative;
    		right: 10px;
			}
		}
		.promo_vid {
			iframe {
				width: 106%;
				height: 248px;
			}
		}
	}
	.event_time {
		span {
			bottom:-4px;
		}
	}

	.ui-datepicker {
		width:16em;
	}

}

