@import "font-awesome";

@import "colors";
@import "fonts";

* {
  margin:0;
  padding:0;
}

html {
  overflow-y: scroll;
  height:100%;
}

body {
font-family: bariol, Arial, sans-serif;
color: #333;
background: url(/assets/gray_jean.png);
zoom: 1;
z-index: 0;
text-shadow: 0 0 1px rgba(0, 0, 0, 0.3);
height: 100%;
  strong {
    font-family: bariol_bold, arial, sans-serif;
    font-weight: bold;
  }
}

footer {
text-align: center;
bottom: 0px;
left:0px;
width: 93%;
position: absolute;
/*background: url("low_contrast_linen.png");*/
background:$background_one;
padding: 30px;
color: $headerText;
height:16px;

a {
  color:$headerText;
}
  ul {
    display: inline;
    li {
      display: inline;
    }
  }
}

.row, .col { overflow: hidden; position: absolute; }
.row { left: 0; right: 0; }
.col { top: 0; bottom: 0; }
.scroll-x { overflow-x: auto; }
.scroll-y { overflow-y: auto; }

ul {
  text-decoration: none;
}

section {
  overflow: auto;
  float:left;
  position: relative;
  top:20px;
} 

i {
  font-style: normal;
}

a img {
  border:none;
}

textarea {
  resize: vertical;
}

textarea:focus, input:focus {
  outline: none;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
  margin:10px 0 10px 0;
}

h1 {
  font-size: 2.3em;
  letter-spacing: -2px;
  text-align: center;
  position: relative;
}

h2 {
  font-size: 1.7em;
  letter-spacing: -1px;
margin-top: 10px;
margin-bottom: 20px;
  text-align: center;
  font-weight: normal;
  color: #999;
}

h3 {
line-height: 27px;
font-size: 22px;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
  margin:0;
}

a {
  text-decoration: none;
  color:#5A5A5A;
  &:hover {
    color: $icon_color;
  }
  &:active {
    color: $icon_color;
  }
}

ul, li {
  list-style: none;
}


/* CLEARFIX */

.clearfix:before,
.clearfix:after {
    content: "";
    display: table;
} 
.clearfix:after {
    clear: both;
}
.clearfix {
    zoom: 1; /* For IE 6/7 (trigger hasLayout) */
}


.padding_10 {
  padding: 10px;
}

.right {
  float:right;
}

.left {
  float:left;
}

.bold {
  font-weight: bold;
  text-decoration: underline;
}

.half-width {
  width:49%;
}

.text-center {
  text-align: center;
}

.box-shadow {
  -webkit-box-shadow: 0 0 6px rgba(0,0,0,0.3);
  -moz-box-shadow: 0 0 6px rgba(0,0,0,0.3);
  box-shadow: 0 0 6px rgba(0,0,0,0.3);
}


.red {
  color:$destroy;
}

.green {
  color:$happening;
}

.fadeInRed {
  color:$before_hover;
  &:hover{
  color:$destroy;
  -webkit-transition: color .25s linear .1s;
  transition: color .25s linear .1s;
  }
}

.fadeInGreen {
  color:$before_hover;
  &:hover{
  color:$happening;
  -webkit-transition: color .25s linear .1s;
  transition: color .25s linear .1s;
  }
}

.fadeInPurple {
  color:$before_hover;
  &:hover{
  color:$icon_color;
  -webkit-transition: color .25s linear .1s;
  transition: color .25s linear .1s;
  }
}

.fadeInBlue {
color:$before_hover;
  &:hover{
  color:$rsvp;
  -webkit-transition: color .25s linear .1s;
  transition: color .25s linear .1s;
  }
}

.fadeInFBBlue {
    color:$before_hover;
  &:hover{
  color:#3A5998;
  -webkit-transition: color .25s linear .1s;
  transition: color .25s linear .1s;
  }
}

.fadeInTwitter {
    color:$before_hover;
  &:hover{
  color:#01CBFB;
  -webkit-transition: color .25s linear .1s;
  transition: color .25s linear .1s;
  }
}

.fadeInPinterest {
    color:$before_hover;
  &:hover{
  color:#CB2027;
  -webkit-transition: color .25s linear .1s;
  transition: color .25s linear .1s;
  }
}

.pinterest_red {
  color:$pinterest_red;
}

.destroy {
  color:$destroy;
}

.orange {
  color:$dark_orange;
}

.fadeInOrange {
  color:$before_hover;
  &:hover{
    text-decoration:none;
  color:$dark_orange;
  -webkit-transition: color .25s linear .1s;
  transition: color .25s linear .1s;
  }
}

.masonry,
.masonry .masonry-brick {
  -webkit-transition-duration: 0.7s;
     -moz-transition-duration: 0.7s;
      -ms-transition-duration: 0.7s;
       -o-transition-duration: 0.7s;
          transition-duration: 0.7s;
}

.masonry {
  -webkit-transition-property: height, width;
     -moz-transition-property: height, width;
      -ms-transition-property: height, width;
       -o-transition-property: height, width;
          transition-property: height, width;
}

.masonry .masonry-brick {
  -webkit-transition-property: left, right, top;
     -moz-transition-property: left, right, top;
      -ms-transition-property: left, right, top;
       -o-transition-property: left, right, top;
          transition-property: left, right, top;
}

.btn {
line-height: 24px;
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
font-size: 18px;
color:white;
&:hover {
  color:white;
}
}

.btn-cancel {
  border: 1px solid lightgrey;
  background: lightgrey;
  padding: 10px;
  float: right;
  margin-right: 30px;
  &:hover{
    background: rgb(238, 238, 238);
    color:grey;
  }
}

.btn-danger {
text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
background-color: #DA4F49;
background-image: -moz-linear-gradient(top, #EE5F5B, #BD362F);
background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#EE5F5B), to(#BD362F));
background-image: -webkit-linear-gradient(top, #EE5F5B, #BD362F);
background-image: -o-linear-gradient(top, #EE5F5B, #BD362F);
background-image: linear-gradient(to bottom, #EE5F5B, #BD362F);
background-repeat: repeat-x;
border-color: #BD362F #BD362F #802420;
border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffee5f5b', endColorstr='#ffbd362f', GradientType=0);
filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
  &:hover {
background-image: -moz-linear-gradient(top, #BD362F, #EE5F5B);
background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#BD362F), to(#EE5F5B));
background-image: -webkit-linear-gradient(top, #BD362F, #EE5F5B);
background-image: -o-linear-gradient(top, #BD362F, #EE5F5B);
background-image: linear-gradient(to bottom, #BD362F, #EE5F5B);
  }
}

.btn-large{
  padding: 10px 10px;
  font-size:20px;
}

.btn-pitch {
width: 114px;
font-size: 20px;
text-align: center;
height: 40px;
line-height: 40px;
margin-bottom: 2px;
}

.btn-follow {
background: none;
border: none;
color: lightgrey;
  &:hover {
color:gold;
}
}

.btn-unfollow {
  background: none;
  border: none;
  color: gold;
    &:hover {
  color:lightgrey;
}
}

.btn-inmate {
  background: none;
  border: none;
  color: lightgrey;
    &:hover {
  color: white;
}
}

.btn-new-idea {
    font-size: 15px;
    text-align: center;
}

.btn-primary {
  background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #EE9100), color-stop(1, #f77740) );
  background:-moz-linear-gradient( center top, #EE9100 5%, #f77740 100% );
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f0976e', endColorstr='#f77740');
  background-color:#EE9100;
  border:1px solid #dcdcdc;
  display:inline-block;
  color:#ffffff;
  font-family:arial;
  font-weight:normal;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  /*padding:6px 24px;*/
  text-decoration:none;
}
.btn-primary:hover {
  background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #f77740), color-stop(1, #EE9100) );
  background:-moz-linear-gradient( center top, #f77740 5%, #EE9100 100% );
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f77740', endColorstr='#f0976e');
  background-color:#f77740;
  color:white;
}

.btn-login {
  height: 47px;
margin: 13px 0 0 0;
}

.btn-join {
-moz-box-shadow: inset 0px 1px 0px 0px #595485;
-webkit-box-shadow: inset 0px 1px 0px 0px #595485;
box-shadow: inset 0px 1px 0px 0px #595485;
background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #5B549E), color-stop(1, #372C8B));
background: -moz-linear-gradient(center top, #5B549E 5%, #372C8B 100%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#5b549e', endColorstr='#372c8b');
background-color: #5B549E;
border: 1px solid #7A71C9;
display: inline-block;
color: white;
font-family: arial;
font-weight: normal;
text-decoration: none;
text-align: center;
}.btn-join:hover {
  background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #372c8b), color-stop(1, #5b549e) );
  background:-moz-linear-gradient( center top, #372c8b 5%, #5b549e 100% );
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#372c8b', endColorstr='#5b549e');
  background-color:#372c8b;
  cursor: pointer;
}

.btn-rsvp {
  -moz-box-shadow:inset 0px 1px 0px 0px #bbdaf7;
  -webkit-box-shadow:inset 0px 1px 0px 0px #bbdaf7;
  box-shadow:inset 0px 1px 0px 0px #bbdaf7;
  background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #79bbff), color-stop(1, #378de5) );
  background:-moz-linear-gradient( center top, #79bbff 5%, #378de5 100% );
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#79bbff', endColorstr='#378de5');
  background-color:#79bbff;
  border:1px solid #84bbf3;
  color:#ffffff;
  font-family:arial;
  text-decoration:none;
  text-shadow:1px 1px 0px #528ecc;
}

.btn-rsvp:hover {
  background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #378de5), color-stop(1, #79bbff) );
  background:-moz-linear-gradient( center top, #378de5 5%, #79bbff 100% );
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#378de5', endColorstr='#79bbff');
  background-color:#378de5;
  color:white;
  border:none;
    border:1px solid #84bbf3;
}

.btn_stop_viewing {
  background-color:#EDEDED;
  border: 1px solid gainsboro;
  display: inline-block;
  color: #636363;
}
.btn_stop_viewing:hover {
  background-color: #ffffff;
    color: #636363;
  cursor:pointer;
}
.btn_stop_viewing:active {
  position:relative;
  top:1px;
}

.btn_fb_login {
background: url(/assets/social/shot.png) no-repeat -4px -2px;
width: 278px;
height: 46px;
display: block;
text-indent: -9999px;
-webkit-border-radius: 6px;
-moz-border-radius: 6px;
border-radius: 6px;
position: relative;
}

.btn_fb_login:hover {
  background-position: -4px -66px; 
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
}

.btn_fb_login:active {
background-position: -4px -2px;
-webkit-border-radius: 6px;
-moz-border-radius: 6px;
border-radius: 6px;
}

/*just used in registrations edit*/
.btn-warning {
width:380px;
color: white;
text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
background-color: #FAA732;
background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#FBB450), to(#F89406));
background-image: -webkit-linear-gradient(top, #FBB450, #F89406);
background-image: -o-linear-gradient(top, #FBB450, #F89406);
background-image: linear-gradient(to bottom, #FBB450, #F89406);
background-image: -moz-linear-gradient(top, #FBB450, #F89406);
background-repeat: repeat-x;
border-color: #F89406 #F89406 #AD6704;
filter: progid:dximagetransform.microsoft.gradient(startColorstr='#fffbb450', endColorstr='#fff89406', GradientType=0);
filter: progid:dximagetransform.microsoft.gradient(enabled=false);
margin-top: 11px;
}

.btn-success {
color: white;
text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
background-color: #5BB75B;
background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#62C462), to(#51A351));
background-image: -webkit-linear-gradient(top, #62C462, #51A351);
background-image: -o-linear-gradient(top, #62C462, #51A351);
background-image: linear-gradient(to bottom, #62C462, #51A351);
background-image: -moz-linear-gradient(top, #62C462, #51A351);
background-repeat: repeat-x;
border-color: #51A351 #51A351 #387038;
border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
filter: progid:dximagetransform.microsoft.gradient(startColorstr='#ff62c462', endColorstr='#ff51a351', GradientType=0);
filter: progid:dximagetransform.microsoft.gradient(enabled=false);
  cursor: pointer;
  display:inline-block;
  color:#ffffff;
  font-family:arial;
  text-decoration:none;
  &:hover {
    background-color: #5BB75B;
background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#51A351), to(#62C462));
background-image: -webkit-linear-gradient(top, #51A351, #62C462);
background-image: -o-linear-gradient(top, #51A351, #62C462);
background-image: linear-gradient(to bottom, #51A351, #62C462);
background-image: -moz-linear-gradient(top, #51A351, #62C462);
background-repeat: repeat-x;
border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
filter: progid:dximagetransform.microsoft.gradient(startColorstr='#ff51a351', endColorstr='#ff62c462', GradientType=0);
filter: progid:dximagetransform.microsoft.gradient(enabled=false);
  }
}

.btn-new-time {
  width: 100%;
text-align: center;
font-size: 20px;
padding: 5px 0;
}

span.red a {
  color:$destroy
}

.btn-user-search {
-webkit-border-radius: 0 5px 5px 0;
-moz-border-radius: 0 5px 5px 0;
border-radius: 0 5px 5px 0;
font-size: 14px;
position: relative;
right: 5px;
-moz-box-shadow: inset 0px 1px 0px 0px #ffffff;
-webkit-box-shadow: inset 0px 1px 0px 0px white;
box-shadow: inset 0px 1px 0px 0px white;
background-color: #EDEDED;
border: 1px solid gainsboro;
display: inline-block;
color: #777;
font-family: arial;
font-size: 15px;
font-weight: bold;
text-decoration: none;
text-shadow: 1px 1px 0px white;
width: 25px;
padding: 5px 0 5px 0;
bottom: -1px;
}
.btn-user-search:hover {
  background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #dfdfdf), color-stop(1, #ededed) );
  background:-moz-linear-gradient( center top, #dfdfdf 5%, #ededed 100% );
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#dfdfdf', endColorstr='#ededed');
  background-color:#dfdfdf;
}

/* tooltips */

#littleTIP {
        max-width: 250px;
        padding: 5px;
        }

#littleTIPbackground {
        background: #ffffff;
        -webkit-box-shadow: 3px 3px 3px rgba(50, 50, 50, 0.55);
        -moz-box-shadow:    3px 3px 3px rgba(50, 50, 50, 0.55);
        box-shadow:         3px 3px 3px rgba(50, 50, 50, 0.55);
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        border-radius: 4px;
        }

#littleTIPtext {
        font-family: Arial, verdana, sans-serif;
        font-size: 16px;
        text-align: left;
        }

/*TERMS*/

.terms {
  width:760px;
  margin:0 auto;
  li {
    margin: 10px 10px;
    line-height: 1.2;
    font-size: 19px;
  }
}

/* HEADER */

header.not_signed_in {
position: relative;
-webkit-box-shadow: 0px 0px 9px rgba(50, 50, 50, 0.3);
-moz-box-shadow: 0px 0px 9px rgba(50, 50, 50, 0.3);
box-shadow: inset 0px 0px 9px rgba(50, 50, 50, 0.3);
height: 430px;
margin-bottom: 0px;
float: left;
overflow: hidden;
  nav {
position: absolute;
  }
}

/*HEADER NOT SIGNED IN*/
  .message {
position: relative;
margin: 0 auto;
background-color: rgba(250, 250, 250, 0.85);
padding: 20px 4%;
height: auto;
border-radius: 7px;
max-width: 800px;
  .text_buttons {
line-height: 1.3;
  }
    p {
      margin:0 auto;
      width: 90%;
      text-indent:40px;
    }
    h1 {
      margin: 10px 0;
      padding: 20px 0 ;
      border-bottom:1px solid $divider;
    }
    .login_sign_up {
      text-align: center;
    }
  }

.instagramFeed {
  span {
    color:white;
    font-weight: bold;
    font-size: 30px;
  }
  #instaButton{
    position: relative;
    top:131px; 
  }
  p {
    text-ident:20px;
  }
}

.instagram-placeholder {
  float: left;
}

.instagram {
height: 430px;
width: 118%;
overflow: hidden;
}

.hoosinstagram {
  position: absolute;
bottom: 15px;
right: 8px;
}


/*NORMAL HEADER*/
header {
  clear: both;
  position: fixed;
  top:0;
  z-index: 2;
  width:100%;
  nav {
-webkit-box-shadow: 0px 0px 9px rgba(50, 50, 50, 0.3);
-moz-box-shadow:    0px 0px 9px rgba(50, 50, 50, 0.3);
box-shadow: 0px 0px 9px rgba(50, 50, 50, 0.3);
    height: inherit;
    background-color:rgba(255,255,253,1);
    border-bottom: 1px solid lightgrey;
  }
}

.logo {
  img {
  width: 120px;
  }
}

.navigation {
  text-align: center;
  span {
    cursor:pointer;
  }
}

/* LAYOUT */

.layout {
position: relative;
top: 60px;
padding-bottom: 76px;
min-height: 100%;
}

/* sidebar */

.profile_picture {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  background-color: white;
width: 50px;
height: 50px;
}


.fa-input {
  font-family: FontAwesome, 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

#search_results {
  background-color: white;
  color:black;
  height:auto;
padding: 10px;
z-index: 5;
width: 291px;
position: absolute;
top: 36px;
right: 4px;
-webkit-box-shadow: 0px 0px 9px rgba(50, 50, 50, 0.3);
-moz-box-shadow:    0px 0px 9px rgba(50, 50, 50, 0.3);
box-shadow: 0px 0px 9px rgba(50, 50, 50, 0.3);

}

.user_search {
  input[type=text] {
  border-radius: 0;
padding: 6px;
font-size: 12px;
border: 1px solid $divider;
}
  .get_friends {
    float:left;
}

}

.fb-icon {
position: absolute;
top: 5px;
}

.switch {
cursor: pointer;
display: inline-block;
overflow: hidden;
position: relative;
width: 104px;
height: 30px;
vertical-align: middle;
top: 0px;
}
/* Background image */
.switch .background {
  background: url('switch-background.png');
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 161px;
  height: 30px;
}
/* Mask */
.switch .mask {
  background: url('switch-mask.png');
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 105px;
  height: 30px;
}

.date_bar {
text-align: center;
font-size: 19px;
padding: 1px 0;
color: white;
}

.day_container {
margin-top: 3px;
margin-left: 2%;
margin-right:2%;
}


.over {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
  filter: alpha(opacity=50);
  -moz-opacity: 0.5;
  -khtml-opacity: 0.5;
  opacity: 0.5;
}

/*MINI EVENT*/

.mini_event {
width: 99%;
position: relative;
float: left;
margin: 0 8px 8px 0;
background-color: rgba(255, 255, 255, 0.11);
overflow: hidden;
border: 1px solid rgb(107, 107, 107);
padding-top: 4px;
letter-spacing: 1px;
  &:hover {
    background-color: rgba(255, 255, 255, 0.21);
  }
  .not_rsvpd {
  width: 309px;
  min-height: 102px;
  position: relative;
  bottom: 4px;
  margin-bottom: -4px;
  }
  a {
    color:white;
  }
  .mini_in_out {
    float: right;
    width: 86px;
    .in_on_instance {
      position: relative;
      font-size: 25px;
      color: white;
      float: right;
      right: 15px;
    }

    .btn {
    width: 40px;
    position: relative;
    bottom: 1px;
    float: left;
    margin-right: 2px;
    }
  }
  .inviter {
    position: relative;
    float: right;
  }
  .guest_count {
    position: absolute;
    right: 14px;
    top: 0px;
  }
  .promo_img {
    float: left;
    width: 22%;
    padding-top: 8px;
    min-height: 60px;
    img {
      max-width: 100%;
      max-height: 76px;
    }
  .icon-ok {
    position: absolute;
right: 12px;
top: 13px;
text-align: center;
  }
}

  .event_time {
padding: 0px 2px 1px 5px;
font-size: 16px;
height: auto;
   img {
      width: 7%;
      margin-bottom: -5px;
      position: relative;
      bottom: 4px;
    }
  }
    .event_pic {
    float:left;
    img {
      width:25px;
      height:25px;
    }
  }
  .event_blerb {
font-size: 20px;
line-height: 1;
position: relative;
min-height: 0;
padding: 5px 0 0 5px;
right: 0;
  .profile_picture {
    width:30px;
    height:30px;
  }
  }
}

  .guest_count {
    float:left;
    .friend_star, .inmate_star {
          font-size: 11px;
    position: relative;
    bottom: 1.5px;
    }
      .icon-user {
    font-size: 12px;
    color: $icon_color;
    position: relative;
    bottom: 2px;
  }
  }

  .friend_star {
    font-size: 15px;
    color: gold;
    text-shadow: none;
  }

  .inmate_star {
    font-size: 15px;
    color: lightgrey;
    text-shadow: none;
  }





/*EVENT*/

.event {
  background-color:white;
float:left;
position: relative;
z-index: 0;
border: 1px solid $divider;
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;         /* Opera/IE 8+ */
.promo_img {
  text-align: center;
  padding-bottom: 13px;
  img{
    max-height: 267px;
/*    -webkit-box-shadow: 0 0 6px rgba(0,0,0,0.3);
    -moz-box-shadow: 0 0 6px rgba(0,0,0,0.3);
    box-shadow: 0 0 6px rgba(0,0,0,0.3); check old code*/
  }
}
.profile_picture {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  background-color: white;
width: 27px;
height: 27px;
}
.guests {
  float: right;
position: relative;
margin-right: 4px;
}
a {
  color:black;
}
.date {
float: left;
margin-top: 2px;
margin-left: 5px;
}
}

.event_time {
  position: relative;
top: 4px;
width: 100%;
float: left;
}

.event_promo_img {
  img {
  max-width: 175px;
max-height: 300px;
  }
}

.not_tipped { 
    color:$dark_orange;
  }

.status_icon {
font-size: 22px;
}

.event_pic {
  width: 50px;
  position: relative;
top: 5px;
}

.event_video {
  float: left;
position: relative;
left: 57px;
bottom: 12px;
}

.event_blerb {
min-height: 24px;
font-size: 18px;
line-height: 1;
width: 97%;
position: relative;
right: 5px;
padding: 10px 10px 0px 10px;
}

.event_shield_icons {
float:left;
position: relative;
}

.friends_attending {
  margin-left:2px;
  width: 44px;
  position: absolute;
  bottom: -4px;
  left: 59px;
}

.family_friendly {
  position: absolute;
width: 19px;
left: 140px;
bottom: 2px;
}

.gold {
  color: #54A854;
  text-shadow: 1px 1px 1px darkgrey;
  }

.rsvp_check {
float: left;
position: relative;
form {
  float: right;
}
}

.btn_icon {
padding: 2px 4px;
cursor: pointer;
-webkit-border-radius: 4px;
-moz-border-radius: 4px;
border-radius: 4px;
text-align: center;
bottom: 1px;
position: relative;
 i {
    color: white;
    position: relative;
    text-shadow: 1px 1px 1px black;
  &:hover{
  color:white;
  }
}
}

.btn_icon_rsvp {
  background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #79bbff), color-stop(1, #378de5) );
  background:-moz-linear-gradient( center top, #79bbff 5%, #378de5 100% );
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#79bbff', endColorstr='#378de5');
  background-color:#79bbff;
  border:1px solid #84bbf3;
  color:white;
  &:hover {
  background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #378de5), color-stop(1, #79bbff) );
  background:-moz-linear-gradient( center top, #378de5#79bbff 5%, #79bbff 100% );
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#378de5', endColorstr='#79bbff');
  background-color:#79bbff;
  }
}


/*FOOTER*/


/* miscellaneous */

.alert { 
text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
background-color: #FCF8E3;
border-bottom: 1px solid goldenrod;
border-top: 1px solid goldenrod;
color: goldenrod;
z-index: 20;
height: 22px;
line-height: 25px;
text-align: center;
font-size: 17px;
position: absolute;
margin: 0 auto;
width:100%;
top: 0;
}

.ui-autocomplete {
  width: 400px;
position: relative;
height: auto;
line-height: 1.1;
}


.ui_tpicker_hour {
  .ui-slider-horizontal {
position: relative;
left: 21px;
width: 190px;
}
}
.ui-item-menu {
  padding:10px;
  padding-left:15px;
}


/* Manage Follows */ 


#find_friends {
  font-size: 15px;
  height: auto;
  overflow: scroll;
  z-index: 1000000;
  margin: 0 auto;
  width: 900px;
  table {
    width: 23%;
    float: left;
    margin: 0 4px;
  }
  td {
    text-align: left;
  }
  .invite_all{
    position: relative;
    bottom: 65px;
    right: 92px;
    float: right;
    height: 0px;
  }
  h1 {
    text-align: left;
    margin-top:30px;
    margin-bottom: 30px;
  }
}

.search {
  float:right;
  position: relative;
  top:30px;
}

.search_users {
  width:130px;
}

.icon-check {
  color:#AAAAAA;
  &:hover {
    color:#0E8C3A;
  }
}

.icon-remove-sign {
  color:#AAAAAA;
  &:hover {
    color:$destroy;
  }
}

#settings {
width: 500px;
height: 100%;
margin: 0 auto;
line-height: 1.5;
  form {
    input[type=text], input[type=email], input[type=password], select {
      width:380px;
    }
  select {
    height:40px;
  }
  }
}

#user-settings {
  width:240px;
  height:140px;
}

#personal {
width: 705px;
margin-top: 25px;
margin-bottom: 25px;
  .fb_button {
float: right;
position: absolute;
top: 28px;
right: 520px;
  }
}

#feedback {
position: fixed;
bottom: 20%;
right: -29px;
width: 85px;
z-index: 1000;
-webkit-transform: rotate(-90deg);
-moz-transform: rotate(-90deg);
-o-transform: rotate(-90deg);
-ms-transform: rotate(-90deg);
    a {
background: #EB8325;
height: 15px;
padding: 6px 7px;
color: white;
font-family: Arial, sans-serif;
font-size: 14px;
font-weight: bold;
text-decoration: none;
    &:hover { 
      background: #EE9100;
    }
  }
}

.fb_button {
height: 0;
margin-top: 0px;
margin-bottom: 30px;
width: 210px;
}

.fb_login_button {
  position: relative;
bottom: 33px;
right: 140px;
}

.login_buttons {
  position: relative;
top: 10px;
}

.links_fb_btn {
  position: relative;
  left: 25px;
}

/* EVENT#SHOW */

.event_show {
background: white;
top: 10px;
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
border: 1px solid $divider;
position: relative;
margin-bottom: 80px;
  .event_details {
    clear: both;
border-top: 1px dotted $divider;
padding: 10px;
  }
  .promo_img {
text-align: center;
padding: 0;
float: left;
margin: 5px;
min-height: 50px;
    img {
    }
  }
  .promo_vid {
    text-align: center;
    clear: both;
    img {
      width: 104%;
    }
  }
  > div {
    -webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
  }
  .ui-tabs, .ui-widget, .ui-widget-content, .ui-corner-all {
    -moz-border: 0px/*{cornerRadius}*/;
-webkit-border: 0px/*{cornerRadius}*/;
-khtml-border: 0px/*{cornerRadius}*/;
border: 0px/*{cornerRadius}*/;
    -moz-border-radius: 0px/*{cornerRadius}*/;
-webkit-border-radius: 0px/*{cornerRadius}*/;
-khtml-border-radius: 0px/*{cornerRadius}*/;
border-radius: 0px/*{cornerRadius}*/;
background:none;
  }
  .when {
font-size: 20px;
height: auto;
line-height: 1.4;
position: relative;
clear: both;
background: url("low_contrast_linen.png");
color: white;
float: left;
margin: 0px 0 5px 0;
width: 100%;
padding: 0px 20px;
.out {
  position: relative;
  top: -10px;
  left: 3px;
}
 .join_group_buttons {
  clear:both;
i.icon-circle {
  color:$rsvp;
}
}
  }
.guests{
  float:right;
  position: relative;
  top: 9px;
  right: 10px;
}

}

.when {
.guests {
  float: right;
margin-top: 10px;
margin-right: 6px;
}
}

  .event_guests {
  background-color: $background_one;
  .guest_count {
    float: left;
margin-bottom: 10px;
  }
  }

.part {
  padding: 15px;
/*  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  border-radius: 7px;*/
-webkit-box-shadow: 0px 0px 9px rgba(50, 50, 50, 0.3);
-moz-box-shadow:    0px 0px 9px rgba(50, 50, 50, 0.3);
box-shadow: 0px 0px 9px rgba(50, 50, 50, 0.3);
  /*background-color: $background-one;*/
  color: black;
  background: white;
}

/*.title_bottom {
  float: left;
clear: left;
    span {
      vertical-align: top;
    }
}*/


.event_link {
float: right;
font-size: 17px;
}

.event_top {
  border-bottom: 1px solid $divider;
  height:auto;
}

.host {
font-size: 19px;
color: black;
position: relative;
line-height: 1.2;
height: 52px;
width: 48%;
  img {
    float:left;
  }
  div {
float: left;
vertical-align: top;
position: relative;
padding-left: 10px;
  }
}

.event_location{
float: left;
clear: both;
line-height: 1.2;
font-size: 18px;
    i {
      font-size: 22px;
    }
  }

.cost {
float: right;
font-size: 17px;
  }

.rsvp_blue {
  background-color:$rsvp;
    i {
    color:white;
  }
}

.join_group_buttons {
color: white;
width: 100%;
padding: 10px;
min-height: 45px;
  .rsvp_button {
float: left;
padding: 1px 11px;
margin: 0px 0;
  }
  .unrsvp_button{
    float: left;
    color: grey;
  }
}

.add_to_calendars {
float: right;
font-size: 40px;
position: relative;
top: 10px;
z-index: 1;
}

.social_buttons {
clear: both;
margin: 5px;
  li {
    display: inline;
    margin-right: -4px;
  }
}

.email_share {
-moz-box-shadow: inset 0px 1px 0px 0px white;
-webkit-box-shadow: inset 0px 1px 0px 0px white;
box-shadow: inset 0px 1px 0px 0px white;
background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, white), color-stop(1, #e3e3e3));
background: -moz-linear-gradient(center top, white 5%, #e3e3e3 100%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#e3e3e3');
background-color: #ffffff;
-moz-border-radius: 3px;
-webkit-border-radius: 3px;
border-radius: 3px;
border: 1px solid #c4c4c4;
color: #777777;
font-family: arial;
font-size: 12px;
font-weight: normal;
text-decoration: none;
text-shadow: 1px 1px 0px white;
text-align: center;
font-size: 16px;
display: inline-block;
padding-top: 5px;
padding-bottom: 3px;
  a {
     color:#777777; 
    &:hover {
      color:#777777; 
    }
  }
}.email_share:hover {
  background-color:#e3e3e3;
}.email_share:active {
  position:relative;
  top:1px;
}

.event_title {
float: left;
position: relative;
font-size: 35px;
padding:5px;
width: 100%;
}

.event_description {
padding-top:5px;
font-size: 16px;
float: left;
letter-spacing: 1px;
overflow: hidden;
}

.event_buttons{
font-size: 20px;
padding: 6px 10px 0px 0px;
float: left;
position: relative;
bottom: 3px;
}

#invite_raster {
margin-top: 19px;
ul {
  position: relative; 
  top: 10px;
  margin: 0px 10px;
  display: inline;
  li {
    display: inline;
    cursor: pointer;
    img {
      padding:3px;
    }
  }
}
}

.event_show_friend {
float: left;
width: 68px;
text-align: center;
height: 100px;
font-size: 14px;
top: 16px;
position: relative;
}

.ui-state-hover {
  color:white;
  text-decoration: underline;
}



/*COMMENTS*/

.comments_form {
float: left;
width: 100%;
background-color: rgba(204, 204, 204,.3);
position: relative;
z-index: 0;
left: 0px;
height: auto;
border: 1px solid $divider;
padding: 10px;
  img {
    float:left;
    width: 33px;
    height: 33px;
  }
  textarea {
width: 69%;
float: left;
height: 41px;
position: relative;
left: 14px;
  }
  input[type=text] {
position: relative;
left: 47px;
margin-top: 5px;
width: 77%;
  }
  .btn {
position: relative;
padding: 17px 7px 21px 7px;
-webkit-border-radius: 0 7px 7px 0;
-moz-border-radius: 0 7px 7px 0;
border-radius: 0 7px 7px 0;
float: left;
left: 6px;
width: 10%;
min-width: 34px;
  }
  .field {
    margin-left:10px;
  }
  .checkbox {
position: relative;
font-size: 22px;
float: right;
left: 10px;
top: 9px;
    i {
      position: relative;
      top: 3px;
      left: 2px;
    }
  }
}

.comment_char_counter {
  position: relative;
right: -54px;
color: #afafaf;
}

.comment {
height: auto;
margin-top: 5px;
border-top: 1px solid $divider;
float: left;
width: 100%;
padding-top: 7px;
}

.comment_content {
font-size: 1.1em;
float: left;
padding-left: 20px;
line-height: 1;
max-width: 67%;
}

.comment_data {
float: right;
a{
  color:lightgrey;
  font-size:14px;
  position: relative;
  bottom: 20px;
    &:hover{
  color:$destroy;
  -webkit-transition: color .25s linear .1s;
  transition: color .25s linear .1s;
  }
}
}

.comment_creator {
  font-size: 13px;
  color:black;
  font-style: italic;

}

.comment_created_at {
  font-size: 12px;
  color:grey;
  font-style: italic;
}



/* forms */

input.error, textarea.error {
  -webkit-box-shadow:  1px 15px $destroy;
-moz-box-shadow:   1px 1px 15px $destroy;
box-shadow:         1px 1px 15px $destroy;
  outline:none;
}

label.error {
  float:left;
  color:black;
  background-color: inherit;
}

::-webkit-input-placeholder {
   font-style: italic;
   color:grey;
   font-size:14px;
   line-height: 1.3;
}

:-moz-placeholder {  
   font-style: italic;
   color:grey;
   font-size:14px;
   line-height: 1.3;
}

:-ms-input-placeholder { 
   font-style: italic;
   color:grey;
   font-size:14px;
   line-height: 1.3;
  }/* ie */
input:-moz-placeholder { 
   font-style: italic;
   color:grey;
   font-size:14px;
   line-height: 1.3;
 }

form {
margin: 0 0 0 0;
}

label {
display: inline;
margin-bottom: 0px;
color: #333;
}

input[type=text], input[type=email], input[type=password], textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  padding: 10px;
  height: auto;
  margin-bottom: 0;
  color:#3E92E8;
  font-size:15px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
}

textarea {
  font-size: 15px;
}

.sign_up {
  margin: 7px auto;
    h2 {
    width: 100%;
  }
  input[type=email], input[type=text], input[type=submit], input[type=password]{
    font-size: 23px;
    margin-bottom: 10px;
    margin-top:5px;
  }
  label {
    font-size: 15px;
    color: #404040;
  }
  input[type=checkbox]{
    width:20px;
  }
  #user_city, #user_time_zone {
    height: 46px;
    width: 400px;
  }
  input[type=radio] {
    margin: 20px 10px;
  }
  input[type=text].zip {
    width: 72px;
    float:left;
    margin-right:20px;
  }
  select {
    font-size:21px;
    height: 45px;
    margin: 8px 0 10px 0px;
  }
  .zip {
    float:left;
  }
  .country {
    float:right;
  }
  .phone_number {
    clear:both;
  }
  .routing_number {
    position: relative;
right: 50px;
  }
}


.family_filter {
  text-align: center;
}

#sign_in {
margin: 7px auto;
position: relative;
  input[type=email],input[type=password],input[type=text] {
    font-size: 23px;
    margin-bottom: 10px;
    margin-top:5px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    width:95%;
  }
  label {
    font-size: 15px;
    color: #404040;
  }
  input[type=checkbox]{
    width:28px;
  }
}

/* css for timepicker */
.ui-timepicker-div .ui-widget-header { margin-bottom: 8px; }
.ui-timepicker-div dl { text-align: left; }
.ui-timepicker-div dl dt { height: 25px; margin-bottom: -25px; }
.ui-timepicker-div dl dd { margin: 0 10px 10px 65px; }
.ui-timepicker-div td { font-size: 90%; }
.ui-tpicker-grid-label { background: none; border: none; margin: 0; padding: 0; }

.ui-timepicker-rtl{ direction: rtl; }
.ui-timepicker-rtl dl { text-align: right; }
.ui-timepicker-rtl dl dd { margin: 0 65px 10px 10px; }


.ui-slider-horizontal {
  position: relative;
left: 21px;
width: 230px;
}

.ui_tpicker_minute_slider{
  width: 100px;
}

/*NEW IDEA*/

.event_form {
  margin: 0 auto;
  max-width: 460px;
  padding:0 7px;
  .ui-button-text {
  font-size: 12px;
  color: white
}
  p{
    line-height: 1;
margin: 0px 0px 10px 0;
  }
 textarea {
font-size: 17px;
line-height: 24px;
width: 87%;
margin-top: 5px;
-webkit-border-radius: 8px;
-moz-border-radius: 8px;
border-radius: 8px;
height: 60px;
  }
  label {
    font-size: 19px;
    color: #404040;
    line-height: 1.3;
  }
  input[type=radio]{
    width:18px;
    margin-left: 10px;
    margin-bottom:30px;
  }
  .dollar {
display: inline;
margin-left: 19px;
font-size: 22px;
    }
  div.minmax {
width: 100%;
float: left;
position: relative;
height: 81px;
    > u {
text-decoration: none;
width: 45%;
float: left;
margin-bottom: 20px;
margin-left: 12px;
    input {
text-align: center;
font-size: 27px;
width: 64%;
    }
    label {
      width: 210px;
    }
  }
  }
  div.invitation_options > u {
  text-decoration: none;
  width: 49%;
  float: left;
  margin-bottom: 20px;
  margin-left: 3px;
      input {
      text-align: center;
      font-size: 27px;
      width: 80px;
    }
}
.starts_at {
width: 73%;
float: left;
margin-top: 5px;
font-size: 20px;
margin-bottom: 5px;
input {
  width: 90%;
}
  }
.duration {
    width: 24%;
margin-left: 5px;
font-size: 20px;
float: left;
margin-top: 5px;
margin-bottom: 10px;
  input {
    width: 45%;
    margin: 7px 0;
    font-size: 20px;
  }

  }
  input.link {
    width: 345px;
    margin-bottom:18px;
  }
  ul {
float: left;
margin-top: 20px;
margin-right: 12px;
margin-bottom: 14px;
    li {
    display: inline;
    }
  }
}

.one_time_bool {
  margin-bottom:10px;
  i {
    font-weight: bold;
  }
}

.new_idea_button {
  input[type=submit]{
padding: 11px 30px 11px 30px;
font-size: 20px;
float:left;
  }
}

.new_idea_map {
width: 440px;
height: 200px;
border: 1px solid #DDD;
margin-top: 10px;
}

#radio {
  float:left;
  margin: 10px 10px 25px 10px;
}

#addLink, #addDateTime, #addmap, #addimg, #addcost, #addvid, #visibility {
  cursor:pointer;
  color:black;
  text-decoration: none;
  line-height: 1.2;
  &:hover{
    color:$dark_orange;
    -webkit-transition: color .25s linear .1s;
    transition: color .25s linear .1s;
  }
}

.not_time_options {
    float: left;
padding-top: 6px;
border-top: 1px solid $divider;
margin-top: 15px;
width: 100%;
}

#addLinkp, #addmapp, #addimgp, #addvidp {
  float:left;
  margin-bottom: 15px;
  width: 100%;
  input {
    margin-left: 5px;
    width: 82%;
  }
}

#addLinkp {
  input {
    width: 79%;
  }
}

#addcostp {
  float:left;
  margin-bottom: 15px;
  width: 100%;
  input {
    margin-left: 5px;
    width: 85px;
  }
}

#error_explanation {
  color: #f00;
  ul {
    list-style: none;
    margin: 0 0 18px 0;
  }
}

.field_with_errors {
  @extend .control-group;
  @extend .error;
}


/*ADMIN DASHBOARD*/

.admin {
  margin: 0 auto;
  width: 960px;
  h1 {
    clear:both;
  }
  dd {
    margin:20px;
  }
}

.dollar {
  font-size: 44px;
}

input[type=file] {
font-size: 20px;
margin: 14px 36px;
height: 25px;
line-height: 10px;
}

.guests_groups {
  clear:both;
}

.activities {
    position: relative;
    overflow: hidden;
}

.activity_guests {
  min-height:120px;
  overflow:auto;
  > ul > li {
    margin-left: 20px;
  }
}

.group {
    text-align: center;
    float: left;
    width: 96px;
    height: 180px;
}

.groups {
  clear:both;
  }

.activity_time {
  font-weight: bold;
}

.profile_stats {
font-size: 17px;
position: absolute;
width: 212px;
margin-left: 10px;
text-align: center;
top: 68px;
left: 110px;
  li {
float: left;
width: 33%;
}
}

.home_profile {
  clear:both;
  color:white;
  padding:10px 20px;
  height: 88px;
  img {
    border-radius: 7px;
    width: 100px;
    position: absolute;
    top: 20px;
  }
  .show_name {
position: absolute;
left: 130px;
font-size: 22px;
top: 20px;
  }
  .show_city {
position: absolute;
font-size: 15px;
left: 130px;
top: 44px;
  }
  .show_friend {
    float: right;
    position: relative;
    bottom: 10px;
  }
}

.user_friends_count {
font-size: 14px;
}


.future_events {
  margin-top: 40px;
  clear:both;
  h3 {
    position: relative;
    left:30px;
  }
}
.past_events {
  clear: both;
border-top: 1px solid $divider;
margin-top: 50px;
  h3 {
    position: relative;
    left: 30px;
  }
}

.eventIcons {
  float:right;
  margin-right:10px;
}

.fb-login-button {
  img {
    width: 25px;
  }
}

.ui-datepicker {
  width:16em;
}

.divider_line {
  border-bottom: 1px solid $divider;
margin: 25px 0px;
clear:both;
}

.cards {
  background-image: url("credit_card_logos_homepage.png");
  background-repeat: no-repeat;
  width: 380px;
  height: 30px;
  background-position-x: center;
}

.credit_card_form {
margin: 0 auto;
background-color: white;
border: 1px solid $divider;
padding: 15px 30px 15px 30px;
min-height: 380px;
position: relative;
  .card_number {

  }
  .expiration_month_year {
    float:left;
    .month {
      width: 43px;
    }
    .year {
      width: 63px;
    }
  }
  .security_code {
    float:right;
    margin-left: 30px;
    input {
      width:45px;
    }
    img {
      position: relative;
      right: -6px;
      width: 56px;
      top: 8px;
    }
  }
  button {
    position: absolute;
right: 30px;
bottom: 20px;
  }
}

.credit_cards {
  td, th {
    text-align: center;
  }
}

.ajax_loader {
background-image: url("ajax_loader.gif");
position: absolute;
left: 197px;
bottom: 27px;
background-size: 32px;
width: 33px;
height: 33px;
background-repeat: no-repeat;

}

.small_ajax_loader {
background-image: url("ajax_loader.gif");
position: absolute;
left: -2px;
top: 1px;
background-size: 15px;
width: 23px;
height: 23px;
background-repeat: no-repeat;
}

.hidden{
  position: absolute; 
  left:-99999px;
}

#new_idea_blerb {
width: 72%;
  height:21px;
}

.border_bottom {
border-bottom: 1px solid $divider;
padding: 12px 0;
}
    
.not_signed_in_pitch {
padding: 10px 20px 10px 20px;
height: 80px;
margin: 0 auto;
max-width: 100%;
position: relative;
background-color: $background_one;
border-radius: 0 0 10px 10px;
z-index: -1;
-webkit-box-shadow: 0px 0px 9px rgba(50, 50, 50, 0.3);
-moz-box-shadow:    0px 0px 9px rgba(50, 50, 50, 0.3);
box-shadow: 0px 0px 9px rgba(50, 50, 50, 0.3);

.text {
line-height: 1.2;
float: left;
width: 61%;
font-size: 1.2em;
position: relative;
top: 12px;
}
  .btn_fb_login {
width: 267px;
background-size: 99%;
height: 45px;
right: 386px;
top: 6px;
  &:hover {
  background-position: -4px -58px; 
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
}
  }

  .fb_login_button {
    position: relative;
    bottom: -2px;
    height: 37px;
    padding-left: 0px;
    left: 48px;
    }
}

.city_title {   
    color: grey;
    font-weight: 100;
  }

.login {
  position: relative;
  top: 18px;
}

.warm_orange {
  color: #EB8325;
}

.green {
  color: $happening;
}
.orange {
  color: $dark_orange;
}
.fb_blue {
  color: $fbblue;
}
.twitter_blue {
  color: $twitter_blue;
}
.blue {
  color: $rsvp;
}
.purple {
  color: $icon_color;
}


.shield_bottom {
color: white;
background: url("low_contrast_linen.png");
position: relative;
border-top: 1px solid $divider;
clear: both;
top: 1px;
  #guestCount {
    font-size: 16px;
    margin-left: 5px;
    top: -4px;
  }
  .guest_count {
    margin-right: 10px;
    float:right;
  }
}

.shield_top {
  padding: 6px 6px 0px 6px;
  height: 22px;
  span {
    position: relative;
  }
  .guests {
    top:4px;
    #guestCount {
      margin: 0px 2px 0px 0px;
position: relative;
bottom: 1px;
font-size: 19px;
    }
  }
}

.instructions {
  left: 240px;
cursor: pointer;
float: left;
position: relative;
top: 17px;

}

.rsvp_btn {
  float: left;
}

#ajaxLoader img {
  width: 32px;
}

#hoosin_friends_tab span, #fb_friends_tab span {
    position: relative;
    bottom: 14px;
}

.joyride-content-wrapper {
padding: 20px 20px 25px 25px;
line-height: 1.7;
text-align: center;
font-family: bariol ,Arial,sans-serif;
letter-spacing: 1px;
}
.joyride-tip-guide span.joyride-nub.top {
  top:-27px;
  border-color: $light_orange;
}

.jr_welcome {
}

.jr_forecast {
width: 62%;
text-align: center;
height: 130px;
line-height: 89px;
}

.jr_search {

}

.jr_stats {

}

.jr_sidebar {

}

.joyride-tip-guide {
  background: rgba(255, 255, 255, 1);
color: black;
box-shadow: 6px 6px 23px 3px rgba(0, 0, 0, 0.6);
}

.joyride-close-tip {
  color: rgba(0, 0, 0, 0.4) !important;
  &:hover {
    color: rgba(0, 0, 0, 0.8) !important;
  }
}
.joyride-tip-guide a.fadeInFBBlue {
    color:$before_hover;
  &:hover{
  color:#3A5998;
  -webkit-transition: color .25s linear .1s;
  transition: color .25s linear .1s;
  }
}
.joyride-tip-guide a.fadeInTwitter {
  color:$before_hover;
  &:hover{
  color:#01CBFB;
  -webkit-transition: color .25s linear .1s;
  transition: color .25s linear .1s;
  }
}

.jr_share {
  a {
    font-size: 49px;
  }
}

#eventStartsAtAndDuration {
  position: relative;
top: 7px;
}

#new_idea_title {
  width: 87%;
}

.sample_title {
  color:grey;
  font-size: 20px;
  clear:both;
  margin:10px 0 10px 0;
}

.title_char_counter {
  float:right;
  position: relative;
  right: 35px;
  color:$charCounter;
}

#categories {
  select{
    width: 390px;
    margin-bottom: 10px;
  }
}


.highcharts-container {
  float: left;
  margin: 10px;
}

.disabled {
  background-color:#f0f0f0;

}

#overlay {
  width: 100%;
height: 100%;
background-color: rgba(0, 0, 0, 0.4);
position: absolute;
top: 0;
right: 0;
z-index: 3;
}

.invite_radios {
  margin-top:5px;
  input[type=radio] {
    margin-bottom: 15px;
  }
  div {
    float: left;
    width: 33%;
    margin-bottom:10px;
  }
  label {
    font-size: 20px;
  }
}

.share_after_rsvp {
background-color: white;
position: fixed;
z-index: 4;
top: 5%;
  #close {
  position: absolute;
  right: 10px;
  top: 10px;
  cursor: pointer;
  }
  h3 {
  text-align: center;
  }
  #invite_raster {
    width:100%;
    max-height: 300px;
  }
}

.calendars {
  div {
   width: 50%;
    float:left;
    text-align: center;
    img {
      width: 100px;
    }
  }
}

.social_sharing {
  a, a[href^="mailto"] {
float: left;
height: 36px;
padding-top: 7px;
line-height: 1;
  }
}

#calendars {
float: right;
position: absolute;
height: 77px;
right: 5px;
top: 3px;
  li {
    img {
      width: 35px;
    }
  }
}

.unfriend {
  padding: 0px 2px;
font-size: 11px;
}

.shared_already {
  color:lightgrey;
}

#togglePitch {
  position: absolute;
top: -1px;
cursor: pointer;
color: lightGrey;
right: 7px;
}

.add_time {
  text-align: center;
border-top: 1px solid lightgrey;
padding-top: 8px;
clear: both;
padding-bottom: 8px;
}

.parent {
  padding:5px;
}

.let_me_in {
  cursor: pointer;
  cursor: hand;
  background-color: transparent;
  text-decoration: none;
  border:none;
  color: lightgrey;
    &:hover {
    color:$rsvp;
    text-decoration: underline;
  }
}

.out {
cursor: pointer;
background-color: transparent;
text-decoration: none;
border: none;
font-size: 24px;
color: lightgrey;
z-index: 1;
position: relative;
left: 3px;
text-align: left;
    &:hover{
    text-decoration:none;
    color:$destroy;
    -webkit-transition: color .25s linear .1s;
    transition: color .25s linear .1s;
  }
}

.out_text {
  font-size: 14px;
padding: 0 2px;
height: 20px;
line-height: 7px;
}

.new_time_show {
  clear: both;
border-top: 1px solid $divider;
font-size: 23px;
text-align: center;
}

#eventOptions {
  float: left;
  width: 100%;
}

.idea_filter {
  position: fixed;
bottom: 91px;
font-size: 180px;
color: #FFFBF7;
text-shadow: grey 1px 1px 1px;
z-index: -1;
}

.login_facebook {
padding: 17px;
margin: -8px 22px -2px 22px;
}

.or {
  text-align: center;
  margin:10px;
  color:grey;
}

.show_facepile {
margin-top: 10px;
margin-bottom: -10px;
float: left;
clear: left;
img.profile_picture {
  width: 36px;
height: 36px;
}
#guestCount {
  position: relative;
bottom: 6px;
}
}

ul.ui-autocomplete {
  position: absolute;
  list-style: none;
  margin: 0;
  padding: 0;
  border: solid 1px #999;
  cursor: default;
  li {
    background-color: #FFF;
    border-top: solid 1px #DDD;
    margin: 0;
    padding: 0;
    a {
      color: #000;
      display: block;
      padding: 3px;
    }
    a.ui-state-hover, a.ui-state-active {
      background-color: #FFFCB2;
    }
  }
}

.time_settings {
position: absolute;
right: 10px;
bottom: 10px;
 li {
  display: inline;
 }
}

.not_signed_in_buttons {
  margin-top:10px;
  text-align: center;
}

.facepile {
clear: both;
width: 98%;
text-align: left;
margin-left: 5px;
float: left;
  .profile_picture {
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    background-color: white;
    width: 24px;
    height: 24px;
    border-radius: 4px;
    margin-left: -2px;
  }
}

.hoosinvite {
  position: relative;
top: 2px;
}

.suggested_friends {
table.user {
margin: 10px;
}
}

.wrapper {

}

.mini_calendar {
background: url("low_contrast_linen.png");
float: left;
padding-top: 10px;
}

.home_idea_container {
top: 94px;
}

.idea_container {
  margin: 0 auto;
  width: 106%;
}


.idea {
/*  opacity: .90;
border: 0;
border-radius: 7px;*/
}

.inmates_bar {
position: absolute;
z-index: 2;
padding: 10px;
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
top: 145px;
width: 350px;
left: -350px;
  img {
    width:37px;
    height:37px;
  }
}

#showInmates {
cursor: pointer;
float: right;
background-color: white;
color: #999;
left: 99px;
position: relative;
padding: 5px;
bottom: 10px;
  &:hover {   
    background-color: rgb(235, 235, 235);
    -webkit-transition: background-color .25s linear .1s;
    transition: background-color .25s linear .1s;
  }
}

#showCalendar {
  cursor: pointer;
float: right;
background-color: rgb(77, 77, 77);
color: white;
left: 94px;
position: relative;
padding: 5px;
bottom: 10px;
  &:hover {   
    background-color: black;
    -webkit-transition: background-color .25s linear .1s;
    transition: background-color .25s linear .1s;
  }
}

.friends {
  min-height: 200px;
  border:1px solid $divider;
  padding:10px;
}

.inmates {
  border:1px solid $divider;
  padding:10px;
}


.user {
  clear:both;
  img {
    width: 37px;
    height: 37px;
  }
  div {
    float:left;
  }
  .friend_name {
    position: relative;
    top: 9px;
    margin-left: 10px;
  }
  .friend_button {
    float:right;
  }
  .ignore_inmate {
  float: right;
  position: relative;
  top: 9px;
  right: 3px;
  a {
    &:hover{
    color:$destroy;
    }
  }
}
}

.in {
  
}

.settings{
  position: absolute;
right: 12px;
bottom: 7px;
}

.filters {
  text-align: center;
font-size: 25px;
padding: 14px;
span {
  cursor: pointer;
}
}

.hidden_options {
margin-top: 10px;
padding-top: 10px;
border-top: 1px solid $divider;
}

.icon_color {
  color:$icon_color;
}

#follow_form {
  form {
    display: inline;
  }
}

/*.mini_calendar_explanation {
color: white;
font-size: 25px;
width: 240px;
text-align: center;
margin: 0 auto;
margin-top: 27px;
border: 1px solid white;
padding: 22px 14px;
background: rgba(255,255,255,0.06);
margin-bottom: 100%;
.btn-new-idea {
  position: relative;
top: -1px;
border: none;
}
}
*/
.rsvp_to_time {
text-align: center;
width: 180px;
margin: 0 auto;
  form {
    float: left;
  }
  .btn{
    width: 90px;
    font-size: 26px;
    padding: 12px;
  }
}

.join_next_time {
margin-top: 20px;
padding-top: 10px;
border-top: 1px solid $divider;
}

.not_rsvpd {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=75)";
filter: alpha(opacity=65);
-moz-opacity: 0.65;
-khtml-opacity: 0.65;
opacity: 0.65;
}

.explainer_arrows {
  i {
    font-size:30px;
  }
  .icon-arrow-right {
position: relative;
bottom: 4px;
font-size: 20px;
padding: 0 10px;
  }
}

.pointer {
  cursor:pointer;
}


.flakeout {
  a{
    color:$divider;
    font-size:11px;
    &:hover {
      text-decoration:none;
      color:$destroy;
      -webkit-transition: color .25s linear .1s;
      transition: color .25s linear .1s;
    }
  }
}



/* ribbon style */

 .ribbon-wrapper {
  right: 10px;
  position: relative;
  border-bottom: 0px solid #808080;
  border-top: 10px solid #808080;
  -moz-border-bottom-colors: rgba(0, 0, 0, 0.02) rgba(0, 0, 0, 0.04) rgba(0, 0, 0, 0.06) rgba(0, 0, 0, 0.08) rgba(0, 0, 0, 0.10) rgba(0, 0, 0, 0.12) rgba(0, 0, 0, 0.14) rgba(0, 0, 0, 0.16) rgba(0, 0, 0, 0.18) rgba(0, 0, 0, 0.20);
  -webkit-border-bottom-colors: rgba(0, 0, 0, 0.02) rgba(0, 0, 0, 0.04) rgba(0, 0, 0, 0.06) rgba(0, 0, 0, 0.08) rgba(0, 0, 0, 0.10) rgba(0, 0, 0, 0.12) rgba(0, 0, 0, 0.14) rgba(0, 0, 0, 0.16) rgba(0, 0, 0, 0.18) rgba(0, 0, 0, 0.20);
  -moz-border-top-colors: rgba(0, 0, 0, 0.02) rgba(0, 0, 0, 0.04) rgba(0, 0, 0, 0.06) rgba(0, 0, 0, 0.08) rgba(0, 0, 0, 0.10) rgba(0, 0, 0, 0.12) rgba(0, 0, 0, 0.14) rgba(0, 0, 0, 0.16) rgba(0, 0, 0, 0.18) rgba(0, 0, 0, 0.20);
  -webkit-border-top-colors: rgba(0, 0, 0, 0.02) rgba(0, 0, 0, 0.04) rgba(0, 0, 0, 0.06) rgba(0, 0, 0, 0.08) rgba(0, 0, 0, 0.10) rgba(0, 0, 0, 0.12) rgba(0, 0, 0, 0.14) rgba(0, 0, 0, 0.16) rgba(0, 0, 0, 0.18) rgba(0, 0, 0, 0.20);
}
  .ribbon-front {
    font-size: 23px;
    text-align: center;
    padding-top: 5px;
    height: 31px;
    letter-spacing: 1px;
  float: left;
  background-color: #FF9933;
  width: 110px;
  position: relative;
  left:-10px;
  z-index: 2;
}

  .ribbon-front,
  .ribbon-back-left,
  .ribbon-back-right
{
  -moz-box-shadow: 0px 0px 4px rgba(0,0,0,0.55);
  -khtml-box-shadow: 0px 0px 4px rgba(0,0,0,0.55);
  -webkit-box-shadow: 0px 0px 4px rgba(0,0,0,0.55);
  -o-box-shadow: 0px 0px 4px rgba(0,0,0,0.55);
}

  .ribbon-edge-topleft,
  .ribbon-edge-topright,
  .ribbon-edge-bottomleft,
  .ribbon-edge-bottomright {
  position: absolute;
  z-index: 1;
  border-style:solid;
  height:0px;
  width:0px;
}

  .ribbon-edge-topleft,
  .ribbon-edge-topright {
}

  .ribbon-edge-bottomleft,
  .ribbon-edge-bottomright {
  top: 40px;
}

  .ribbon-edge-topleft,
  .ribbon-edge-bottomleft {
  left: -10px;
  border-color: transparent #FF9933 transparent transparent;
}

  .ribbon-edge-topleft {
  top: -10px;
  border-width: 10px 10px 0 0;
}
  .ribbon-edge-bottomleft {
  border-width: 0 10px 0px 0;
}

  .ribbon-edge-topright,
  .ribbon-edge-bottomright {
  left: 100px;
  border-color: transparent transparent transparent #FF9933;
}

  .ribbon-edge-topright {
  top: 0px;
  border-width: 0px 0 0 0px;
}
  .ribbon-edge-bottomright {
  border-width: 0 0 0px 0px;
}

  .ribbon-back-left {
  position: absolute;
  top: -10px;
  left: -30px;
  width: 30px;
  height: 32px;
  background-color: #F2B041;  z-index: 0;
}

  .ribbon-back-right {
  position: absolute;
  top: 0px;
  right: 0px;
  width: 0px;
  height: 40px;
    z-index: 0;
}

/*DIFFERENT RIBBON*/

u.creator{
  text-decoration: none;
position: relative;
color: #fff;
background: rgba(255, 112, 0, 0.8);
font-weight: bold;
font-size: .8em;
float: right;
padding: 6px 17px 4px 9px;
margin-right: -19px;
-moz-box-shadow: -2px 2px 0 rgba(0, 0, 0, 0.1);
-webkit-box-shadow: -2px 2px 0 rgba(0, 0, 0, 0.1);
-o-box-shadow: -2px 2px 0 rgba(0, 0, 0, 0.1);
box-shadow: -2px 2px 0 rgba(0, 0, 0, 0.1);
  &:before{
    content:" ";
    right: 0;
    left: auto;
    display:block;
    width:10px;
    height:10px;
    position:absolute;
    bottom:0;
    margin-bottom:-10px;
    z-index:-1;
  }
}


.selected {
  font-weight: bold;
}

.unselected {
  color:lightgrey;
  &:hover {
  color:black;
  -webkit-transition: color .25s linear .1s;
  transition: color .25s linear .1s;
  }
}

.container_wrapper {
margin: 0 auto;
float: left;
padding-top: 10px;
margin-left: 2%;
}

#editCity {
  font-size: 12px;
color: grey;
margin-left: 3px;
}

.user_shield {
  background: url("low_contrast_linen.png");
  color:white;
  .event_blerb {
    font-size: 35px;
  }
  .promo_img img {
    border-radius: 7px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
  }
}

.new_crowd_idea {
background: white;
border: 1px solid #cccccc;
padding: 5px;
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
margin: 0 2%;
margin-top: 20px;
}

.fancybox-iframe {
  height: 98%;
  width: 99%;
  position: relative;
  left: 4px;
}

.hi_video {
  img {
    width:100%;
  }
}

.not_signed_in_logo {
  img {
    width:80%;
  }
}

.in_on_idea {
  font-size: 27px;
  form {
    display: inline;
  }
}

.creator_settings {
position: absolute;
right: 10px;
top: -39px;
}

.where {
  float: left;
width: auto;
clear: left;
}
.city_name {
  color:$headerText;
}

.no_invites {

}

.no_ins {

}

#invitesWrapper {
  min-height: 120px;
}

.invites_arrow {
width: 100px;
position: absolute;
right: 468px;
z-index: 3;
-webkit-transform: rotate(-62deg);
-o-transform: rotate(-62deg);
-moz-transform: rotate(-62deg);
-ms-transform: rotate(-62deg);
filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=-1);
top: -16px;
}

.ins_arrow {
width: 250px;
position: absolute;
right: -5px;
top: 60px;
-moz-transform: scaleX(-1) rotate(-119deg);
-o-transform: scaleX(-1) rotate(-119deg);
-webkit-transform: scaleX(-1) rotate(-119deg);
transform: scaleX(-1) rotate(-119deg);
-ms-filter: "FlipH" rotate(-119deg);
z-index: -2;
}

.in_check {
  cursor: pointer;
background-color: transparent;
text-decoration: none;
border: none;
font-size: 24px;
color: lightgrey;
z-index: 1;
position: relative;
text-align: left;

}

#status {
  left: 10px;
  top: 5px;
font-size: 19px;
}

.one_time_notice {
  text-align: center;
background: rgb(190, 190, 190);
float: left;
width: 100%;
padding: 10px 0;
font-size: 19px;
}

#fbSendInvite {
  font-size: 18px;
  cursor: pointer;
  color: darkblue;
  clear:both;
  text-align: center;
}

.pick-city {
  width:400px;
margin: 7px auto;
position: relative;
  input[type=email],input[type=password],input[type=text] {
    font-size: 23px;
    margin-bottom: 10px;
    margin-top:5px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    width:95%;
  }
  label {
    font-size: 15px;
    color: #404040;
  }
  input[type=checkbox]{
    width:28px;
  }
}

.each_day {
  width: 340px;
padding-left: 10px;
}

.mini_calendar_days {
position: relative;
top: 55px;
}

.settings_logout {
  position: absolute;
top: 127px;
font-size: 11px;
left: 29px;
z-index: 2;
}

#invites, #ins {
  cursor:pointer;
}

.unselected {
  color:lightgrey;
  &:hover{
    color:black;
    -webkit-transition: color .25s linear .1s;
    transition: color .25s linear .1s;
  }
}

.ideas_and_times {
  font-size: 45px;
  color:black;
  text-align: center;
  .friend_star, .inmate_star {
    font-size:35px;
  }
  .icon-calendar {
    color:$dark_orange;
  }
  .icon-cloud {
    color:$icon_color;
  }
}

.no_invites, .no_ins {
max-width: 500px;
margin: 0 auto;
padding: 15px 10%;
background-color: $background-one;
width: 124%;
margin-top: 30px;
  li {
    font-size: 1.3em;
    line-height: 1.4em;
  }
}
.share_on_fb {
position: relative;
bottom: 4px;
}