<div class="container">
<footer class="footer">
    <ul>
      <li>&#169; 2013 hoos.inc </li> |
      <li><%= link_to "about", about_path %></li> | 
      <li><%= link_to "blog", "http://blog.hoos.in" %></li> |
      <li><%= link_to "opportunities", careers_path %></li> |
      <li><%= link_to "terms", terms_path, :html => { :target => "_blank" } %></li>
    </ul>
</footer>
</div>