<header>
  <nav>
    <dl class="dropdown">
      <dt><a href="#"><span>^</span></a></dt>
      <dd>
        <ul>
          <% if user_signed_in? %>
            <li>
              <%= link_to destroy_user_session_path, :method => :delete do %>
                <i class='icon-signout logout fadeInRed'></i>logout
              <% end %>
            </li>
            <li>
              <%= link_to edit_user_registration_path do %>
                <i class='icon-wrench user_settings fadeInOrange'></i>settings
              <% end %>
            </li>
            <% else %>
            <li>
              <%= link_icon("Login", new_user_session_path,"signin","","") %>
            </li>
          <% end %>
        </ul>
      </dd>
    </dl>
  </nav>
</header>