<header class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <% if user_signed_in? %>
      <%= link_to "Calenshare", '/home', id: "logo" %>
      <% else %>
      <%= link_to "Calenshare", '/', id: "logo" %>
      <% end %>
      <nav>
        <ul class="nav pull-right">
          <% if user_signed_in? %>
            <li id="fat-menu" class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown"><b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
                <li><%= link_to "Settings", edit_user_registration_path %></li>
                <li class="divider"></li>
                <li>
                  <%= link_to "Logout", destroy_user_session_path, :method => :delete, id: 'auth-logoutlink' %>
                </li>
              </ul>
            </li>
          <% end %>
        </ul>
      </nav>
    </div>
  </div>
</header>