<div class="sidebar part" id="sidebar">
  <% if user_signed_in? %>
    <%= render partial: 'layouts/stats' %>
</div>
<div class="upcoming_ideas part">
    <% if @my_plans.present? %>
      <% @my_plans.each do |mp| %>
        <%= render partial: 'shalendar/mini_event', locals: { :event => mp } %>
      <% end %>
    <% end %>
  <% else %>
    <%= render 'shared/not_signed_in_pitch' %>
  <% end %>
</div>