<%= yield %>
<br>
<p>Warm Regards,</p>
<br>
<br>
<p>The Calenshare Team</p>

<hr>

<p style="color:lightgrey; font-size:12px; font-style:italic;">Visit your settings page to <%= link_to "change notification settings", edit_user_registration_path, style: "color:black;" %>.</p>